[2021-07-06 00:13] therealyingtong opened #2 "Pre-load fixed constants into lookup tables"
In both state and EVM circuits, we have to check that certain inputs are within an allowed range of values. At keygen, these allowed values are loaded as fixed constants into lookup tables. The constants include:

- [ ] opcodes
- [ ] memory addresses
- [ ] storage addresses
- [ ] stack addresses (a 10-bit range, from 0..=1024)
- [ ] global counter (?)
- [ ] program counter (?)
- [ ] TBD: 8-bit loo

[2021-07-06 00:23] therealyingtong opened #3 "Bus mapping compression gadget"
Each witnessed bus mapping (of variable length) is compressed into a commitment. The committed bus mapping is passed in to both circuits as public input. The commitments are indexed by `global_counter`.

Within the circuit, we constrain a witnessed bus mapping at a certain `global_counter` to match the public input commitment at that `global_counter`.

Write a gadget to do this for variable-length

[2021-07-06 00:27] therealyingtong opened #4 "[State] Memory subcircuit constraints"
Constraints specified at https://hackmd.io/Nwd0e5AgTVSBWRQlp-Ving?view#Memory-Circuit.

Most of these constraints can be expressed in a single custom gate. However, the ordering constraints (`key > key_prev`, `gc` > `gc_prev`) will likely need a lookup table range constraint.

[2021-07-06 00:28] therealyingtong opened #5 "[State] Specify storage subcircuit constraints"

[2021-07-06 00:29] therealyingtong opened #6 "[State] Stack subcircuit constraints"
These have mostly been specified at https://hackmd.io/Nwd0e5AgTVSBWRQlp-Ving?view#Stack-Circuit.

[2021-07-06 02:00] spartucus commented on #6
Wonderful doc!

[2021-07-06 02:24] han0110 commented on #2
Memory addresses also have a maximum specified here https://github.com/ethereum/go-ethereum/blob/master/core/vm/gas_table.go#L38. The maximum `0x1FFFFFFFE0` is around `2^37`.

[2021-07-06 09:34] therealyingtong opened #7 "Monotonically increasing gadget"
Check that a list of witnessed values is monotonically increasing.

[2021-07-06 09:36] therealyingtong opened #8 "`is_zero` gadget"
Gadget to check if a witnessed value is zero.

[2021-07-06 09:37] therealyingtong opened #9 "[EVM] `ADD` example"
Implement the `ADD` opcode in the EVM circuit.

This requires a bus mapping as input.

[2021-07-19 12:47] ChihChengLiang opened #16 "Implementing the comparator circuit"
### What's wrong

We need a gadget to determine a > b, a<b, a==b, a>=b, or a <=b for 2 u256 values `a` and `b`.

### How are we fixing it

The table is specified in this note https://hackmd.io/6jzBI4nmRR-JvSG2TFHrDw

[2021-07-19 12:55] ChihChengLiang opened #17 "Implement the 8-bit word encoding"
### What's wrong

We plan to use the BN254 curve that supports a max integer of 2**254, which is less than a typical 256-bit word in EVM.

To work with EVM values in the circuit, we need to encode a 256-bit value into 8 bits chunks. Take `word256 = 1` example, the corresponding 8 bit words is `word8s = [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]`.

Other details are specified

[2021-07-21 02:47] ChihChengLiang commented on #17
Related https://github.com/appliedzkp/zkevm-specs/pull/12

[2021-07-21 22:55] CPerezz opened #18 "Implement Bus Mapping structure"
It should come with at minimum

- [ ] Sorting capabilities for Stack, Storage and Memory operations
- [ ] Compression capabilities via closures
- [ ] Be as generic as possible and allow for easy plug in of external logic via closures.

[2021-07-21 22:57] CPerezz opened #19 "Port the repo to be a workspace"
Once we have the bus-mapping crate here, we should maybe aim to have the repo more as a workspace to make easier the developement of the entire solution.

[2021-08-04 11:35] ChihChengLiang opened #25 "[Gadget] Keccak256 hash function"
### Problem

In order to be as much EVM compatible, we need to perform Keccak256 in the circuit.

### Solution

We plan to implement Keccak256 as a gadget for the codebase to consume.

We have a working document here https://hackmd.io/4Bzz0FzTQLyYI5uzjgP2iA?both.

An existing implementation here https://github.com/matter-labs/franklin-crypto/tree/dev/src/plonk/circuit/hashes_with_tables/keccak

Ne

[2021-08-05 10:05] #17 closed

[2021-08-10 14:32] han0110 commented on #8
Close due to #12

[2021-08-10 14:32] #8 closed

[2021-08-10 14:33] han0110 commented on #7
Close due to #11

[2021-08-10 14:33] #7 closed

[2021-08-19 16:55] CPerezz opened #30 "Add Makefile to run CI checks locally"
Clippy checks and maybe doc intra-broken-links checks (which we should add once documentation starts to happen) can cause the CI failure of some workflows.

It will make it more easy to expose a `test` rule from a makefile that allows to run the same checks that the CI runs locally with a single cmd instruction.

[2021-08-19 16:57] CPerezz opened #31 "Add docs for `bus-mapping` workspace member crate"
After https://github.com/appliedzkp/zkevm-circuits/pull/20 lands, since it's only purpose was to provide a basic layout structure for the crate, it would be nice to start documenting it and it's structures and how it provides the data to be witnessed by the circuits.

[2021-08-19 16:59] CPerezz opened #32 "Add rustfmt file to the workspace"
Would be nice to share the formatting guidelines in the repo so that we all have the same structure for the code.

[2021-08-19 18:35] CPerezz opened #33 "Create new type for EVM memory layout that allows for unaligned memory ops management"
As said by @han0110  :

The idea would be to be able to swap between a `BTreeMap` and a `Vec<u8>` so that we can manage the memory easily for regular Opcodes and for the tricky ones.

Maybe changing completely the approach that we have now. This is also an option to consider.

[2021-08-19 18:38] CPerezz opened #34 "Create a type for EVM Stack memory which manages the indexing behind the scenes"
Currently the stack is implemented as a `Vec<EvmWord>`. The only issue is that we need the stack to allocate `TOP -> BOTTOM`.

In order to do so we hardcode operations in some places in the code which perform `1025 - address` which adds the correct address to the `StackOp`s that we create.

The idea is that this should not happen and this type should hide this complexity/logic inside of it and not

[2021-08-19 18:44] CPerezz opened #35 "Expose a better API for ExecutionTrace that hides all complexity of parsing traces and obtaining EVM/State Proofs data"

[2021-08-20 08:36] CPerezz commented on #34
See also this suggestion from @han0110  https://github.com/appliedzkp/zkevm-circuits/pull/20#discussion_r692619591

[2021-08-20 10:08] CPerezz opened #36 "Add tests for Mem/Stack operation ordering after a big trace parsing"
That is needed so that we can start to develop the State proof so that we can provide all of the data to witness in the proper way.

[2021-08-23 04:32] therealyingtong opened #38 "Switch to KZG over BN254"
Let's switch to @kilic's `halo2` branch: https://github.com/kilic/halo2/tree/kzg soon.

[2021-08-23 09:48] ChihChengLiang opened #39 "Keccak256 tables to build"
## Problem

We have 4 lookup tables to use in the keccak256 gadget. Listing their Python pseudocode below.

### from_binary_converter_table

Purpose: Convert 64 bits value from binary to base 13 in 16 bits chunks

[code]

This table has 2**16 rows
[code]

### first_to_second_base_converter_table

Purpose: convert the middle segments, where the chunk size is 4

This table has 13**4 rows

[code]

[c

[2021-08-23 11:10] #18 closed

[2021-08-23 11:10] #19 closed

[2021-08-23 12:59] #30 closed

[2021-08-24 04:25] gaswhat opened #43 "Merge the pull requests using squash"
I realize that currently we merge the pull requests without squashing. I think this is not a good practice to maintain a collaborative project. The benefit and drawback of merging w/ and w/o squashing:

- If merging PRs without squash, the commit history could become quite messy as many small commits such as fixing typos will all appear in the commit history. It'll be hard to understand what each

[2021-08-24 04:30] gaswhat commented on #43
cc @han0110 @therealyingtong @miha-stopar @ChihChengLiang @CPerezz

[2021-08-24 05:06] miha-stopar commented on #43
I agree, in my previous projects we were always squashing. But we would probably need to target a bit smaller units - we would do this probably anyway as some bigger chunks are coming now just because we are setting up the project.

[2021-08-24 06:44] ChihChengLiang commented on #43
I'm happy to squash my commits into meaningful midsize commits. Either way suits me.

[2021-08-24 08:10] #32 closed

[2021-08-24 09:02] DreamWuGit commented on #43
good practice to me

[2021-08-24 10:06] CPerezz commented on #43
Yep. Works for me too!

Just to be sure, are we purposing that we squash our commits ourselves so that we have a reasonable number per PR or instead to use GitHub's functionality of Squashing on merge so that we just have a single one per PR?

[2021-08-25 01:03] gaswhat commented on #43
@CPerezz @ChihChengLiang
I think we can just use Github's squash+rebase merging function to save the effort in squashing the commits ourselves.

If you consider certain commit history within a PR is necessary, maybe we should consider breaking this PR into smaller PRs so that we can keep the necessary histories. Also just FYI, the PR ID and link will be shown in the Github's squashed commit so tha

[2021-08-27 10:06] therealyingtong opened #47 "Consume bus mapping in state circuit"
We should update #23 to consume the bus mapping output.

Edit: we can do this in a separate PR after #23 merges.

[2021-08-30 07:29] CPerezz opened #48 "Remove `&self` requirement from `gen_associated_ops`"

[2021-08-30 07:35] CPerezz opened #49 "Remove any Circuit-related thing from bus-mapping."
As discussed with @han0110 we should externalize all of the Constraint-System/circuit related stuff to `zkevm-circuits` in order to reduce circular depency issues and make the overall solution simpler.

[2021-08-30 07:49] CPerezz opened #50 "Include a `StackPointer` structure included inside of the `ExecutionStep`"

[2021-08-30 07:51] CPerezz opened #51 "Include gas info in a structure included inside of the `ExecutionStep`"

[2021-08-30 07:59] CPerezz opened #52 "Consider Multi-Step `ExecutionStep`s and how to deal with them"
Things like `CALLDATACOPY` can return chunks of bytes which force the EVM to return more than one execution step to refer to them.

That may force us to re-think the way on which the `ExecutionStep` is laid down in `bus-mapping`.

[2021-08-30 08:04] CPerezz opened #53 "Integrate traces obtained by Geth debug trace feature"
That will imply data structure changes but we should be able to parse all of the data needed by `zk-evm circuits`.

[2021-08-30 17:29] #31 closed

[2021-08-31 07:00] #35 closed

[2021-09-01 08:29] CPerezz opened #58 "Change internal representation of `MemoryAddress` to `usize`"
As said by @han0110 :

This will make the type `Copy` and might enable some optimizations.

[2021-09-01 08:30] spartucus commented on #53
Hi @CPerezz, do we need executed(traced) bytecodes to prove a contract method call? Or we just need the pre-state and post-state?

[2021-09-01 08:41] CPerezz commented on #53
Hey. I'm currently starting to work on this.

I'm not sure I follow your question.
The idea is that we are able to parse the entire trace and generate the operations and bus-mapping instances for each `ExecutionStep`.
Then, we are able to witness on a really easy way the state proof and Evm proof by simply consuming the `ExecutionTrace` instance.

Each `ExecutionStep` represents the new state afte

[2021-09-01 08:51] spartucus commented on #53
Thanks for your reply.

You mean 'The entire trace' is all state(old, intermediate, new), and 'generate the operations' is a method's bytecodes?

[2021-09-01 09:03] #49 closed

[2021-09-01 11:44] CPerezz commented on #48
This was derived from a conversation with @han0110 but considering that this does not need to be exported anywhere nor implemented outside of this crate, it will probably stay here so that we can downcast from `OpcodeId` to the actual `Opcode` trait-object instance.

See: https://github.com/appliedzkp/zkevm-circuits/blob/main/bus-mapping/src/evm/opcodes.rs#L32-L41

[2021-09-01 11:44] #48 closed

[2021-09-01 12:39] CPerezz commented on #36
This would be the actual example:
Input:
[code]

We should test that we get:
For `MemoryOp`s -> https://hackmd.io/Nwd0e5AgTVSBWRQlp-Ving?both#Memory-Circuit
For `StackOp`s -> https://hackmd.io/Nwd0e5AgTVSBWRQlp-Ving?both#Stack-Circuit
For `StorageOp`s -> No need to test them yet as we are not getting any info from the trace about storage. Here a  bit of docs anyway: https://hackmd.io/kON1GVL6QOC6t

[2021-09-01 12:55] CPerezz commented on #53
I'm not sure I understand what `old, intermediate, new` refers to. We just have states for each Instruction execution, so for each steps.

[2021-09-02 08:14] spartucus commented on #53
Thanks! Yeah, that's state for each Instruction execution.

[2021-09-02 09:39] JiangXb-son commented on #50
Do u means what the form should be if the stackPointer structure included in the ExecutionStep?

[2021-09-02 09:46] barryWhiteHat opened #60 "benchmark and start to optimise halo2 prover using ZKG polynomial commitment scheme"
https://github.com/appliedzkp/zkevm-circuits/issues/38 we have replaced the halo2 lib with KZG in the verifier. We also have some work to benchmark the prover using ZKG with halo2 lib.

Our current approach is probably going to result in very large circuits. So setting an upper bound on the proving time for such large circuits would be useful to

1. De-risk our current architecture choices
2. Set

[2021-09-02 10:14] ChihChengLiang commented on #39
Sample API, implement the load()
https://github.com/zcash/orchard/blob/main/src/circuit/gadget/sinsemilla/chip/generator_table.rs#L78-L96

[2021-09-02 10:19] JiangXb-son commented on #50
Did u mean modify the stack structure like memory inside of the ExecutionStep ?

pub struct ExecutionStep<'a> {
    memory: BTreeMap<MemoryAddress, EvmWord>,
    stack: Vec<EvmWord>, // =>  stack::  *****<stack-pointer value, EvmWord>,
    opcode: Instruction,
    pc: ProgramCounter,
    gc: GlobalCounter,
    bus_mapping_instances: Vec<&'a Target>, // Holds refs to the container with the related

[2021-09-02 10:21] CPerezz commented on #50
What I meant is that we should probably have a wrapper type over the `stack` field of the `ExecutionStep` and it should be able to easily return the `stack_pointer` via a fn which only needs to check the len of the current `stack -1`.

[2021-09-02 14:09] han0110 opened #61 "Integrate `EvmCircuit` with crate `bus-mapping`"
Currently `EvmCircuit` uses lots of self-defined struct that should be provided by crate `bus-mapping` like:

- `Case`
- `CoreStateInstance`
- `ExecutionStep`
- `Operation`

We should remove this when `bus-mapping` is ready for

- Providing `call_id`, `stack_pointer`, `gas_counter`, `case` in `ExecutionStep`
- Providing `Vec<Operation>` from `ExecutionTrace`

[2021-09-02 18:20] barryWhiteHat commented on #60
I think its more about getting an idea of what our proving time will be. We know our circuit will be big and are kind of okay with that.

[2021-09-03 06:25] spartucus commented on #50
Hey @CPerezz , you mean like this?
https://github.com/Sin7Y/zkevm-circuits/commit/d9e62597cf400977d882b02df38fb59a46f318d5

[2021-09-03 17:31] CPerezz commented on #50
Eactly!! Feel fre to make a PR @spartucus !

[2021-09-06 05:41] spartucus commented on #58
Hi @CPerezz, could you review this? https://github.com/Sin7Y/zkevm-circuits/commit/2bc5572a5efcdeff20bd1d44df397997c5dcdc1f

[2021-09-06 07:02] CPerezz commented on #58
LGTM. Feel free to open a PR :smile:

[2021-09-07 06:58] CPerezz commented on #50
Yes, that looks nice!

[2021-09-07 08:20] han0110 opened #68 "Verify gas is indeed sufficient in success case"
Currently in EVM circuit we didn't verify gas is indeed sufficient in success case. Also currently it tracks `gas_counter` as accumulated gas usage, which is not friendly to verify since we need to read out the `gas_available` of this call which we don't actually track step by step every time.

We should track `gas_left` instead and verify it's indeed sufficient in every success case naively by de

[2021-09-07 09:00] barryWhiteHat opened #69 "1559 support"
* In zkp its tricky to support 1559 because the gas block limit adjusts with each block +/- 50% per block.
* Inside zkrollup it makes less sense because most of the blocks will have a few coordinators who may try and bid to manipulate the block size to reduce the 1559 burn.
* There are some intersting ideas here for leader election similar to https://ethresear.ch/t/spam-resistant-block-creator-sel

[2021-09-07 09:39] spartucus commented on #68
What will happen if gas limit is bigger than `2**32` in the future? Success on L2 and  failed on L1?

[2021-09-07 09:43] DreamWuGit commented on #68
suggest to extract  common module such as gas_counter.rs , which holds all op codes' gas counter there.  other op code gadget can refer to it . should be good modularization.

[2021-09-08 13:41] Brechtpd opened #71 "[EVM] Allow access to compressed words at witness generation"
Sometimes just loading the compressed value itself in the circuit is sufficient to handle certain opcodes, and so there is no need to do the compression/decompression in the circuit itself. However there currently doesn't seem a way to access the `r` value in the `assign` function for opcodes to compress the input byte values and compress the word manually at witness generation time. Making `r` av

[2021-09-16 09:24] han0110 opened #73 "Implement `BusMappingLookup::Bytecode`"
Currently in evm circuit the opcode is not verified with contract's bytecode if it's a contract interaction.

Some opcodes like `PUSH*` that would fetch the contract's bytecode should also be verified.

[2021-09-16 09:53] han0110 opened #74 "Refactor `EvmCircuit` and internal gadgets with `Config` struct"
Currently all gadget holds the constraint system related configuration directly, which makes function inputs too many and hard to manage. Having other struct `Config` to hold the configuration might improve it.

[2021-09-17 06:27] #9 closed

[2021-09-17 09:55] Lawliet-Chan opened #76 "Need rust-toolchain"
zkevm-circuits uses rust nightly, so I think we need a `rust-toolchain` file to standardize the project

[2021-09-17 13:23] han0110 commented on #76
I think right now we don't use features requiring nightly? For the stable version we are using 1.53 (stick to CI). Does the warning `can't set wrap_comments = true` from `cargo fmt` leads you think we are using nightly?

[2021-09-17 13:45] Lawliet-Chan commented on #76
Actually, I met a bug  when I first built the code because of my old nightly version   and  I  update rustc to fix it.

Maybe our codes don't need  nightly, but we cannot guarantee  the dependent libs don't have it.   Sometimes  some library  requires a specific version of nightly.
So  a unified version is more conducive to the standardization of the project.    `rust-toolchain` can constrain and

[2021-09-17 15:01] Brechtpd opened #77 "Easy to use EVM simulator for unit tests"
Currently the way to write unit tests is to manually create the execution steps and resulting operations for all the different op codes each time. This is very tedious. It would be great if we could have a very simple EVM simulator (which would also be updated when implementing an opcode) where we could just write something like this (with maybe some extra ways to mock data for testing purposes):

[2021-09-20 07:14] CPerezz commented on #77
I completely agree. This would be a huge improvement to the test suite.

For now, the focus is to finish a first `bus-mapping` then work on the circuits and finally, improve everything we can.

But we're happy to recieve any contributions regarding this. The only difficult thing I see is that the traces we use in the tests are obtained here: https://github.com/appliedzkp/zkevm-testing-vectors and

[2021-09-20 07:14] ChihChengLiang commented on #16
LT and GT have been implemented in #66.

Let's do `EQ`, `SLT`, `SGT` in future spec PR.

[2021-09-20 07:14] #16 closed

[2021-09-20 07:17] ChihChengLiang commented on #3
As we now don't handle the bus mapping compression ourselves, the issue can be closed.

Feel free to reopen if we need further discussion on this.

[2021-09-20 07:17] #3 closed

[2021-09-20 07:24] ChihChengLiang commented on #43
Think we have a consensus on squash merge now. I've disabled the merge and the rebase options for this repo. Feel free to open new issues or start offline conversations if you feel hard to work with the new workflow.

[2021-09-20 07:24] #43 closed

[2021-09-20 10:02] CPerezz commented on #76
Seems fine to me! We discussed this with @han0110 and @ChihChengLiang and agreed to setup the toolchain file targeting stable and not overriting it in the CI!

[2021-09-20 11:38] #76 closed

[2021-09-20 15:16] mask-pp opened #81 "stack_pointer issue"
https://github.com/appliedzkp/zkevm-circuits/blob/81bbb94c6b3ef2d7c5bcbc7bfbb3e5dcaf21320d/zkevm-circuits/src/evm_circuit/op_execution/push.rs#L248

// denpend on the number of data,but not the number of opcodes,  is that right?
core_state.stack_pointer -= (execution_step.opcode.as_u8() - OpcodeId::PUSH1.as_u8() + 1);

[2021-09-20 15:29] mask-pp commented on #81
[https://github.com/ethereum/go-ethereum/blob/e28f713ada67af2380bd7052cb85b2e255a62a6a/core/vm/stack.go#L53](reference)

[2021-09-20 15:29] #81 closed

[2021-09-21 17:01] CPerezz opened #83 "bus-mapping: Implement Opcode trait for all non-storage-related `OpcodeId`s"
This will be needed in order to have the capability of testing most of the traces that we might consider.

This will probably exclude opcodes like `CALL`, `CALLDATACOPY` etc.. As they might require a bit extra config and design.

- [x] STOP https://github.com/appliedzkp/zkevm-specs/pull/100
- [x] ADD
- [x] MUL
- [x] SUB
- [x] DIV
- [x] SDIV
- [x] MOD
- [x] SMOD
- [x] ADDMOD
- [x] MULMOD
- [x] EXP

[2021-09-21 17:17] CPerezz opened #84 "Refactor `Stack` & `StackAddress` following `Memory` & `MemoryAddress` guidelines"
The idea would be to provide a sufficient interface to interact safely with both types so that a runtime error can never happen.

[2021-09-21 17:22] CPerezz opened #85 "Refactor `PUSH1` `Opcode` impl by a macro that implements the 32 variants."

[2021-09-21 17:24] CPerezz opened #86 "Make better and more idiomatic macros for bus-mapping `From` impls"

[2021-09-21 17:53] #50 closed

[2021-09-21 17:53] #51 closed

[2021-09-21 17:53] #53 closed

[2021-09-21 17:53] #58 closed

[2021-09-22 05:39] gaswhat opened #88 "Testing time too long"
In the XOR circuit implementation (#75), I added the XOR lookup table with 2^16 rows. In order to accommodate so many rows, I need to increase the table size in Halo2 to 2^17. But after that, the testing time becomes very long. It took me more than 10 minutes to finish the test. What's worse is that after having XOR circuit, all other opcode tests need to bump up their table size. It's very likely

[2021-09-22 05:39] gaswhat commented on #88
cc @therealyingtong Do you have any recommendation?

[2021-09-22 08:18] mask-pp commented on #77
I am also doing evm testing related transformation work, hoping to participate in improving the experience together！

[2021-09-22 10:18] CPerezz commented on #34
Closed via #53

[2021-09-22 10:18] #34 closed

[2021-09-22 15:21] #6 closed

[2021-09-22 15:23] miha-stopar commented on #4
First version of state circuit merged in #ab0b56ca75fdc936ed438b25354a3a08f7b14412.

[2021-09-22 15:23] #4 closed

[2021-09-22 15:25] miha-stopar commented on #5
First state circuit version (including storage) merged in commit ab0b56ca75fdc936ed438b25354a3a08f7b14412.

[2021-09-22 15:25] #5 closed

[2021-09-22 15:27] miha-stopar commented on #47
Bus-mapping integrated in the first version of state circuit: ab0b56ca75fdc936ed438b25354a3a08f7b14412.

[2021-09-22 15:27] #47 closed

[2021-09-25 19:53] CPerezz opened #90 "Obtain geth traces without formatting memory rows as BigNum and get [u8;32] instead"
It will be much easier to parse if we don't need to get the BigNum repr of each Memory row and instead we are given the 32 bytes directly.

See: https://github.com/appliedzkp/zkevm-testing-vectors/issues/7

[2021-09-26 00:33] Brechtpd commented on #77
Have created a draft PR with how it could work: #91

The fact that the evm circuit uses very different `ExecutionStep`s and `Operation`s than the ones in the busmapping was an unexpected blocker to really make it work very well for now without many temporary hacks. What is the current plan for that @CPerezz? Perhaps I can help with the refactoring for that once you think it's ready to do so.

[2021-09-26 16:22] CPerezz commented on #77
First of all, thanks a lot for the work and efforts @Brechtpd !! :smile:

I've taken a look to the PR. And as said looks like a really nice idea. I'll leave there some comments and hints regarding the code and the direction is taking.

As for the integration of this kind of developer tooling, this is the current status:

- We are still finalizing the `bus-mapping` crate, through refactors so that

[2021-09-27 05:49] han0110 commented on #88
Ran #75 in release mode cost me 6 minutes. The most costly part in `verify` is when collecting `gate_errors`, which iterates over the whole circuit (`2**18` in #75's case) and costs 271 seconds.

Maybe we can add a flag `lazy_eval` to `MockProver` to only verify gate constraint on `usable_rows` just like it does when verify lookup. But there is also risk that some edge case of gate constraint will

[2021-09-27 14:09] #33 closed

[2021-09-27 15:03] CPerezz commented on #83
Even though this is assigned to me, any contribution to trait implementations is welcomed as long as is first spec'd out and approved and the impl guidelines follow the previous implemented opcodes. :smile:

[2021-09-27 22:28] CPerezz opened #94 "Migrate `EvmWord` to `[0u8;32]`"
Will save us memory and there's no need to have BigUint if we're not going to operate with it.

Also makes easier to adapt the struct to #89

[2021-09-28 13:53] CPerezz opened #96 "Refactor MemoryOp to be `per byte` instead of `per Vec<byte>`"
As said by @han0110, if we want to be able to have the analogy between `bus-mapping` and the circuits design, we need to generate a MemoryOp for each byte that is READ or WRITTEN.

[2021-09-28 15:19] #84 closed

[2021-09-28 15:19] #90 closed

[2021-09-28 15:19] #94 closed

[2021-09-29 03:06] TrapdoorHeader commented on #60
The proving time is measured using the circuit in examples/simple-example-2.rs. The circuit is composed by 4 fixed columns and 3 advice columns. One gate (similar with Plonk）is used - one multiply and one add. The row number is defined by 2^K - half of the rows is "add" enabled and half o the rows is "multiply" enabled.
The proving time is measured on AMD EPYC 7F52 Processor  - 32 core.
K-8 - 28 m

[2021-09-29 05:07] StarLI-Trapdoor commented on #60
K - 26 - 990.47 s

[2021-09-29 05:08] TrapdoorHeader commented on #60
K-26 - 990.47 s

[2021-09-29 06:07] gaswhat commented on #60
@TrapdoorHeader This measurement is very interesting. Would you mind share your measurement script? I'd love to try it out on the larger circuit.

[2021-09-29 06:40] TrapdoorHeader commented on #60
@gaswhat  Apply the patch first.
https://github.com/kilic/halo2/pull/1/commits/846ea9e469c29cf84ca6af45168db44006381094

And using the command to measure the proving period:
K_NUM=18 ./target/release/examples//simple-example-2

Actually, you can use the bench code with the same circuit of benches/plonk.rs. Due to the benching logic, for larger K, the benching runs very long.

[2021-09-29 12:19] therealyingtong commented on #88
i've also run into this problem before, and will take a closer look at the MockProver and @han0110's suggestion.

for now, we could `#[ignore]` expensive tests, and run them locally without tripping up CI.

[2021-09-29 14:35] DreamWuGit opened #98 "cargo fmt check with warning"
on the main branch :
cargo fmt --all -- --check
Warning: can't set wrap_comments = true, unstable features are only available in nightly channel.
Warning: can't set wrap_comments = true, unstable features are only available in nightly channel.
Warning: can't set wrap_comments = true, unstable features are only available in nightly channel.
Warning: can't set wrap_comments = true, unstable features

[2021-09-29 14:43] DreamWuGit commented on #98
Got , it is caused by fmt format issue, closing this

[2021-09-29 14:43] #98 closed, assigned to nobody

[2021-09-30 14:30] #96 closed

[2021-09-30 19:04] ChihChengLiang opened #103 "[Keccak] Implement Rho and Pi circuit"
Pi is trivial, should be resolved in 1 or 2 rows.

Rho needs these checks

- Running sum by slices
- block count checks

Some initial work is in #54

[2021-09-30 19:08] ChihChengLiang opened #104 "[Keccak] Implement Xi, Iota, and absorb circuit"
Xi, Iota, and absorb are 3 considered together.

The coefficient transform maps `2a + b + 3c + 2d` to `a ^ (~b & c) ^ d`, where a, b, c, d are bit values.

If we have the next input to absorb, then we use `d` for the new inputs. And do iota in base 13.
Else, d is used to do iota in base 9.

[2021-09-30 19:13] ChihChengLiang opened #105 "[Keccak] Putting all together"
Once #103 and #104 are implemented, we have the keccak-f. We need to put them together.

We repeat keccak-f to take different lengths of inputs.

Spec: https://hackmd.io/sK7v0lr8Txi1bgION1rRpw#WIP-Circuit-as-a-Lookup-Table

[2021-09-30 19:14] ChihChengLiang commented on #39
Some initial work done in #70

[2021-09-30 19:14] #39 closed

[2021-09-30 19:15] ChihChengLiang commented on #25
Initial work done in #54
Close in favor of #103 #104 and #105

[2021-09-30 19:15] #25 closed

[2021-10-13 14:15] DreamWuGit opened #119 "Add dedicated module to managers all op codes' constant properties centrally"
these are some constant properties  regarding each op code of circuit, such as GC_DELTA, PC_DELTA, SP_DELTA ,GasCost .
 Placing them in dedicated module which managers all op codes' such properties , which will make good organized & maintained.
 in the concrete op gadget circuit references that module ,  first discuss with @ChihChengLiang @han0110 , we agree that makes sense.
 if you are intereste

[2021-10-20 16:20] #77 closed, assigned to nobody

[2021-10-20 16:41] barryWhiteHat opened #122 "contract tx_lookup table"
In zkevm based zkrollup a smart contract translates the call data and some block constants into a form the zkp is able to read.

The circuit expects this data to be in the format of

a + r * b + r**2 c + r**3 d = x

The polynomial should be constructed in the field defined by https://github.com/appliedzkp/halo2/pull/1

So the layer1 even needs to calculate x and pass that as a public input to the

[2021-10-21 09:34] ashWhiteHat opened #124 "`bus-mapping` compile error"
When I ran the build command on `bus-mapping`, the error happened.
It seems I need to setup on `geth-utils` like installing `go-geth-utils`.
Could you tell me what kind of setup I need?

[code]

Thank you!

[2021-10-21 09:50] ed255 commented on #124
We recently merged a PR which introduces go as a build dependency.  Unfortunately it seems that the build error message doesn't mention that the go binary is missing, so we'll look into that.
Meanwhile, could you try installing go version 1.16 or higher and try building again?
Probably go is already available for your distribution, so you can install it with the package manager.  Otherwise you can

[2021-10-21 09:53] ed255 opened #125 "Better error message in build error for missing go"
Currently when you build the `bus-mapping` with go missing, you get this error:
[code]

Which doesn't say anything about go missing and that you should install it.  This will be a common problem so we should make sure that the error message is meaningful and gives a clear solution to fix it.

Related to #124

[2021-10-21 09:57] ed255 opened #126 "Improve execution_step building ergonomics"
Currently when parsing an opcode from a trace we have a lot of boilerplate that can be automated:
- We are manually increasing the gc for each Op, but that could be done automatically when creating a new op
- We are manually pushing the reference index of the op into the bus_mapping_instance, but we could merge the creation of the op and the reference pushing into one function.

[2021-10-21 10:02] ed255 opened #127 "Extend bus-mapping to work by blocks instead of by txs"
Currently the bus-mapping is designed to parse and output a witness for a single tx, but we will be working by blocks which contain a list of txs.
- The GlobalCounter should be kept for the entire block (instead of starting at 0 at each tx)
- Each tx starts in a different context, which we sometimes need to store in the execution_steps.  We can introduce a `CallContext` that is initialized from th

[2021-10-21 10:04] ed255 opened #128 "Make OperationContainer work with a list of KindOp vectors"
Currently the bus-mapping uses an OperationContainer where all Operation Kinds are mixed into a single vector.  We will have a different circuit for each Operation Kind, so it may not be useful to merge them all together, because later we need to split them again. We can have a different vector for each Operatioon Kind.

[2021-10-21 10:13] DreamWuGit opened #129 "Improvement: consider to optimize range lookups of evm circuit"
with the adding of more op gadgets, there are multiple range instances for look up:
[code]
we can predicates more will come in as features going to implement,   I am wondering if there is method to mitigate this , such as only have max range  i.e.  Range256, then any range instance less than it can be reduced or removed.
for example, when need range100 , can utilize Range256 ,maybe with any little

[2021-10-21 13:33] DreamWuGit commented on #129
yeah, agree with future use !

[2021-10-22 11:49] #125 closed, assigned to ed255

[2021-10-22 13:18] ChihChengLiang opened #133 "Implement Merkle Patricia Tree"
### Problem

The EVM storage depends on Merkle Patricia Tree.

Track the issue in the circuit repo

[2021-10-23 04:43] #124 closed, assigned to nobody

[2021-10-23 10:26] CPerezz opened #136 "Add RPC client module to bus-mapping crate to pull block/tx data from Geth nodes"
As we already know, with Geth traces we don't have enough information to successfully witness all of the data necessary for the circuits.

Therefore, some of this data has to come from queries to Geth, and thus will be known in the middle of the processin of the trace. Therefore, we need to enable an async json-rpc client inside the bus-mapping so that we can do all these queries and get back all

[2021-10-23 14:05] ed255 opened #137 "Implement a CallContext in Context"
The CallContext will have a stack of call information (one entry per call depth), so that when a revert/return happens, we can figure in which call we land.  Also each entry will have the Address of the contract used for the Storage, so that we know for every SLOAD and SSTORE, which address we are working with.

[2021-10-24 08:05] CPerezz opened #138 "[bus-mapping] Use a trait Object to avoid repeating the call resolving `OpcodeId` to `Opcode`"
To provide some context, this refers to the situation that happens when we need to downcast from `OpcodeId` into it's `Opcode` trait repr: [here](https://github.com/appliedzkp/zkevm-circuits/blob/main/bus-mapping/src/evm/opcodes.rs#L40-L50)
[code]

We need a better solution that an enormous match here.

I think for sure we should find a way to avoid having the same call with the same arguments for

[2021-10-24 08:38] #128 closed, assigned to ed255

[2021-10-24 08:40] CPerezz opened #139 "Implement GethExecTrace and GethExecStep for Trace generation ergonomics"
As suggested by @ed255, the current process of generating an `ExecutionTrace` is not the best since we need to do two iterations. The first parses and leaves some fields initialized to zero and the second actually puts the correct values.

Instead, it would be nice to have two internal structures used to do this process, which are not visible/exported to the user and then, only convert them to `Ex

[2021-10-25 11:05] CPerezz opened #141 "[bus-mapping] Remove GlobalCounter for `ExecutionStep`s"
As discussed with @han0110 in the last call, we should only increment the Global Counter for `Operation`s and not also for `ExecutionStep`s (Opcodes) as we're doing now.

So we need to revert that and simply remove the field `gc` from `ExecutionStep`.

[2021-10-26 16:43] CPerezz opened #145 "Change CI to not run for Draft PRs"
Thanks @han0110 for the suggestion on how to modify the workflow to do so!

[2021-10-26 17:57] #145 closed, assigned to CPerezz

[2021-10-27 14:18] CPerezz opened #148 "[keccak] Fix spec/impl issue with Pi and Rho base and usage order"
`Pi` should go first and then `Rho` as `Rho` outputs the state in base 9 when `Pi` doesnt.

In https://hackmd.io/sK7v0lr8Txi1bgION1rRpw?view#Pi is stated to get the state with base-13 and in theory executed after `Rho`.
But as seen here: https://hackmd.io/sK7v0lr8Txi1bgION1rRpw?view#Rho `Rho` is outputing state in base-9 and then is passed to `Pi`.

See the impl and the specs doing this thing with

[2021-10-27 14:26] #148 closed, assigned to CPerezz

[2021-10-29 13:58] ed255 opened #151 "Try to use types from web3 crate instead of custom ones"
See https://docs.rs/web3/0.17.0/web3/types/index.html
We can use:
- Address
- U256 for EvmWord
- Transaction, Block

[2021-10-29 14:01] ed255 opened #152 "Introduce a CircuitInputsBuilder"
The CircuitInputBuildes generates all the inputs, including the bus mapping part.  This CircuitInputBuilder would be fed with RPC responses from geth, it will also be connected to a partial MPT (for example, built in go), and it would generate everything from there to feed to prover.

Example of how it could look like:

[code]

[2021-11-01 11:38] barryWhiteHat opened #153 "ecdsa verifier"
We have been working on generic wrong field ec operations. The goal of this work is to make ecsda verifyer and recursion to allow proof aggregation.

https://github.com/kilic/halo2wrong is the wrong field arithmetic. We are working on a repo to do elliptic curve operations and plan to produce a trait that others can use.

This issue is given this trait implement ecdsa signature verification such t

[2021-11-02 19:06] ChihChengLiang commented on #88
I tried a way to apply  #135  and zcash/halo2#389 in a special way, but the test is way slower that I didn't see it ends.

1. First change the halo2 version to your local fork `halo2 = {path="../../halo2"}` in Cargo.toml.
2. Go to your local fork and checkout to `4283713ec76051eaf21a06d0279fa7d3497cafb6`, which is what `zkevm-circuits` currently use now.
3. `git fetch` to get the latest version of

[2021-11-11 15:19] ed255 opened #163 "Replace fork of bitvec by upstream"
In https://github.com/appliedzkp/zkevm-circuits/pull/162 we introduce a fork of bitvec in order to solve an external dependency build error.  We have a PR for upstream to solve that: https://github.com/bitvecto-rs/bitvec/pull/141.  Once that PR is resolved, we can use bitvec from upstream again.

[2021-11-11 16:15] ed255 opened #164 "Move bus-mapping test macros to a crate"
In [bus-mapping ](https://github.com/appliedzkp/zkevm-circuits/pull/162) we introduced some macros to create eth_types from literals for tests: `address`, `word`, `word_map`.  These macros are only used for testing, but they are used in other crates, not just the bus-mapping.  So ideally we should move them to a crate and then import this crate only as a dev dependency.

[2021-11-11 16:24] ed255 opened #165 "Improve external tracer error handling"
The external tracer currently has a few places where errors don't contain a lot of context, which can be improved.

# Capture error in the `trace` function
- https://github.com/appliedzkp/zkevm-circuits/blob/8117aa1f536c9b94fd52f1727e81b05b4bf334bd/bus-mapping/src/external_tracer.rs#L53
There are a few `map_err(|_| Error::TracingError)`, which lose the original error.  It would be better if we can

[2021-11-11 16:48] ed255 opened #166 "Implement all opcodes from circuits in the bus-mapping as of 2021-11-11"
- [x] PUSH1
- [ ] PUSH2..32
- [ ] DUP1..16
- [ ] SWAP1..16
- [x] ADD
- [ ] SUB
- [ ] LT
- [ ] GT
- [ ] EQ
- [ ] POP
- [ ] BYTE
- [ ] PC
- [ ] SIGNEXTEND
- [ ] JUMPDEST
- [x] MLOAD
- [ ] MSTORE

[2021-11-12 04:19] #152 closed

[2021-11-12 04:19] #127 closed

[2021-11-12 04:19] #139 closed

[2021-11-12 04:19] #151 closed

[2021-11-12 08:50] #103 closed

[2021-11-12 19:15] ChihChengLiang opened #168 "Bench Keccak Cost"
### Problem

Try answering these questions

- What's the cost of keccak for 2 inputs? We'll use this one heavily
- How does the cost vary for the different numbers of inputs?
- What's the max number of inputs we can do?
- What's the max number of hashes we can do?

### Solution

Tools available

- https://zcash.github.io/halo2/user/dev-tools.html?highlight=cost%20estimat#cost-estimator
- bench for

[2021-11-15 12:09] ed255 commented on #138
In https://github.com/appliedzkp/zkevm-circuits/pull/162 I addressed this by introducing a function with a match with one case for each opcode and returning the gen_associated_ops function, so that we don't have to repeat the call with the same arguments over and over again: https://github.com/appliedzkp/zkevm-circuits/blob/80666a55b43eaa6ad09d4bc83494f7870c78cf5f/bus-mapping/src/evm/opcodes.rs#L4

[2021-11-15 14:16] #166 closed

[2021-11-15 16:57] ed255 opened #172 "bus-mapping: Add error field to ExecStep"
Add an error field in the circuit input builder ExecStep that is an Option of an Enum that can have these cases: https://github.com/appliedzkp/zkevm-specs/blob/48f17124c9d23b55340a4f438bd5303830af61ed/src/zkevm_specs/evm/execution_result/execution_result.py#L87

The field is set when one of the errors occurs.  In most cases, if the error occurs, we don't generate any associated steps.  The excepti

[2021-11-15 17:00] ed255 opened #173 "bus-mapping: build TxAccessListAccountStorage"
Introduce the `AccountStorageAccess` Op in the bus-mapping: https://hackmd.io/1RXDCPagQNOAT04yA_zPKA#Read-write-unit-grouping

Every time a storage read/write happens, an access op is generated.  The value can be cold, warm.  Initially it's cold, and after the first access it becomes warm.  This can be reverted.

[2021-11-15 17:05] ed255 opened #174 "bus-mapping: Handle reverts and failures (non-persistent state changes)"
When we encounter a revert, all the Write State operations (balance, nonce, storage, code hash), and all the State Accesses (from the AccesList) are reverted.  For each operation of that happened in the call, we need to generate a mirror op that undoes the change, in reverse order: see https://hackmd.io/@liangcc/zkvmbook/%2FkON1GVL6QOC6t5tf_OTuKA#Smaller-but-Complete-Example

For example, if there

[2021-11-16 22:54] CPerezz opened #177 "bus-mapping: Add getProof JSON-RPC method from EIP-1186"
See: https://eips.ethereum.org/EIPS/eip-1186

As suggested by @ed255 in #171 would be nice to also implement this JSON-RPC method to more or less have a complete set of calls that the bus-mapping requires (for now).

[2021-11-16 23:06] CPerezz opened #178 "Update to next stable version to avoid cargo-doc ICE"
I noticed we've changed our toolchain file to use 1.56.1. I belive @liangcc needed it. See: #157

There's an ICE reported there with cargo doc which basically won't allow any of our CI runs to pass. See this run where we get reported a panic from the compiler in our CI: https://github.com/appliedzkp/zkevm-circuits/runs/4231504955?check_suite_focus=true#step:5:425

This is solved in nightly and whe

[2021-11-17 11:04] CPerezz opened #179 "Stop Requiring `Serialize` for some `eth_types` once ethers doesn't require Serialize to work"
Requiring `Serialize` here is strange; maybe this is an oversight from the ethers-providers crate: to deserialize a json-rpc response it shouldn't require serialize!

_Originally posted by @ed255 in https://github.com/appliedzkp/zkevm-circuits/pull/171#discussion_r751094786_

[2021-11-17 14:05] CPerezz commented on #136
Closed via #171

[2021-11-17 14:05] #136 closed

[2021-11-17 14:06] CPerezz commented on #141
Can we close this @ed255 since the `GlobalCounter` that the `ExecutionStep` holds is not increased and just represents the initial GC of the step operations.

[2021-11-17 14:08] CPerezz commented on #85
Closed via #167

[2021-11-17 14:08] #85 closed

[2021-11-17 16:24] ed255 opened #180 "bus-mapping: Implement error detection for all EVM error cases"
Some of the error cases are not reported at all in the geth trace, so we need to implement logic to detect them.
# Errors not reported

- [x] ErrInvalidJump
- [x] ErrReturnDataOutOfBounds // returndatacopy
- [x] ErrExecutionReverted // can be detected easily (op = REVERT)

# Errors ignored

- [x] ErrCodeStoreOutOfGas // create
    - https://github.com/appliedzkp/zkevm-circuits/issues/185
- [x] Err

[2021-11-17 16:24] ed255 commented on #172
Blocked by https://github.com/appliedzkp/zkevm-circuits/issues/180

[2021-11-18 03:26] spartucus commented on #141
Maybe this is not the right place to ask, there is a question bothers me for a long time: "What's the core difference between `ExecutionStep` and `Operation`, that are used in `load_rw_tables()` and `assign()`? Why not in one struct instead of two?"

sorry to bother you:)

[2021-11-18 08:05] CPerezz commented on #141
@spartucus
An `ExecutionStep` represents an `Opcode` execution within the context of an EVM trace. It contains Memory, Stack, Storage, pc, etc.. and also the operations performed on it.

`Operation`s in that case, are all of the `READ` and `WRITE` operations that have been performed or triggered by an `ExecutionStep` (an opcode basically).

We construct two different structures since while state p

[2021-11-18 09:34] spartucus commented on #141
Thanks Carlos!

[2021-11-18 09:46] CPerezz commented on #141
Closing this after as discussed with @ed255 is already solved by #162

[2021-11-18 09:46] #141 closed

[2021-11-18 13:10] #178 closed

[2021-11-19 11:22] ed255 commented on #179
This issue is ready to be resolved because the PR in ethers has been merged already: https://github.com/gakonst/ethers-rs/pull/590

[2021-11-19 13:26] ed255 opened #184 "bus-mapping: Implement a key-value database for state and storage"
To generate some of the circuit inputs, the bus-mapping needs to be able to query the Ethereum State and Accounts Storage.  For example, following https://github.com/appliedzkp/zkevm-circuits/pull/183:

ErrContractAddressCollision and ErrInsufficientBalance. Detecting
these errors requires keeping track of the state, which we don't do yet.

For ContractAddressCollision we need to query if an Addre

[2021-11-19 14:13] ed255 commented on #137
The CallContext should also store in which kind of call we are out of `CALL, CALLCODE, DELEGATECALL, STATICCALL, CREATE, CREATE2`

[2021-11-19 14:15] ed255 opened #185 "bus-mapping: In CircuitInputStateRef.get_step_err check RETURN in CREATE*"
For errors that are triggered on RETURN when in a CREATE*, actually make sure we are inside a CREATE* by checking the call context.

Depends on https://github.com/appliedzkp/zkevm-circuits/issues/137

[2021-11-19 14:17] ed255 opened #186 "bus-mapping: In CircuitInputStateRef.get_step_err check balance / address existence"
For errors triggered on a *CALL*, when necessary, query if an address exists from the state kvdb, and query a balance for an address from the state kvdb.

Depends on https://github.com/appliedzkp/zkevm-circuits/issues/184

[2021-11-19 14:20] ed255 opened #187 "bus-mapping: In CircuitInputStateRef.get_step_err calculate Address for CREATE/CREATE2"
For the ContractAddressCollision we will need to precalculate the Address of a contract from CREATE / CREATE2 arguments (plus nonce in CREATE)

[2021-11-19 14:37] ed255 opened #188 "geth-utils: Make configuration json match struct"
`CreateTrace` takes a json configuration which is unmarshaled into a type `GethConfig`.  The fields of the json input and the fields of the `GethConfig` are completely different, because `GethConfig` implements Unmarshal and internally uses `JsonConfig`, which can be very confusing.

Probably the best solution is to unmarshal into `JsonConfig` in `CreateTrace` and from that, build a `GethConfig`.

[2021-11-22 14:26] ed255 opened #190 "bus-mapping: Generate all values required by the circuits"
@han0110 has a branch with the structs that the circuit will need from the bus-mapping: https://github.com/han0110/zkevm-circuits/blob/eb63bbf83ee9ffe9aaf18b437462d49d1d622009/zkevm-circuits/src/evm_circuit/execution.rs#L57
The circuit should generate all the fields found in that struct (or be as close as possible, to minimize the gap between circuit and bus-mapping).

Some notes:
- ExecTrace repr

[2021-11-22 15:33] ed255 commented on #179
Actually we need to wait for the next release of ethers in order to import it and resolve this issue.

[2021-11-23 12:26] #137 closed

[2021-11-23 12:26] #185 closed

[2021-11-23 14:58] ed255 opened #194 "bus-mapping: Add eth_getCode JSON-RPC"
Implement this RPC method in our client: https://eth.wiki/json-rpc/API#eth_getcode
This is required because the circuit needs the bytecode of each smart contract executed in the trace.

[2021-11-23 15:01] ed255 opened #195 "Implement a "coordinator" binary"
The "coordinator" (this is a provisional name, new ones can be suggested) will be a binary that orchestrates the generation of a proof.
For example, it will take some cli flags or configuration file to determine the geth url to connect to.
Then it will make a series of queries to geth in order to get block, tx and trace data (using the rpc client from bus-mapping).
Then it will feed this data to t

[2021-11-24 06:56] spartucus commented on #195
A much more detailed explanation of whole procedure! :)

One nitpicking: The current `bus-mapping` crate and `evm-circuit` crate are separate for now? The test cases in `evm-circuit` do not use `bus-mapping` as witness data input? Am I understand correctly?

[2021-11-24 10:18] ed255 commented on #195
You're correct.  The `bus-mapping` crate and the `zkevm-circuits` crate were developed in parallel and have not been integrated yet.  In the short-term future we plan to integrate and use the structs from the `bus-mapping` as circuit inputs for the `zkevm-circuits`.

[2021-11-25 11:52] #184 closed

[2021-11-25 15:29] ed255 commented on #187
This will actually be very easy because these methods are implemented in https://docs.rs/ethers-core/0.5.6/ethers_core/utils/index.html

[2021-11-26 08:31] miha-stopar opened #200 "Reduce the size of fixed tables in state prover"
Fixed table global_counter_table needs to be optimised as currently it grows linearly with the number of rows. Global counter needs to be split into chunks and then these chunks are verified to be in some range.

When account address will be introduced in state prover, it will need to use the same approach.

[2021-11-29 09:48] ChihChengLiang opened #203 "Keccak: Add padding"
### Problem

padding hasn't been speced out and implemented yet.

### Solution

See `digest_from_bytes` from franklin crypto

[2021-11-29 22:41] icemelon commented on #195
I wonder if we should rename `bus-mapping` crate to `circuit-input-builder`. I think the current naming is a bit confusing.

[2021-11-30 15:46] lispc commented on #195
I am writing a prover like this <https://github.com/lispc/zkevm-circuits/blob/feature/refactor-step/zkevm-circuits/src/bin/prover.rs>.

It executes evm bytecodes using the CGO linked geth lib, then builds the circuit inputs for both state circuit and evm circuits, finally verifies the circuit inputs with mock prover.

[2021-11-30 16:18] barryWhiteHat commented on #195
@lispc I think this testing infra is a bit different than this issue.

The goal of this issue is to have a binary to run that will make proofs and submit them to zkrollup on chain.

I understand yall are working on some testing infra that can be used to test the circuits.

Am I understanding correctly ? I think that both are important to build btw :)

Should i make another issue for testing infra

[2021-12-01 03:24] lispc opened #204 "tests: use geth trace to build test inputs of evm circuit"
Currently the test inputs of evm circuits are constructed manually, which requires a lot of work.

I think it is better to construct circuit test inputs from real geth trace, and I managed to rewrite the test of ADD like this <https://github.com/lispc/zkevm-circuits/blob/feature/refactor-step/zkevm-circuits/src/evm_circuit/execution/add.rs#L132-L163>.

I have two plans:

1. rewrite every opcode te

[2021-12-01 03:25] lispc commented on #195
@barryWhiteHat Yes i understand now. It is indeed more related to test infra.

I added another issue <https://github.com/appliedzkp/zkevm-circuits/issues/204>

Any comment or direct modification will be helpful for me, thank you!

[2021-12-01 03:30] spartucus commented on #177
It looks like `web3` added this method several days ago.
https://github.com/tomusdrw/rust-web3/pull/569

[2021-12-01 10:42] ed255 opened #206 "Introduce a geth instance for integration testing"
In order to do an integration test we will need a dev geth instance from which we can query data to feed the circuit input builder.

We also will need some setup code to generate data: deploy test smart contracts into the dev blockchain, generate some transactions etc.

@NoCtrlZ started working on this: https://github.com/appliedzkp/zkevm-circuits/pull/202 and I've also made some contributions to

[2021-12-01 11:54] ed255 opened #207 "bus-mapping: Set the *CALL* address"
Set the proper address according to the call kind in the CircuitInputBuilder when the step is a *CALL*:
https://github.com/appliedzkp/zkevm-circuits/blob/47cfc37d168e474456cd2f23b1603f411318f700/bus-mapping/src/circuit_input_builder.rs#L551

[2021-12-01 14:27] #180 closed

[2021-12-01 14:27] #187 closed

[2021-12-01 14:27] #172 closed

[2021-12-01 14:27] #186 closed

[2021-12-01 15:14] #179 closed

[2021-12-01 17:29] ChihChengLiang opened #210 "Keccak: Refactor BlockCountAcc"
### Problem

The current BlockCountAcc in the rho step is complicated and unreadable.

We created two columns to do running sums conditional on what the current "step" is.

### Solution

All we want to do is getting `sum([query_advice(block_count) for config in chunk_configs if config.step == 2])` and  `sum([query_advice(block_count)  for config in configs if config.step == 3])`

- Create a generi

[2021-12-01 18:11] CPerezz opened #211 "keccak: Implement base9_to_base13 conversion gadget"
As is mentioned in the specs. Inside of the Mixing step we do the following procedure:
[code]

`MixingConfig` has been completely implemented in #144 but I realized today that we are missing a gadget that does:

Indeed, the gadget will be called 24 times during an entire keccak round execution as can be seen in the [specs](https://hackmd.io/sK7v0lr8Txi1bgION1rRpw?view#Overview).

Therefore the gad

[2021-12-02 10:49] ed255 commented on #177
Resolved in https://github.com/appliedzkp/zkevm-circuits/pull/205

[2021-12-02 10:49] #177 closed

[2021-12-03 06:48] NoCtrlZ opened #216 "memo: improvement list"
I noted improvement list in order not to forget.

- [ ] migrate `ff` to assembly
- [ ] hardcode trusted setup params

Thank you Onur for giving ideas!

[2021-12-03 10:37] barryWhiteHat commented on #216
Can we move this to halo2 repo ?

[2021-12-03 11:38] NoCtrlZ commented on #216
Yes!

[2021-12-07 06:07] HAOYUatHZ commented on #83
+ JUMP tracked in https://github.com/scroll-tech/zkevm-circuits/pull/24
+ JUMPI tracked in https://github.com/scroll-tech/zkevm-circuits/pull/25
+ MSTORE8 covered in https://github.com/scroll-tech/zkevm-circuits/pull/25

[2021-12-07 12:40] CPerezz opened #218 "Refactor outside-circuit arithmetic to facilitate witness computations."
In order to constraint the intermediate steps of the Theta, Rho, Pi... gates, we need to compute the out_state of each one of them each round.

With the actual circuit impls. We constantly use `[F;25]` but instead, we need to use `StateBigInt` and `State` to interact with the `KeccakFArith` API in order to compute these intermediate steps.

We should refactor that to make it much more simple and e

[2021-12-07 12:43] CPerezz opened #219 "Force all gates to return `[(Cell, F);25]` as state output and recieve as input to copy states between gates"
Right now we are not always enforcing that the output of a gate is the input of the next one.
That can obviously lead to witness manipulations from the prover side.

If we actually constrain the outputs of the gates to the inputs of the next ones, this will not happen. This can be done by applying copy constraints between the cells using: ` region.constrain_equal(*cell, new_cell)?;`

We can take a

[2021-12-10 13:03] ed255 commented on #138
Closing as this issue has been resolved in #162

[2021-12-10 13:03] #138 closed

[2021-12-10 13:07] ed255 opened #222 "Meta: CircuitInputBuilder progress status"
The CircuitInputBuilder is the module responsible for generating all the circuit inputs required to generate a proof.  Since we have different circuits, the CircuitInputBuilder should be able to generate the inputs for all of them.

## Circuits and inputs
- [EVM Circuit](https://github.com/han0110/zkevm-circuits/blob/3c57d83839d68064d81fea52ef9a55ec82a3ef5b/zkevm-circuits/src/evm_circuit/execution

[2021-12-13 10:13] #194 closed

[2021-12-13 10:13] #206 closed

[2021-12-13 12:13] ChihChengLiang commented on #219
I'll take on the Pi gate and the Rho gate

[2021-12-13 16:59] barryWhiteHat commented on #203
Should we also consider applying RLP encoding in the same step ?

It seems RLP needs to be aware of the length of the message so it can be encode correctly. The padding also needs to be aware of the length so it can be padded correctly. Seems like a place to apply that easily :)

[2021-12-13 17:02] barryWhiteHat commented on #122
Since we are building the data in the table in the l1 evm. It might also make sense to calculate the message hash in the l1 evm and then include that in this table. This will allow us to remove the message hash calculation from the circuits for now and still have something that works relatively easily.

Calculating hte message hash in l1 evm will cost a bit more but this can be optimized out later

[2021-12-14 07:17] han0110 commented on #122
I think it makes sense to do the tx hashing in L1 for now, and move the effort into circuit later.

[2021-12-14 14:57] ed255 opened #225 "bus-mapping: Implement CallContextOp"
- https://github.com/han0110/zkevm-specs/blob/feature%2Fcall-and-stop/src/zkevm_specs/evm/table.py
- CallContext fields that are updated / checked during call/return
- Content: CallId, read/write, tag + value
- On failure/revert: no need to generate the reverse op
- Possible tags. Part 1
    - RwCounterEndOfReversion: counter number
    - CallerCallId: index (unique sequential id)
    - TxId: inde

[2021-12-14 15:17] barryWhiteHat commented on #203
Ah i think i am wrong above. Keccak does not do RLP for every usecase so its probably good to separate them.

[2021-12-15 03:16] #68 closed

[2021-12-15 03:16] #71 closed

[2021-12-15 03:16] #73 closed

[2021-12-15 03:16] #74 closed

[2021-12-15 03:16] #88 closed

[2021-12-15 08:01] lispc opened #231 "chore: add Cargo.lock into git"
This is the recommended way for dealing with Cargo.lock in git.
<https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries>

So everyone has the exact same deps, reproducing problems will be easier.

It can prevent problems like <https://github.com/appliedzkp/zkevm-circuits/pull/226#issuecomment-994111114>

[2021-12-15 16:04] ed255 commented on #174
This can only be tested when we have opcodes that call/return into the bus-mapping.  Before that, this issue can be considered blocked.

[2021-12-16 08:38] CPerezz opened #233 "Bring back ethers deps to crates.io once a new patch is shipped"
In https://github.com/appliedzkp/zkevm-circuits/pull/226 we needed to pull all `ethers` deps from git since https://github.com/gakonst/ethers-rs/issues/692 is not yet in crates.io.

Once the new version is up. We should get back to crates.io deps by removing the patches introduced in the workspace `Cargo.toml`.

[2021-12-16 08:50] HAOYUatHZ commented on #233
Or use

[code]

In this way, the `Cargo.lock` will be updated automatically.

If we don;t want to keep updating to the latest `ethers`, we could also just specify a rev/tag

[2021-12-16 17:38] ChihChengLiang commented on #231
closed by #232

[2021-12-16 17:38] #231 closed

[2021-12-17 10:12] #207 closed

[2021-12-20 13:51] #219 closed

[2021-12-20 14:19] ed255 opened #250 "bus-mapping: Include call_id in MemoryOp, StackOp"
`call_id` is the unique (within a block) call identifier of the call in which the Op was generated.
`call_id` would be the call index (of all calls in a block) starting at 1.

[2021-12-20 16:22] #173 closed

[2021-12-23 09:58] #211 closed

[2021-12-28 08:06] silathdiir opened #258 "Question: Must we build this project with Go?"
Hi, I found [geth-utils/build.rs](https://github.com/appliedzkp/zkevm-circuits/blob/main/geth-utils/build.rs#L16) when reviewing the code. I am sorry that I have a simple question about `geth-utils`. Is `geth-utils` a necessary member? Could it be disabled with cargo `feature`? Thanks a lot.

[2022-01-04 08:00] DreamWuGit opened #260 "bus-mapping: add block coinbase op code"
the evm circuit for block coinbase op code added in pr #259 , also need to add bussmapping side correspondingly.

[2022-01-06 03:24] HAOYUatHZ commented on #258
We need it for `bus_mapping::mock`.

BTW I also notice that build time takes up a considerable part of the CI (5~7min). Think we can use cargo cache (within https://github.com/actions/cache) to speed up the build time? @silathdiir

[2022-01-06 13:48] ChihChengLiang commented on #258
@HAOYUatHZ I think caching is a good idea, want to hear from @ed255 or @CPerezz too.

[2022-01-06 15:41] ChihChengLiang commented on #204
@lispc What's the status of this issue? I like your two plans. I think eventually we need both unit tests and some larger bytecode tests. 1. seems suitable for the former and 2. for the latter.

[2022-01-07 08:27] CPerezz commented on #258
Sounds nice.
I worked with cache in GH actions directly and it's a bit messy as only caches 1 branch.

I've never tried the cache action, so we can try it of course.

For me it's a 👍. Let's hear @ed255

[2022-01-07 12:13] HAOYUatHZ commented on #258
If all good, I think I can have @silathdiir work on this.

So that yall can focus on circuit codes.

[2022-01-07 14:49] CPerezz commented on #258
Would like to get input from @barryWhiteHat and @ed255 .

As said, for me all cool!!!

[2022-01-10 08:54] CPerezz opened #266 "Simplify rounds required in mixing state assignation"
Why do we have two args of rounds here? This should always be the same round.

_Originally posted by @ChihChengLiang in https://github.com/appliedzkp/zkevm-circuits/pull/264#r780224735_

[2022-01-10 08:59] #233 closed

[2022-01-10 12:22] ed255 commented on #258
I agree that build times are quite high on the CI!  Caching build artifacts sounds great!

@silathdiir Currently the dependency of go is required for tests, as we are using traces generated by `go-ethereum` to test the circuits and the bus-mapping.  Although in theory this is only required for test, we are also building `geth-utils` in non test mode.  We could change this in the future, so that th

[2022-01-10 12:29] #266 closed

[2022-01-10 14:03] lispc commented on #204
@ChihChengLiang

For the first one, I think it is already finished and merged. Most opcodes are already tested with real geth trace now.

For the second, I am not sure whether it is needed now. There are low level unit tests and WIP high level integration-test ( geth trace from real nodes and real solidity contracts). If you think test like <https://github.com/lispc/zkevm-circuits/blob/feature/ref

[2022-01-10 15:12] lispc commented on #184
hi @ed255 , it seems there is another method to handle this problem.    Instead of fetching state/proof from a live archive geth node, is it possible to customize [the tracer used in EVM](https://github.com/appliedzkp/zkevm-circuits/blob/eca224d8b9c531537ac9ccadbfa059cb253cab54/geth-utils/gethutil/trace.go#L87) so the tracer can capture state/proof, then a simple getBlockByNum call get all the nee

[2022-01-10 17:22] ChihChengLiang commented on #204
Let's wait the WIP high level integration-test merged then decide whether to add it or where to add it?

[2022-01-11 04:01] DreamWuGit commented on #260
currently such work merging in pr #259  as well now

[2022-01-12 11:17] CPerezz commented on #258
I think that with the cache PR merged, we could close this right? @ed255 @HAOYUatHZ

[2022-01-12 11:18] HAOYUatHZ commented on #258
there's a WIP PR for https://github.com/scroll-tech/zkevm-circuits/issues/61. maybe after that?

[2022-01-12 14:27] ed255 commented on #258
I think we can close this issue and open a new one that mirrors https://github.com/scroll-tech/zkevm-circuits/issues/61 to set geth-utils (and go) as a dev-dependency.

[2022-01-12 14:29] HAOYUatHZ commented on #258
sounds good!

[2022-01-12 17:44] ed255 opened #272 "Make geth-utils and go a dev-dependency"
Currently this project requires geth-utils, which depend on having the go toolchain installed, to build.
But geth-utils is only used for testing, so we could make a small refactor to make geth-utils and go only required for testing (as a dev-dependency).

In the bus-mapping, the external_tracer uses geth-utils.  We may need to move the external_tracer into a crate so that it can be used by other c

[2022-01-12 17:45] ed255 commented on #258
Closing this issue, with a new issue here to track `Make geth-utils and go a dev-dependency`: https://github.com/appliedzkp/zkevm-circuits/issues/272

[2022-01-12 17:45] #258 closed

[2022-01-13 12:41] CPerezz opened #273 "keccak: Implement keccak_permutation circuit with tests"
Once this is completed, and we can add the padding, we should have the entire Keccak sponge circuit ready.

For now, the first step is to finish the `KeccakF` circuit which corresponds to a keccak round which can or cannot mix with next_inputs.

[2022-01-13 12:51] CPerezz opened #274 "keccak: Spec and implement a sponge circuit for arbitrary-lenght inputs"
First of all, the most important part of this issue, is to implement a multi-permutation keccak gadget which getting an input, pads it, and then applies the amount of rounds necessary in order to mix all of the chunks and digest them.

There are times when the inputs for keccak will not have a maximum bit-size. For those, we will need to figure out a way on which we don't end up with variable-leng

[2022-01-13 13:00] barryWhiteHat commented on #274
For this i was thinking to just have the final squeese to only happen when you have absorbed the correct number of inputs . That way if you are adding more inputs you skip the squeeze and just add more inputs. Then after you squeez you start again with empty state for the next hash.

[2022-01-13 13:07] CPerezz opened #275 "Keccak: Optimize IotaB9 and IotaB13 to take a single state Advice column"
IotaB9 and IotaB13 just need to take a single state `Advice` column and can copy the rest of the state using copy-constraints.

This would reduce the amount of columns that we require in these gadgets. Although might not be a big upgrade in terms of performance.

[2022-01-13 13:08] CPerezz opened #276 "Meta: Finish Keccak state incrementally update implementation"
This task requires:
- [x] Keccak permutation permutation circuit implementation: https://github.com/appliedzkp/zkevm-circuits/issues/273
- [ ] Padding implementation for chunk-splitted witnesses: https://github.com/appliedzkp/zkevm-circuits/issues/336
- [x] Spec and implement an sponge implementation for keccak which does not lead to variable-length circuits. https://github.com/appliedzkp/zkevm-ci

[2022-01-13 13:20] CPerezz opened #277 "Meta: Minimal Tx with ether + Minimal ERC20 interaction - Milestone-1"
## Goal
The final goal of the Milestone-1 is to have a ZKEVM PoC that is able to:

- Send a minimal transaction with ETH
- Be able to interact with a minimal ERC20 contract.

### Relaxation
The following features are postponed to further milestones:
- EIP1559 [dynamic block gas limit and basefee calculation](https://eips.ethereum.org/EIPS/eip-1559)
- EIP2930 [tx level access list](https://eips.eth

[2022-01-13 13:32] CPerezz commented on #105
Closed as it's now tracked under #273

[2022-01-13 13:32] #105 closed

[2022-01-13 13:47] CPerezz commented on #36
I think we can consider this closed right @ed255 ?

[2022-01-14 02:23] silathdiir commented on #272
Hi @ed255 , thanks for really good instruction for this issue.
I found two issues when I try to work on this:

1. Some structs in file `eth_types.rs` contains types of `bus-mapping/evm`. So I move both `eth_types` and `evm_types` to a crate `types` (not good name?). The evm_types does not contain `Opcode` logic which associates more code of bus-mapping.

2. The code `busmapping::mock` is used for

[2022-01-14 09:36] CPerezz commented on #274
Not sure I'm following @barryWhiteHat.

So for keccak as per [spec](https://hackmd.io/sK7v0lr8Txi1bgION1rRpw?view#Overview) we basically take the state as the first `200 bytes (25 words)` and split the rest of the message as 17-word chunks which we pad.

IIUC, is your idea to add the intermediate hashes of keccak permutations for each mixing step on an entry for the lookup table of keccak?

How I

[2022-01-14 10:01] barryWhiteHat commented on #274
I was thinking to do smething like

Input (Label as &str or String) | Value (Vec) | Output result | is_squeesed
-- | -- | --
$Input_1_name | [0x0u8;355] | 0x08975...53453 | 0
$Input_2_name | [0x0u8;354] | 0x01231...12312 | 1

So bacailly we do the first round where we obsorb input 355. This is not the finished value so `is_squeesed = 0 `so we skip the squees and continue with what we have from the

[2022-01-14 10:11] ed255 commented on #36
I think so!

[2022-01-14 10:36] CPerezz commented on #274
I'm not sure what `squeeze` means in this context.

Note that you need to absorb several times in this case. Specifically with an input of 355 bytes, you have 64 as the original state and then you do (355 - 64)/17 (with the padding this should be multiple of 17) mixing rounds (where you absorb).

Therefore, if you meant that you want to have each permutation round with absorb, this would require t

[2022-01-14 10:50] barryWhiteHat commented on #274
This is what i meant. I think the intermediary steps need to be in the table. Because for example if hte evm circuit is hashing a 1024 bit string. It needs to check that all of these bits are included in what the state proof hashes.

Right. So i am saying lets make the gadget adjustable. So that with a single flag it can handle just obsorb the next inputs and continue previous hash OR start a new

[2022-01-14 10:58] CPerezz commented on #274
It is. I think by doing this though anyway, we should probably filter this away in the bus-mapping and simply not transfer the Tx to the circuit builder. Otherways, we will panic for the entire block, and the witnesses as the `gc` will need to be re-computed. Which we could definitely avoid filtering out earlier than in the circuit builder.

So on the way the `KeccakF` hash gadget is build, it for

[2022-01-14 10:58] #36 closed

[2022-01-14 14:39] ed255 commented on #272
This seems reasonable to me!  I think it's ok to have a crate `types` with `eth` and `evm` modules.  Or maybe a different naming could be `eth_types` crate with the eth_types at the root module and `evm` as a submodule, so we have `eth_types` and `eth_types::evm`.  Just some ideas.

It makes sense to move `busmapping::mock` outside of the `bus-mapping` because it depends on `geth-utils` and so is

[2022-01-17 11:34] ed255 opened #284 "Improve CircuitInputBuilder for calls and reverts"
# 1 Number of iterations over geth_steps
https://github.com/appliedzkp/zkevm-circuits/pull/278#discussion_r784733435

Currently we have 3 iterations over geth steps: get access trace, get
is_success for each call, gen_associated_steps.  We could merge the first two
iterations:

1st iteration:
1. Collect access trace (gen_state_access_trace) to get required (accounts, codes, proofs) by client
2. Co

[2022-01-18 13:11] han0110 opened #288 "Replace `assert!` with `debug_assert!` of constraint limitation"
Regard to https://github.com/appliedzkp/zkevm-circuits/pull/279#discussion_r786611406, currently there are many `assert!` in constraint construction gadgets/functions, but it's better to have `debug_assert!` for us to easily identify it's happening in constraint construction time.

[2022-01-18 13:25] CPerezz opened #289 "Fix COINBASE opcode impl"
While working with @ed255 solving some Lookup issues related to the `CALLER` opcode impl, we started to add `RandomLinearCombination`s for the caller field as we need to match values from the `stack` and the `rw` tables.

One thing we noticed is that `COINBASE` opcode (implemented in https://github.com/appliedzkp/zkevm-circuits/pull/259)  was using the default block. And the default one uses `0x00

[2022-01-18 13:28] CPerezz commented on #288
If we implement `debug_assert!` I suggest to add a `debug` profile in `Cargo.toml` which uses `opt-lvl=2 or 3`. So on that way we get a performance similar to the `release` profile but with debug symbols and similar stuff enabled still.

Otherways, since everyone runs tests with `release` profile, no `debug_assertions` will be checked.

[2022-01-18 13:37] han0110 commented on #289
It's because I am fixing the inconsistency between circuit and spec, but on the halfway. So I only updated the `table_assignments` of `BlockContext `, instead of updating the constraint of `CoinbaseGadget`.

https://github.com/appliedzkp/zkevm-circuits/blob/7c79ae2edfaa249121a67933ceb2b45590e1d25c/zkevm-circuits/src/evm_circuit/witness.rs#L45-L53

In spec, the `coinbase` exists as raw value in `bl

[2022-01-18 14:18] ed255 commented on #289
@han0110 this is how I resolved this issue in my PR for CALLER:

https://github.com/appliedzkp/zkevm-circuits/blob/7c79ae2edfaa249121a67933ceb2b45590e1d25c/zkevm-circuits/src/evm_circuit/execution/caller.rs#L31-L51

Do you think this approach is OK?

[2022-01-18 15:07] han0110 commented on #289
I will work in this way, but I think it would be even simpler to not query so many bytes for `caller_address`, because no such cases will happen, so we don't bother to check it.

https://github.com/appliedzkp/zkevm-circuits/blob/7c79ae2edfaa249121a67933ceb2b45590e1d25c/zkevm-circuits/src/evm_circuit/execution/caller.rs#L21-L24

[code]

[2022-01-18 15:08] CPerezz commented on #289
Let's use the CONSTANT value for the `ADDRESS_BYTES`

[2022-01-18 15:09] han0110 commented on #289
It makes sense, actually there is already one here:

https://github.com/appliedzkp/zkevm-circuits/blob/7c79ae2edfaa249121a67933ceb2b45590e1d25c/zkevm-circuits/src/evm_circuit/param.rs#L16

[2022-01-19 08:33] CPerezz commented on #289
I remembered that there was one. But did not remember the name ahahhaha :rofl:

[2022-01-20 10:06] ed255 opened #294 "Split eth-types Error (formerly bus-mapping Error)"
In https://github.com/appliedzkp/zkevm-circuits/pull/290 the `bus-mapping` Error is moved to `eth-types` crate.

Referece: https://github.com/appliedzkp/zkevm-circuits/pull/290#discussion_r787897621

Following this approach, the Error type in `bus-mapping` would wrap the Error in `eth-types` (in one of the enum cases).

[2022-01-20 11:31] HAOYUatHZ opened #295 "Require branches to be up to date before merging"
I re-think about it and feel that it's still better to have "Require branches to be up to date before merging".

So that we can avoid recent CI failures in #280 #291 merges. (People are required to sync with the most recent master and re-run CI).

Regarding previous discussions in https://github.com/appliedzkp/zkevm-circuits/pull/251. It's actually simple: you always only need to sync with the mos

[2022-01-20 15:18] ChihChengLiang commented on #295
I think that's update branch resolved the concern of slowing down development in #251. Requiring branches to be up to date sounds good to me. Request one more comment from @ed255.

[2022-01-21 16:28] ed255 commented on #295
The fact that the reviewer can trigger the branch update resolves my concerns, so enabling this sounds good to me!  @ChihChengLiang I think you have the permission to make this change on the repository right?

[2022-01-22 03:24] ChihChengLiang commented on #295
I've configured "Required the branch to be up to date before merging." It requires a specific test to be added, so I added the "Test on ubuntu-latest," which is the one that #291 and #290 [failed](https://github.com/appliedzkp/zkevm-circuits/actions/runs/1722789052) to pass after merged to main.

@HAOYUatHZ Do you think that configuration resolves the issue?

![Screen Shot 2022-01-22 at 11 16 41 A

[2022-01-22 03:26] HAOYUatHZ commented on #295
yes. (usually i will add those tests all, but it doesn't really matter in our cases)

[2022-01-22 03:28] HAOYUatHZ commented on #295
closed

[2022-01-22 03:28] #295 closed

[2022-01-24 10:20] silathdiir commented on #288
I will work on it. Thanks.

[2022-01-24 10:33] barryWhiteHat commented on #60
https://github.com/appliedzkp/zkevm-circuits/pull/293 solves the bench part

Closing this in favor of
https://github.com/appliedzkp/halo2/issues/15 which will track optimizations.

[2022-01-24 10:33] #60 closed

[2022-01-25 16:42] #294 closed

[2022-01-25 16:47] ChihChengLiang opened #306 "Bug: Keccak base conversion"
### Problem

Same input, but the circuit computed one more ghost chunk.

[code]
Reproduction here
https://github.com/appliedzkp/zkevm-circuits/compare/base-conversion-bug?expand=1

### Solution

Investigating

[2022-01-27 14:43] ed255 opened #309 "circuit input builder: support multi-step and "virtual" steps"
Currently the CircuitInputBuilder expects that every geth step corresponds to one circuit step.  This can be seen in the `handle_tx` function, which goes like this:
[code]
The method `gen_associated_steps` takes a `CircuitInputStateRef` which contains the step (which has some fields filled by handle_tx, and the rest of the fields are filled in `gen_associated_steps`.

For multisteps we will need a

[2022-01-28 14:29] ChihChengLiang commented on #306
closed by #308

[2022-01-28 14:29] #306 closed

[2022-01-31 10:08] #288 closed

[2022-01-31 14:11] #272 closed

[2022-02-04 19:26] icemelon commented on #289
cc @DreamWuGit
I think we should not use RLC for COINBASE address in the block context table as the value is at most 20 bytes, which doesn't exceed the Fp field. Also could you enhance the test cases to cover COINBASE addresses other than 0x0?

[2022-02-04 20:38] CPerezz commented on #289
There's already a lazy_static var defined with a non-zero value that you can use.

[2022-02-04 23:26] icemelon commented on #260
We can close this issue now @DreamWuGit

[2022-02-05 13:28] DreamWuGit commented on #260
closing this issue as https://github.com/appliedzkp/zkevm-circuits/pull/259 merged!

[2022-02-05 13:28] #260 closed

[2022-02-05 15:12] DreamWuGit commented on #289
after taking look at PR #292 , just as Han said as before and this have been fixed in that pr, thanks!

[2022-02-07 12:23] therealyingtong opened #320 "[cleanup] Replace all instances of `(Cell, F)` with the `AssignedCell` primitive from `halo2`."
This is safer than passing around tuples, and reduces boilerplate by providing a method for copying assigned cells. An example of where we can use this in the Keccak gadget: https://github.com/appliedzkp/zkevm-circuits/pull/268#discussion_r800561028

[2022-02-07 13:59] #210 closed

[2022-02-08 00:25] silathdiir commented on #164
Hi @ed255 , it seems that the macro `address`, `word` and `word_map` have already been moved to [eth-types/src/lib.rs](https://github.com/appliedzkp/zkevm-circuits/blob/main/eth-types/src/lib.rs#L398). Should we move them to a new crate for test?

[2022-02-08 09:27] lispc opened #322 "merge EVM circuit and state circuit"
After some discussions with Han , we think EVM circuit and state circuit need to be merged together into ONE CIRCUIT to be consistent with each other.  Here is my thoughts on this, and any comments welcome.

1. change the rw lookup table of the current EVM circuit from a RWCounter-sorted fixed-column table to advice-column table using the same sorting as the current state circuit.
2. constraints o

[2022-02-08 10:35] CPerezz opened #323 "keccak: Use `AssignedCell` frol halo2 instead of (Cell,F)"
[code]

_Originally posted by @therealyingtong in https://github.com/appliedzkp/zkevm-circuits/pull/268#discussion_r800561028_

We should do that in the entire crate as it will help a low to reduce boilerplate.

[2022-02-08 10:58] CPerezz commented on #320
Ohh my bad. I filled #323 since I didn't see this issue. Will close it.

[2022-02-08 10:58] CPerezz commented on #323
Duplicated of #320

[2022-02-08 10:58] #323 closed

[2022-02-08 13:57] barryWhiteHat commented on #322
Just a quick update on this. I am chatting with @lispc about this one. My current TLDR is Lets put the evm proof and state proof side by side and verify them in a single proof.

This is possibly necessary to make it easier for pass bus mapping elements from state proof to evm proof.

That said we still have some exploring to do so no urgent change is require. Will update here :)

[2022-02-08 14:34] ed255 commented on #322
Recently I've been reviewing the current implementation of the state circuit and started working towards bringing it up to date.  I would like to participate in this discussion :)

[2022-02-08 16:53] ChihChengLiang commented on #203
Current spec here https://hackmd.io/oaZ_rzzET6GP1GG4Y8ojnQ

[2022-02-09 03:20] lispc commented on #322
Barry another approach

"So the way i was thinking to do this, maybe you or Han have a better idea here, was to

1. Give each element a unique tag
2. Count each element read in evm proof
3. In the l1 evm do a range proof to prove that the degree of the table == count_of_each_element"

I am not sure how to implement these from the coding side

[2022-02-09 09:41] ChihChengLiang opened #324 "reduce degree of stepx_acc range check with a lookup table"
https://github.com/appliedzkp/zkevm-circuits/blob/4732717f959cb407a8b8bf6514dbc79c55b64291/keccak256/src/gates/rho_checks.rs#L459-L479

The `step2_acc` constraint (with final degree 14) and especially the `step3_acc` constraint (with final degree 171!!!) make the extended degree of the keccak circuit to be 256x the size of the normal domain, which has an enormous impact on performance and memory u

[2022-02-11 01:57] lispc commented on #322
Hi Edu, may i know your plan on this？I am considering update some of state_circuit.rs with data types(like Block) in witness.rs.  I am afraid that our updates may conflict/redundant

[2022-02-11 10:08] ed255 commented on #322
I identified that the following pieces are missing:
- a. `CallContext`, `Account`, `TxRefund`, `TxAccessListAccountStorage`, `TxAccessListAccount`, `AccountDestructed` "Tags" and their particular constraints.
- b. Columns usage as defined in https://hackmd.io/VCGteyZEQFKUjHA_A72f1Q?view
- c. State circuit constraint documentation (https://github.com/appliedzkp/zkevm-specs/blob/eda6ea91fa8de7eb1955

[2022-02-14 09:12] CPerezz opened #331 "Re-enable conflicting equality constraint in base_conversion"
I think we need to enable that copy constraint to bind the output of the base conversion. I imagine we now have the flow like the following. The
[code]

_Originally posted by @ChihChengLiang in https://github.com/appliedzkp/zkevm-circuits/pull/268#discussion_r801646027_

[2022-02-14 09:18] CPerezz commented on #289
Closing them as was solved via #292

Thanks @DreamWuGit and @ChihChengLiang for remembering me!

[2022-02-14 09:55] ed255 commented on #164
Now that these macros are in `eth-types` I think they are better placed than before.  I think that may be good enough, because right now I think adding a crate for three small macros would be overkill.  On the other hand we have the `mock` crate which is only used for testing, but I think it's not very intuitive to put the macros there.  So I'm thinking we can leave these macros in `eth-types` and

[2022-02-14 10:04] #218 closed

[2022-02-14 10:04] #273 closed

[2022-02-14 10:23] silathdiir commented on #164
No. Just saw this familiar issue. I think leaving these macros in `eth-types` is good enough for now. We may close this issue. Thanks.

[2022-02-14 11:02] #164 closed

[2022-02-14 11:40] ChihChengLiang opened #332 "Error message printed in Circuit input builder tests"
### Problem

Some error message starts with `trace stopped ...` in the CI run. Although the message indicates some error, the tests still pass

https://github.com/appliedzkp/zkevm-circuits/runs/5182916972?check_suite_focus=true#step:6:681
[code]

### Solution

Need investigation

cc @ed255

[2022-02-14 14:00] barryWhiteHat commented on #122
I think we are also planning to add

1. call_data_gas_cost calculations. This is due to the really annoying gas fee difference for bytes of data that are 0 and nonzero bytes of data. This is hard to check in circuit and we hope will be removed soon :)
2. message hash calculation here. This is just to make things easier.

[2022-02-14 14:15] ChihChengLiang commented on #129
Looks like this is resolved. Feel free to reopen if you need more discussion.

[2022-02-14 14:15] #129 closed

[2022-02-14 17:04] ed255 commented on #332
This issue should be resolved in https://github.com/appliedzkp/zkevm-circuits/pull/292

I think the reason for these messages is twofold:
- 1. Previously the external tracer (written in go) was not propagating the errors to rust, and just printing them to stdout:
https://github.com/appliedzkp/zkevm-circuits/blob/9990b567e1e91b6781b63fb790d46d76b3c4a013/geth-utils/lib/lib.go#L32-L35
- 2. Previously

[2022-02-14 17:17] ChihChengLiang commented on #332
Thank you Edu, that explains it! I linked this issue to #292 so that it can close this.

[2022-02-15 03:33] silathdiir commented on #320
I'd like to fix this issue if no one is working on it. Thanks.

[2022-02-15 04:06] ChihChengLiang commented on #320
@silathdiir Thanks for taking this! This task depends on an upgrade of halo2, so it can be started after the https://github.com/appliedzkp/halo2 side is ready.

[2022-02-17 12:21] #174 closed

[2022-02-17 12:21] #188 closed

[2022-02-17 12:21] #250 closed

[2022-02-17 12:21] #289 closed

[2022-02-17 12:21] #332 closed

[2022-02-21 00:48] stevenatcrypto commented on #309
Hello, I'd like to fix this issue if no one is working on it. Thanks.
I will also add code for bus-mapping calldatacopy next which depends on this issue.

[2022-02-21 00:54] silathdiir commented on #309
Hello, I'd like to fix this issue if no one is working on it.
I will add code for bus-mapping `calldatacopy` next which depends on this issue. Thanks.

[2022-02-21 10:07] CPerezz opened #336 "Implement Keccak word padding"
We need a circuit that pads the keccak input bytes and returns back the words in `NEXT_INPUTS` format to be used in the keccak circuit.

Something like:
- First state is 200 zeroe'd bytes.
- We iterate the input over chunks of 136 bytes and convert each 8 bytes in a word, and each 17 words in NEXT_INPUTS.
- The final chunk is padded following the rationale:
[code]

This will run a fixed amount of

[2022-02-21 10:08] CPerezz commented on #274
Specs currently avaliable at: https://hackmd.io/zIncjhEuRJioiIbPYfM_DQ

[2022-02-21 10:09] CPerezz commented on #203
Superset by #336

[2022-02-21 10:09] #203 closed

[2022-02-21 10:15] CPerezz opened #337 "[dependency] Update halo2 version to latest `main` for the entire workspace"
Currently the workspace is using:
[code]

The idea is to simply use `main` at latest commit height. So:
[code]

[2022-02-21 10:16] CPerezz commented on #337
This will help a lot for error debugging like in #331 or in #320 since the new version comes with `AssignedCell` type included

[2022-02-21 11:31] ChihChengLiang commented on #38
close in favor of #337

[2022-02-21 11:31] #38 closed

[2022-02-21 11:57] ed255 commented on #309
Sounds great!  You can use this issue to discuss doubts, ideas, proposals about this feature.

Maybe you can work on this issue and the implementation of `CALLDATACOPY` in the bus-mapping in the same PR so that you can already see if the implementation of the multi-step feature in the `CircuitInputBuilder` is working correctly and fulfills the requirements properly.

[2022-02-21 12:49] barryWhiteHat commented on #337
https://github.com/appliedzkp/zkevm-circuits/pull/302/commits/4cf8ba360dc8407c18ac0d4e83c6221b606a6a4f might be a bunch of hte work for this. Ping @NoCtrlZ

[2022-02-21 14:32] CPerezz commented on #337
After discussing with @NoCtrlZ, We can ignore for now https://github.com/appliedzkp/zkevm-circuits/pull/302 as is just for benchmarks and also conflicting and proceed with a PR for the update.

[2022-02-21 16:07] ed255 opened #340 "Use TestCircuit from zkevm_circuits::evm_circuit::test::TestCircuit in integration-tests"
After https://github.com/appliedzkp/zkevm-circuits/pull/326 the TestCircuit for the EVM Circuit is exposed via the test feature in the zkevm_circuits crate.  We can use that in the integration-tests to avoid dulicating the code of TestCircuit, just like `prover/src/bin/prover_cmd.rs` does.

[2022-02-22 02:57] NoCtrlZ commented on #337
@CPerezz
I was successful for update halo2.
I hope this helps you.
https://github.com/appliedzkp/zkevm-circuits/pull/321

[2022-02-22 08:34] CPerezz commented on #337
Ye, I saw this!

I'm almost done. I think the rebase will be really easy! :)

I'm updating to current halo2 master. The idea would be that we release a tag for it which makes it easier for us to identify versions.

[2022-02-22 11:14] CPerezz opened #342 "Use logging instead of raw printing for prover workspace member reports"
Currently, we are just printing the info of the CLI bin with `println!`.

But @ed255 introduced some time ago logging into the workspace. So it would be nice to use it also in the `prover` workspace member.

This can be taken as implementation example: https://github.com/appliedzkp/zkevm-circuits/blob/28b1ea7a6d3e70fa7b20f47fe24b850c7a48d8b3/integration-tests/src/bin/gen_blockchain_data.rs#L87

[2022-02-22 11:16] CPerezz opened #343 "Missing labels and labeler CI inclusion of new workspace member crates."
We should add labels and modify the labeler workflow in order to be able to mark every PR and obtain release reports much better and for each workspace member.

[2022-02-23 08:41] CPerezz commented on #168
I think this can be closed via https://github.com/appliedzkp/zkevm-circuits/pull/268.
Since benchmarks were checked in the branch: https://github.com/appliedzkp/zkevm-circuits/blob/keccak_bench_test/circuit-benchmarks/src/keccak_permutation.rs with the new halo2 version and will also land within the CI in #341

WDYT @ChihChengLiang ?

[2022-02-23 08:42] CPerezz commented on #168
Or do we want to have this issue for the entire keccak circuit? Padding included.

[2022-02-23 08:44] CPerezz commented on #320
Sorry @silathdiir . I just saw this.

This required to update halo2 for the entire workspace. As the version we had till now was old in respect to the actual latest release of our fork: https://github.com/appliedzkp/halo2/releases/tag/v2022_02_23

So I took care of the issue and did all the work as required several changes in different crates.

Apologies. #341 is the PR that should solve this. Hap

[2022-02-23 08:48] CPerezz commented on #276
#168 Is partially solved since #273 included benchmarks for the permutation.
We now need to bench the entire circuit with padding included.

[2022-02-23 09:16] ChihChengLiang commented on #168
Yeah, closing sounds good.

[2022-02-23 09:16] #168 closed

[2022-02-23 12:28] CPerezz opened #344 "Looks like it's not the problem of `AssignedCell`. It's we need to rework the `compute_coefs`."
#341 Left some tech-debt regarding err handling for `AssignedCell`.

Looks like it's not the problem of `AssignedCell`. It's we need to rework the `compute_coefs`.
The `input` value is only `Some` to the prover but `None` to the verifier.
So that the verifier has no way to know what `input_coefs` and `output_coefs` are.

For now, it seems fine to use your approach to unwrap it here. I can do anoth

[2022-02-24 09:12] CPerezz opened #348 "Modularize mock structures generation to improve trace customisation"
Currently, we're creating new methods each time in order to create traces with Geth. This causes the mock member to be filled with stuff like:
https://github.com/appliedzkp/zkevm-circuits/blob/main/mock/src/lib.rs#L58-L100

Also, there are more issues. One of them was discovered during my implementation of the `GASPRICE` opcode. It turns out that the modification of GasPrice field of the tx causes

[2022-02-24 12:09] lispc opened #350 "[state circuit] implement the new spec"
The new state circuit spec is merged in <https://github.com/appliedzkp/zkevm-specs/pull/118>

State circuit implementation needs to be updated to be consistent with this spec.

Tracking this issue here.

[2022-02-24 17:07] ed255 opened #351 "Long testing times in Github Actions required for merging PRs"
Recently the time required for passing all tests in this repository has increased quite noticeably.

I think this comes from adding more circuit implementation of opcodes and their corresponding tests using the `MockProver`.  For example this is a recent test run https://github.com/appliedzkp/zkevm-circuits/runs/5317122616?check_suite_focus=true
which took 37 minutes!

![image](https://user-images

[2022-02-24 17:10] ed255 commented on #351
Ideas that come to my mind to resolve this:
- Investigate how optimized the `MockProver` is, and if there's any low hanging fruit that can lead to faster runs, work on it.
- Some opcodes have many tests with different inputs.  Reduce to only leave what's necessary if possible.
    - Maybe we could have for each opcode 2-3 basic tests, and some extended tests with a higher variety of inputs that ar

[2022-02-25 01:48] HAOYUatHZ commented on #351
Or alternatively, we can only run tests for codes related to changes?    （I guess it's doable but haven't really looked into it）

1. detect which folders/sub-workspaces are changed
2. only run those tests

We can do that for each "PR", and still do a complete test for "merge".

[2022-02-25 08:53] lispc commented on #351
related < https://github.com/scroll-tech/zkevm-circuits/issues/94>

There seems some low hanging fruit, better modify this after new halo2 being merged

[2022-02-25 09:22] pinkiebell commented on #351
Another idea, allocating dedicated runners. This can be done more cheaply by using self hosted hardware somewhere or using hetzner/ovh for example. Though I don't know if hardware performance is a problem here. Does someone has running times on bigger hardware for these tests?

[2022-02-25 11:20] #320 closed

[2022-02-25 11:20] #337 closed

[2022-02-25 15:01] #340 closed

[2022-02-26 01:53] HAOYUatHZ commented on #351
If that's planned, I also suggest we adding https://github.com/mozilla/sccache. From our experience, it can save several minutes for compiling and testing. Github cache action only caches some downloaed manifest, but sccahe further caches some compiled results.

Serveral minutes isn't considerable for current CI so I didn't suggest it. But if we are adding our own machine, it does no harm but only

[2022-02-28 11:27] ed255 opened #356 "Update state circuit according to specs"
The specs for the state circuit were updated recently and the circuit implementation needs to be updated accordingly.
Update specs PR: https://github.com/appliedzkp/zkevm-specs/pull/118

[2022-02-28 11:28] ed255 commented on #356
@lispc and @z2trillion are working on this.

[2022-02-28 15:43] lispc commented on #356
WIP PR <https://github.com/scroll-tech/zkevm-circuits/pull/111>

[2022-02-28 22:39] CPerezz opened #358 "Enable a way to test out-of-gas cases"
For now, we don't really have a way as when Geth gets an out-of-gas exception it doesn't return the trace.
We also need to update this behaviour. And we should file an issue for that.

_Originally posted by @CPerezz in https://github.com/appliedzkp/zkevm-circuits/pull/353#discussion_r816297478_

Geth behavior now makes impossible to test these cases as it is not possible to generate a trace from G

[2022-03-01 01:30] DreamWuGit opened #359 "unit test debugging error with VSCODE `Rust Test Lens` plugin & `rust-analyzer`"
When debugging latest circuit repo test, encounter following errors:
![image](https://user-images.githubusercontent.com/16850793/156087103-17f1d4ed-57af-48bc-9fce-4cacce56a563.png)

 the `cargo build` & `cargo build --tests` cmds both OK,  that only happens in debugging ! previous working well, most likely recent change about test affect this ?

[2022-03-01 01:50] CPerezz commented on #359
Hey!!

That's because`test` module in this crate is only exported with a feature flag (i think is called `tests`.

To fix it, write: `cargo build --tests --features tests`.

You can see this if you check the Makefile :)

[2022-03-01 02:14] DreamWuGit commented on #359
@CPerezz  thanks, I see[ this commit ](https://github.com/appliedzkp/zkevm-circuits/commit/0acc51bde8ca6af5db41cd121e8f3f9f91faa48a) made that change,  manually run `cargo build --tests --features `  of course goes well, But I am not sure how to configure vscode plugin(.i.e  `Rust Test Lens` ) to make it work now, which is my caring ;), otherwise it will be not efficient for developers to debug co

[2022-03-01 02:55] CPerezz commented on #359
What I do is to edit `Cargo.toml` like this:

[code]

On that way, you have it enabled always amd the builds are done with tests by default.

If there is a way to configure the plugin, I ignore it.. Sorry..

[2022-03-01 06:25] DreamWuGit commented on #359
@CPerezz  thanks , I just change `#[cfg(feature = "test")]` to `#[cfg(test)]` in evm_circuit.rs as walk around,  maybe there exists a better way.

[2022-03-01 06:47] CPerezz commented on #359
Glad this worked!!!

[2022-03-01 13:54] lispc commented on #350
close in favor of <https://github.com/appliedzkp/zkevm-circuits/issues/356>

[2022-03-01 13:54] #350 closed

[2022-03-01 14:16] Dhole commented on #350
Oh sorry, I hadn't seen this issue when I opened https://github.com/appliedzkp/zkevm-circuits/issues/356
Apologies!

[2022-03-01 14:17] ed255 commented on #350
Oh sorry, I hadn't seen this issue when I opened https://github.com/appliedzkp/zkevm-circuits/issues/356
Apologies!

[2022-03-01 14:22] ChihChengLiang commented on #359
@DreamWuGit I just run into the same error by `cargo test  -p zkevm-circuits` and your fix works. I don't think that's a workaround, would you like to send PR?

[2022-03-02 00:40] DreamWuGit commented on #359
@ChihChengLiang  I would , however there is an reference from `prover` project, when `cargo build ` the whole repo,  met the reference error if include that fix in `evm_circuit` :
![image](https://user-images.githubusercontent.com/16850793/156272404-eaef31dc-f11f-4e8f-b725-1a30bdb36c45.png)

I will dig more , welcome to hear your ideas!

[2022-03-02 16:08] ed255 commented on #309
Regarding the "virtual" steps (steps that don't match 1 to 1 with opcodes) I wrote the following task in https://github.com/appliedzkp/zkevm-circuits/issues/222 :

Generalize the output of the CircuitInputBuilder to follow the definition of `ExecutionState`.
    - For example, this could be done by converting the ExecStep into an enum
      that can be: ExecStep, MultiStep, ErrorStep, VirtualStep.

[2022-03-03 02:41] silathdiir commented on #309
Hi @edd255, according to your above comment, should we fix `ExecStep` to an enum of SingleStep (original ExecStep), MultiStep, ErrorStep and VirtualStep?

It seems that `gen_associated_ops_multi` is useless for trait Opcode if we fix ExecStep to an enum. Thanks.

[2022-03-03 10:45] ChihChengLiang commented on #359
addressed in #361

[2022-03-03 11:44] ed255 commented on #309
That was a quick example that I thought about, but let me propose a more thoughtful idea:

Currently we have:
[code]
This is actually covering the `EVMExecStep` and `ErrorStep`.  The `EVMExecStep` is expressed by setting the proper value in `op` and setting `error` to `None`.  The `ErrorStep` is expressed by setting the proper value in `op` and setting `error` the `Some(ExecError)`.

So we're miss

[2022-03-03 12:46] CPerezz opened #363 "Benchmarks for evm_circuit fail for Transcript corrupted reads of FieldElements"
After running the benches in #352 there was an error with the EVM circuit which involved FieldElement malformed reads.

See err report:
[code]

[2022-03-03 12:48] CPerezz commented on #363
As @han0110 said. Before #341 `&[&[]]` is passed (as single proof instance with no instnace columns values). Now we were passing `&[]` only for instances. Which basically means that `num_proofs=0`.

Will submit a PR to fix this. But it's weird that this is the behaviour as it leads to an error which is basically moving you into a complete different direction of the real source of the problem.

[2022-03-03 14:17] #363 closed

[2022-03-04 03:37] Lawliet-Chan opened #366 "circuit-benchmarks stack overflow"
` evm_circuit::evm_circ_benches::bench_evm_circuit_prover`   tests failed: stack overflow.
[code]
Is it a `halo2` bug?

[2022-03-04 05:17] HAOYUatHZ commented on #366
Is it because using a too small degree (11)?

In https://github.com/appliedzkp/zkevm-circuits/pull/352 we are using degree=19, and the CI passes.

Difficult to test because 19 is too big for my local laptop....

[2022-03-04 06:59] barryWhiteHat commented on #366
If you apply the "benchmark" lable to PRs the CI will run the bench for you. Hopefully with some prover optimizations we can reduce the prover time on laptop.

[2022-03-04 11:38] CPerezz commented on #366
Hi @Lawliet-Chan

Currently, we run the benchmarks by default with a config that "simulates" real word cases of witness input sizes.
This means that the DEGREE we test for is something between 18-24.

This causes the need of aprox 800GB of RAM. Which basically makes any desktop computer to kill the process.

If you want to bench this locally, please use a smaller degree (11-14 should be fine). And

[2022-03-04 11:51] CPerezz opened #367 "Ci should report the results of the benchmarks in the PR conversations"
Currently, as you can see with #352 the results of the benchmarks can only be seen if you go to the logs of the CI and search there.

It would be a way easier to check if a comment was added into the PR discussion directly with all of the results of each circuit PR that was run.

Not sure how difficult/feasible this is. But would be a nice-to-have thing.

cc @AronisAt79

[2022-03-04 11:54] CPerezz opened #368 "`benchmark` label only runs EVMCircuit benchmarks but not StateCircuit ones"
As can be seen in #352 logs, no reports about `State` circuit were found anywhere. IIUC, they were not run.

I think this is not the expected behaviour, and that the `benchmark` label should run them all.

cc: @AronisAt79

[2022-03-04 12:06] pinkiebell opened #369 "Required opcodes for basic L2 Bridge"
###### required environmental opcodes for L2 Bridge
- [x] CALLVALUE https://github.com/appliedzkp/zkevm-circuits/pull/287
- [x] CALLDATASIZE https://github.com/appliedzkp/zkevm-circuits/pull/329
- [x] CALLDATALOAD https://github.com/appliedzkp/zkevm-circuits/pull/346
- [x] CALLDATACOPY https://github.com/appliedzkp/zkevm-circuits/pull/393
- [x] ORIGIN https://github.com/appliedzkp/zkevm-circuits/p

[2022-03-04 12:07] pinkiebell opened #370 "Required opcodes for advanced l2 bridge contracts"
###### Further opcodes for more advanced l2 contracts (compatibility layers, erc-20 factories etc):
- [x] EXTCODEHASH https://github.com/appliedzkp/zkevm-circuits/pull/353
- [x] EXTCODESIZE https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/1014
- [ ] CREATE2
- [x] CODECOPY
- [x] SELFBALANCE https://github.com/appliedzkp/zkevm-circuits/pull/328
- [x] CHAINID https://github.com/app

[2022-03-04 12:07] HAOYUatHZ commented on #368
because in https://github.com/appliedzkp/zkevm-circuits/blob/main/.github/proverCiScripts/execBench.sh#L15 (invoked by https://github.com/appliedzkp/zkevm-circuits/blob/main/.github/workflows/gh-actions-prover-benches.yml)

we only run `bench_evm_circuit_prover `

uf we want to bench on `StateCircuit`, we need `bench_state_circuit_prover` (https://github.com/appliedzkp/zkevm-circuits/blob/main/cir

[2022-03-04 12:13] HAOYUatHZ commented on #367
seems we can make use of https://github.com/marketplace/actions/publish-unit-test-results

we can grep/sed the desired result, and then use this github-action to post the summary

[2022-03-04 12:26] CPerezz commented on #368
@HAOYUatHZ yep. I agree. We should ammend this @AronisAt79 and add the State and probably the keccak benches to that script.

[2022-03-04 12:29] CPerezz opened #371 "Split PR runs with different labels to avoid unnedded work/computations in the CI"
Based on #368, it would be nice to be able to select the benchmarks that we want to run and not to run all of them.

Assume we have a PR where we only modify keccak, we don't want to bench evm or state circuits since they haven't changed at all.

The proposal is to create 3 new labels: `benchmarks: EVM`, `benchmarks: State` and `benchmarks: Keccak` and each one of them will trigger a single circui

[2022-03-04 12:31] CPerezz commented on #367
Thath's a nice one @HAOYUatHZ .

I originally suggested to make a bot to do all that stuff. But it's true that would require more work.
I like your proposal! How do you see it @AronisAt79 ?

[2022-03-04 13:58] AronisAt79 commented on #371
Thanks for the proposal @CPerezz , this makes sense. One question; we have a workflow that launches a bench run (EVM) when a halo2 PR is labeled accordingly. Do we want to evaluate halo2 optimizations against evm/state/keccak circuits performance? Or running only against evm should be sufficient?

[2022-03-04 14:10] AronisAt79 commented on #368
Thanks @CPerezz and @HAOYUatHZ , please see my comments on issue #371
cc: @HAOYUatHZ , @CPerezz

[2022-03-04 14:19] AronisAt79 commented on #367
Thanks @HAOYUatHZ , @CPerezz . It looks perfectly doable.Let me have a look!

[2022-03-04 15:04] pinkiebell opened #372 "evm_circuit/witness: unimplemented opcode ISZERO"
Running the latest prover_cmd on the zkevm-chain runs into:
[code]

[2022-03-04 15:20] CPerezz commented on #371
That's a good point. EVM circuit should contain a bit of everything that is possible to do with halo2. So might be the best crate to check `halo2` optimizations.

Let's see some opinions from @han0110 @barryWhiteHat

[2022-03-04 15:24] CPerezz commented on #367
If it has to take too much of your time feel free to work on higher prio tasks.

This is just a convenience thing that can be done at any point.

[2022-03-04 16:01] CPerezz opened #373 "patch for halo2_proofs not applied correctly in workspace Cargo.toml"
After checking some proposals that @kilic had, we realized that the `patch` section in the workspace `Cargo.toml` for `halo2_proofs` is wrongly set.

Current:
[code]

Desired so that we override git deps for other git ones:
[code]

This will replace all the `halo2_proofs` deps for the one with the tag specified for all the workspace members that depend on it.

See: https://doc.rust-lang.org/cargo/

[2022-03-04 16:11] CPerezz commented on #373
Just realized that `cargo` expects that the git path is different for both deps. Does not consider the tag difference or any other thing into account.

So even this would be useful, we can't use it for now to unify our deps of `halo2_proofs` into a single file.

[2022-03-04 16:11] #373 closed

[2022-03-04 17:33] barryWhiteHat commented on #372
Ah i think you are trying to use the `isZero` opcode which we have not implemented. Is it possible to comment that check out ?

[2022-03-04 17:35] barryWhiteHat commented on #371
Longer term it would be good to be able to test against all. But feel don't need to prioritize that for now.

[2022-03-04 17:53] CPerezz commented on #371
But that's something about Halo2's CI right? And in halo2 repo we can enable benchmarks against a generic circuit or the evm one and bench only halo2 there.
Here in zkevm-circuits we just focus on the circuit benches themseleves no? Maybe I'm missing something.

[2022-03-04 19:07] han0110 commented on #372
This panic comes from:

https://github.com/appliedzkp/zkevm-circuits/blob/f3a6020ab5a0b1e04acf15155390b0d2786f3a87/zkevm-circuits/src/evm_circuit/witness.rs#L1035

For workaround, we can use `ExecutionState::STOP` which is only a placeholder now as fallback, to make trace with unimplemented opcodes work.

[code]

[2022-03-06 18:36] kilic opened #375 "Depend on `pairing` crate that is reexported from `halo2_proofs`"
`halo2_proofs` [reexports](https://github.com/appliedzkp/halo2/blob/9d3ab0cf7be57a828df6cedb8f58476b483fdde1/halo2_proofs/src/lib.rs#L29) `pairing` create. So we might want to depend what `halo2_proofs` uses for compatibility of traits.

[2022-03-07 02:25] DreamWuGit commented on #369
What does the `L2 Bridge` mean here ?  @pinkiebell

[2022-03-07 04:35] HAOYUatHZ commented on #366
We find that it's because we didn't use `--profile bench`

In `[profile.bench]` we set `overflow-checks = false`.  I turn it into `true` and re-run `DEGREE=11 make evm_bench` then it also fails with `thread 'evm_circuit::evm_circ_benches::bench_evm_circuit_prover' has overflowed its stack`.
With `false` it passes.

Just wondering will skip `overflow-checks` be a problem?

[2022-03-07 06:10] z2trillion commented on #370
SELFBALANCE is done: https://github.com/appliedzkp/zkevm-circuits/blob/main/zkevm-circuits/src/evm_circuit/execution/selfbalance.rs

[2022-03-07 07:55] DreamWuGit opened #376 "Implement logs bus-mapping code"
logs series codes need to handle dynamic size of memory copy , which is somewhat like `CallDataCopy`. circuit behavior refer to #335 !
I see current issue #222 and #309  discuss and work on ` multi-step` supporting circuit input builder, which is also logs codes required. So maybe better to start this work just after they are done !

[2022-03-07 10:14] barryWhiteHat commented on #369
L2 bridge means the contract on l2 that allows for deposits and withdraws from L1. So these opcodes need to be supported by zkevm.

[2022-03-07 10:23] barryWhiteHat commented on #371
Right. I was thinking we can also have just keccak bench in zkevm benches just to avoid running many benches. But don't have to worry about that for now.

[2022-03-07 11:16] ed255 opened #377 "Documentation generation sometimes fails"
When running `cargo doc` (which is part of the github actions required to pass for a PR), we get this warning:
[code]
And sometimes the process fails with:
[code]

Currently we're depending on two different version of bitvec (one is pulled by halo2, the other is pulled by ethereum types). My impression is that the issue appears because both versions use the same path to build the documentation, an

[2022-03-07 11:47] CPerezz opened #378 "[CI] intra-link docs err for bitvec -> Consider resolver=2"
@CPerezz also encountered this error once, and if I remember correctly, it just went away by rerunning the CI.  Currently we're depending on two different version of `bitvec` (one is pulled by halo2, the other is pulled by ethereum types).  My impression is that the issue appears because both versions use the same path to build the documentation, and the documentations are built in parallel, which

[2022-03-07 11:55] ed255 commented on #377
Related: https://github.com/rust-lang/cargo/issues/6313

[2022-03-07 12:08] CPerezz commented on #366
So why I recomend to use `make` is because the profile for bench removes a lot of debugging data from the final compiled binary.

In other words, you're processing a lot of debug/dummy info which accomulates in the stack and causes issues. Same will happen with `debug-symbols` probably.

I recommend to stick to the provided config. As anything that is run under `debug` or basic `release` profiles

[2022-03-07 12:08] #366 closed

[2022-03-07 12:36] CPerezz commented on #378
Closing as duplicated of #377

@ed255 filled it some minutes earlier and I missed it :laughing: .

[2022-03-07 12:36] #378 closed

[2022-03-07 12:37] CPerezz commented on #358
@ed255 any clues on how we can tweak Geth to return the trace that results of an out-of-gas exception?

[2022-03-07 12:39] CPerezz commented on #61
@han0110 can we consider this closed already? I think so no?

[2022-03-07 14:19] #377 closed

[2022-03-08 07:22] HAOYUatHZ commented on #366
I understand that "unit-test" and "integration-test" are done with `overflow_checks` and pass.

But benching with `overflow_checks=true` will actually fail. My concern is, could benching with `overflow_checks=false` result still be considered accurate? (Though benching with `overflow_checks=true` result doesn't look accurate either.)

[2022-03-08 08:20] CPerezz commented on #366
The point is not that the result is not accurate but that the stack explodes. It's not that the software does not it's job.

We can further check this. But since in the tests we don't have any over/underflows and, the benchmarks use the same circuits as the tests, I don't see why it should be an issue.

Could you clarify where exactly do you see the issue here @HAOYUatHZ as I'm afraid I'm not comp

[2022-03-10 14:04] #336 closed

[2022-03-11 08:47] CPerezz commented on #366
Glad we agreed!

Happy to answer any further questions you might have.

[2022-03-11 10:38] ed255 commented on #356
In https://github.com/appliedzkp/zkevm-circuits/pull/380 there's been an initial update of the state circuit following the new spec.  There are still some TODOs in the state circuit, so I'm leaving this issue open.

[2022-03-11 11:19] pinkiebell opened #385 "zkevm testnet: cherry-pick EIPs / ethereum forks"
We are currently on `arrow glacier`, except:
- [1559](https://eips.ethereum.org/EIPS/eip-1559)
- [2718](https://eips.ethereum.org/EIPS/eip-2718)
- [2930](https://eips.ethereum.org/EIPS/eip-2930)
- [3529](https://eips.ethereum.org/EIPS/eip-3529)

See: https://github.com/ethereum/execution-specs/blob/master/network-upgrades/mainnet-upgrades/

[2022-03-14 08:59] han0110 opened #386 "Implement `gen_associated_ops` of `RETURN` and `REVERT`"
Currently `RETURN` and `REVERT` borrow the `gen_associated_ops` of `STOP`, to make testing reverted cases easier. It should have its own logic implemented when we are going to implement their circuit.

[2022-03-14 10:47] ed255 opened #387 "Update Sload::gen_associated_ops"
`Sload::gen_associated_ops` was implemented some time ago and is outdated from the current spec, and doesn't match the current sload circuit implementation.

Testing the implementation is blocked by https://github.com/appliedzkp/zkevm-circuits/pull/349

[2022-03-14 10:49] ed255 opened #388 "Implement Sstore::gen_associated_ops"
SSTORE circuit implementation PR: https://github.com/appliedzkp/zkevm-circuits/pull/383

Testing the `gen_associated_ops` implementation is blocked by https://github.com/appliedzkp/zkevm-circuits/pull/349

[2022-03-16 11:29] TrapdoorHeader opened #392 "4 out of 6 integration test cases failed"
I run the integration tests as specified in the `run.sh`.  The `gendata_output.json` generated by running `gen_blockchain_data` is attached below. And I tried the `circuits` test cases which have 4 of 6 failed. The detailed log is reproduced here.

[code]

[2022-03-16 13:21] TrapdoorHeader commented on #392
okay.

[2022-03-16 13:21] #392 closed

[2022-03-18 09:16] lispc opened #395 "proposal: refactor `refund` from `RwTable` into StepStateTransition"
`refund` is very similar to `gas_left`. For every step, it is only need to check diff rather than value. Maybe StepStateTransition is a more suitable method for handling refund than `RwTable`?

[2022-03-21 00:32] HAOYUatHZ commented on #342
I second that. Because it will be great for logs capture&monitoring&analytics.

[2022-03-21 00:34] HAOYUatHZ commented on #52
is it a duplicate of https://github.com/appliedzkp/zkevm-circuits/issues/309?

[2022-03-21 00:50] HAOYUatHZ commented on #351
I guess this issue can be considered stale for now (at least we are not actively looking into it after https://github.com/appliedzkp/zkevm-circuits/pull/354).

If we want further optimization we can re-open it in the future?

[2022-03-21 07:24] lispc commented on #372
We are working on IsZero already. Will submit PR soon.

<https://github.com/scroll-tech/zkevm-circuits/pull/120/files#diff-61832a67a9340f0902a01e1be57e3c87232d35f1b39efd4b809e09e9e430ce65R24>

[2022-03-21 11:43] ed255 commented on #52
Yes! Thanks for noticing this :)

I'm closing this issue in favor of https://github.com/appliedzkp/zkevm-circuits/issues/309 which contains more details.

[2022-03-21 11:43] #52 closed

[2022-03-21 11:46] ed255 commented on #351
Correct!  I think we're all happy and comfortable with the current testing times :)

I agree! Thanks for bringing this up.  I'll close this issue for now.

[2022-03-21 11:46] #351 closed

[2022-03-21 15:19] #309 closed

[2022-03-22 05:26] HAOYUatHZ commented on #372
`ISZERO` is now at https://github.com/appliedzkp/zkevm-circuits/pull/399.

---

Currently `EQ`, `LT` & `GT` are combined in `ComparatorGadget`.

Skimming it over, I think adding `ISZERO` into it may not reduce duplication or improve readability.

[2022-03-22 13:39] DreamWuGit opened #400 "add negative test for circuit unit tests"
Currently both the evm circuit and bus mapping unit tests are all positive tests,  even the test pass , there is also be potential bugs sometimes in practice.  negative test is a good supplement from testing side, which can  help improve test quality and find bug at early stage!

glad to  know what you think !

[2022-03-23 15:16] ed255 opened #404 "Add integration test with ERC20 (OpenZeppelin) transfer"
Contracts: https://github.com/OpenZeppelin/openzeppelin-contracts/tree/master/contracts/token/ERC20

[2022-03-23 15:17] ed255 opened #405 "Add integration test with ERC20 (WETH9) transfer"

[2022-03-25 11:30] therealyingtong opened #406 "Remove unusable rows / poisoned cells"
Upstream randomises the last few rows in a circuit for the purpose of zero-knowledge. Since the zkEVM doesn't need zero-knowledge, we can remove the concept of unusable rows / poisoned cells.

[2022-03-25 11:33] adria0 opened #407 "Silent Result->Option fails"
In the code there are some `Result` converted into `Option` via `.ok()`, so, there was no checking on this.  When fixing them https://github.com/adria0/zkevm-circuits/commit/a4fe6d93ef1d129ac5e9da2ca525f1c147b9ae94, the tests on the bytecode circuit  fails. Halo2 says that is a low k problem, but when I bump the k (even till 20) the problem still persists.

Contacted with @Brechtpd, created https:

[2022-03-25 12:37] therealyingtong commented on #407
I believe this is a bug in the `bytecode_unroller` code. I think this line should say `offset..last_row_offset` instead of `offset..size`.

https://github.com/appliedzkp/zkevm-circuits/blob/1ec38f207f150733a90081d3825b4de9c3a0a724/zkevm-circuits/src/bytecode_circuit/bytecode_unroller.rs#L367

[2022-03-28 14:31] CPerezz opened #410 "Missing NUMBER implementation after merge"
After #381 was merged, I realized it does not include the opcode implementation but rather only the test case.

Indeed, the original PR that was reviewed was not like this when was approved. But maybe due to an error in a rebase or something similar it got deleted the impl part.

It would be required to bring it back the implementation and make sure that it passes the tests.

[2022-03-29 10:32] ed255 commented on #410
Are you referring to the `gen_associated_ops` implementation of the `NUMBER` opcode?  In such case, this is already "implemented" using `StackOnlyOpcode::<0, 1>::gen_associated_ops`, see:
https://github.com/appliedzkp/zkevm-circuits/blob/1ec38f207f150733a90081d3825b4de9c3a0a724/bus-mapping/src/evm/opcodes.rs#L121

[2022-03-29 12:25] adria0 commented on #407
@therealyingtong, with this change tests does not fail with `low k` but verify fails for other cases:
for the simple unrolling test

[code]
I also see that the  `minimum_rows` (that comes from `ConstraintSystem`) is only used in the bytecode_unroller and nowhere else, so at this moment is not clear for me how this parameter should be used.

[2022-03-29 14:12] ed255 commented on #410
Oh, what is actually missing is including the file `bus-mapping/src/evm/opcodes/number.rs` to the module tree.  Adding the line:
[code]
to `bus-mapping/src/evm/opcodes.rs` should fix it.

[2022-03-29 14:51] Brechtpd commented on #407
The problem is that halo2 requires all cells to be assigned for a gate that uses an enabled selector. And cells on unusable rows are not assignable (normally). By chance this wasn't a problem with the previous error handling because of how the layouter works in halo2
- The first phase is only used to get the dimensions of the region, which allows all cells to be assigned (even unusable ones)
- The

[2022-03-29 20:20] CPerezz commented on #410
That's right!!!! It makes sense. I noticed the module was missing. But thought that the opcode had it's own impl.

Will make a PR to fix it hopefully including the new `mock` infra.

[2022-03-30 11:24] #348 closed

[2022-03-30 11:52] CPerezz commented on #404
Closed via #408

[2022-03-30 11:53] CPerezz commented on #404
My bad. Thought that this one was the one #411 closed.

[2022-03-31 09:37] ChihChengLiang commented on #372
@pinkiebell ISZERO spec and circuit are all merged recently!

[2022-03-31 13:26] pinkiebell commented on #372
🚢

[2022-03-31 13:26] #372 closed, assigned to nobody

[2022-04-01 14:10] #410 closed, assigned to CPerezz

[2022-04-01 15:08] #404 closed

[2022-04-02 14:52] ed255 opened #421 "Init openzeppelin contracts git submodule in integration-tests `run.sh`"
Currently the integration test github action is failing at the gen block step because the git submodule with the openzeppelin contracts is not initialized.  We need to make sure that the submodule is pulled in the `gen_block` step in `integration-tests/run.sh`.
Failed integration test https://github.com/appliedzkp/zkevm-circuits/runs/5790140100?check_suite_focus=true

[2022-04-02 19:19] HAOYUatHZ commented on #421
in github workflow
[code]

[2022-04-04 08:57] CPerezz opened #423 "Implement a workflow to automatically select reviewers for PRs"
Now that the reviewers group has been created @appliedzkp/zkevm-reviewers .

A workflow will trigger for each PR and select one of the members as designated reviewer for the PR.
Once that happens, the member will select  another contributor to also review the code and provide the two required approvals to merge.

[2022-04-04 09:05] CPerezz commented on #370
I'm going to take CHAINID :)

[2022-04-04 11:37] CPerezz commented on #421
Also https://github.com/appliedzkp/zkevm-circuits/runs/5814932034?check_suite_focus=true.
No difference at all in the error :)

[2022-04-05 04:16] lispc opened #426 "proposal: split 3000 line circuit input builder into multi files"

[2022-04-05 09:03] CPerezz commented on #395
ping @han0110

Doesn't seem a crazy idea. But maybe I'm missing something.

[2022-04-05 09:05] lispc commented on #426
And better after some pending PRs merged.   Or else a lot of conflict

[2022-04-05 09:06] lispc commented on #395
I thought so. But later I realized that refund may be revert. Currently I am not sure whether it is a good idea. ( I am not very familiar with the overall reversion design)

[2022-04-05 10:05] han0110 commented on #395
It makes sense to me to track it in `StepState` directly. Although it's reversible thing in EVM, but it doesn't affect future execution, so it's kind of `write_only_persistent` data (like `Log` and `Destructed`), then we only need to add value to this field when `is_persistent == True`.

Another thought in my mind was to keep it in `rw_table`, and also move `memory_word_size` and `state_write_coun

[2022-04-05 12:16] #421 closed

[2022-04-05 12:26] CPerezz commented on #423
I wanted to go on the way of GH actions triggering a reivew request with a workflow like:
[code]

But as stated in #428 this is not possible yet. So will go for CODEOWNERS which should work no matter what.

[2022-04-05 12:46] ed255 commented on #426
Thanks for bringing this up!  I feel responsible for this >_<
One idea I had in mind was to move some of the tests to a new file.  For example, there are lots of tests for the discovery of an error kind from a trace that could be put together in a file.  But maybe it's even better if we move the error discovery along with the tests to a new file (to keep tests and implementation of tested function

[2022-04-05 12:46] ed255 commented on #405
Resolved in https://github.com/appliedzkp/zkevm-circuits/pull/408

[2022-04-05 12:47] #405 closed

[2022-04-06 09:34] pinkiebell opened #431 "testnet: Call stack is empty but call is used"
Run the following command inside the zkevm-chain repo to reproduce:
`docker run --pull --rm -v $(pwd):/host -e 'RUST_BACKTRACE=1' -e 'RPC_URL=https://zkevmchaingeth1.efprivacyscaling.org/rpc/l2' -e 'BLOCK_NUM=1' -e 'PARAMS_PATH=/host/params' --entrypoint /prover_cmd ghcr.io/appliedzkp/zkevm-chain/coordinator:latest`

####### output

[code]

[2022-04-06 10:29] pinkiebell commented on #431
@han0110 Could this be related with ExecutionState::[CALL,STOP] like #419 ?

[2022-04-06 10:31] han0110 commented on #431
Ah I have just found the issue, it's because `STATICCALL` and `DELEGATECALL` is used, and they are not implemented yet, so their call is not parsed and push to call stack properly.

I am trying to make a dummy handler to at least parse the call to make the `CircuitInputBuilder` work.

[2022-04-07 11:26] CPerezz commented on #431
This is weird. As the panic message refers to `BLOCK_NUM`. Is it refering to `NUMBER` opcode? Or it should appear some variable? It's a really weird panic message description.

[2022-04-07 11:39] CPerezz opened #437 "Update TestContext to support ChainId in the block config instead of the TxConfig"
As per #432  & https://github.com/appliedzkp/zkevm-specs/pull/168 decisions, `chain_id` fiield is located in the chain configuration. Which we don't have. Hence we derive the positioning of this field to the `Block` structure.

Therefore, since we asume all txs of a block have the same CHAINID, we just define it once in `TestContext` in the `MockBlock` builder pattern config.

[2022-04-07 11:41] CPerezz commented on #437
Once #432 is merged I'll start the work on this and also use a custom/random chain_id value for the tests to check all is correct.

[2022-04-08 06:27] lispc opened #440 "proposal: add Dummy opcode gadget in evm circuit to enable testing more complex bytecode trace"
Add DummpyGadget  like <https://github.com/scroll-tech/zkevm-circuits/blob/63ceea081021e3e28430185f637bf90fa315bea8/zkevm-circuits/src/evm_circuit/execution/dummy.rs>

So we can add lines like below in zkevm-circuits/src/evm_circuit/execution.rs to "mute" these opcodes,

[code]

so we can test more complex real world trace, not blocking by opcodes not implemented.

[2022-04-08 08:19] CPerezz opened #442 "Rename some Ops value and value_prev fields as the names don't identify with bool"
Still think this is worth a renaming. Ovbiously not part of this PR, so feel free to ignore. But I will raise an issue about this as sounds confusing.

_Originally posted by @CPerezz in https://github.com/appliedzkp/zkevm-circuits/pull/436#discussion_r844858395_

It's really weird that the fields of the struct are called `value` and `value_prev` and the type they have is `bool`.

I think would be

[2022-04-08 08:20] CPerezz commented on #442
WDYT @ed255 @han0110 ?

[2022-04-08 08:57] han0110 commented on #440
Having a `DummyGadget` sounds good to me. Integration test also needs EVM circuit to be provable.

[2022-04-08 08:59] han0110 commented on #442
Yeah, `value` seems ambiguous for access list operation. Perhaps we can rename it to `is_warm` and `is_warm_prev`?

[2022-04-08 09:11] ed255 commented on #442
I guess this applies to `TxAccessListAccountOp` and `TxAccessListAccountStorageOp` right?  Using `is_warm` and `is_warm_prev` sounds good to me!

Also I think `AccountDestructedOp` may have the same problem, so the fields of the struct could be renamed to `is_destructed`, `is_destructed_prev`.

[2022-04-08 09:56] barryWhiteHat commented on #440
@lispc should i assign you to this issue?

[2022-04-08 10:27] han0110 opened #443 "Implement `Calldatacopy::gen_associated_ops`"
After #434 is merged, `gen_associated_ops` of `CALLDATACOPY` should be able to be implemented and tested in circuit to unblock #419.

[2022-04-08 10:34] lispc commented on #440
That is ok. It is already implemented in my branch. Just need to pick it in a new pr

[2022-04-08 10:46] #437 closed

[2022-04-08 11:40] ed255 commented on #440
This sounds really good! We already have dummy implementations for opcodes in the circuit input builder.  Maybe you already thought about this, but I suggest adding a `log::warn!` when using such a dummy gadget (in the advice assign function for example) so that we can see in integration tests which opcodes we are skipping.  Something like this: https://github.com/appliedzkp/zkevm-circuits/blob/e8

[2022-04-08 11:48] ed255 commented on #400
I think having these negative tests is really important! Thanks for bringing this issue up!
From a discussion in https://github.com/appliedzkp/zkevm-circuits/pull/403#discussion_r844993664 we realized it would be good to find a good strategy to test the circuits for invalid witness; but doing so is not straight forward because of the following facts:
1. We would like the exposed assign function to

[2022-04-08 12:39] barryWhiteHat commented on #440
I assigned you just so we can make sure to close this one once we get PR merged :)

[2022-04-08 14:49] ChihChengLiang opened #444 "Create a crate for commonly used gadgets"
### Problem

- [zkevm-circuits/src/gadget](https://github.com/appliedzkp/zkevm-circuits/tree/main/zkevm-circuits/src/gadget) currently contains 3 gadgets: evm_word/monotone/is_zero. evm_word and monotone are unused anywhere, but is_zero is used in bytecode unroller.
- In the keccak we need the is_zero for the padding validation.

### Proposed Solution

1. Move the gadget as a separate crate, but s

[2022-04-08 14:55] lispc commented on #392
for those who searched and went here, "self.current_region.is_none()" is a quite confusing error message. The reason for that message is that we are assigning unavailable rows, say there are 1024 rows and we are assigning the last several blinding rows.

[2022-04-08 17:05] CPerezz commented on #388
Closed via https://github.com/appliedzkp/zkevm-circuits/pull/436

[2022-04-08 17:05] #388 closed

[2022-04-08 17:05] CPerezz commented on #387
Closed via https://github.com/appliedzkp/zkevm-circuits/pull/436

[2022-04-08 17:05] #387 closed

[2022-04-08 17:06] CPerezz commented on #375
@kilic do we still want to go forward with this?

[2022-04-08 17:06] #371 closed

[2022-04-08 17:07] CPerezz commented on #356
Does this still apply @ed255 ?

[2022-04-08 17:31] icemelon commented on #443
There's already an open PR for this: https://github.com/appliedzkp/zkevm-circuits/pull/402

[2022-04-08 17:44] ed255 commented on #356
Yes, this still applies!  The implementation of the state circuit is not yet complete following the spec.  There are some constraints missing for the "General constraints" section: https://github.com/appliedzkp/zkevm-circuits/blob/e806164a84585edc74b06cf7f476725fdb49cb33/zkevm-circuits/src/state_circuit/state.rs#L195

[2022-04-08 23:38] han0110 commented on #443
Ah sorry, I mean `CALLDADACOPY`... Let me update the issue.

[2022-04-09 16:34] #431 closed

[2022-04-11 03:34] lispc commented on #440
No problem i will submit a PR after #402 and #335 are merged (since related codes in my branch is a bit messy and i have to clean them)

[2022-04-11 09:56] CPerezz commented on #444
I really like the proposal! And I don't see any danger of circular dependencies now or in a close future.

I'm up for this refactor!!! Do you need help with the impl? Or want to do it yourself?

[2022-04-11 09:58] CPerezz commented on #426
I could take this and do a first round of cleanup @ed255

WDYT?

[2022-04-11 10:05] roynalnaruto commented on #444
I am in favour of this proposal. I am also adding a few more gadgets to the `gadget/` module, for instance `is_equal`, `comparison`, and so on which will be used in the RLP-encoding verifier circuit.

[2022-04-11 10:15] CPerezz commented on #443
Nevermind! Is taken by @roynalnaruto in #449

Will re-assign!

[2022-04-11 10:16] CPerezz commented on #368
Closed via #371

[2022-04-11 10:16] #368 closed

[2022-04-11 10:24] ChihChengLiang commented on #444
@CPerezz feel free to take this task, thank you so much for helping!

[2022-04-11 11:16] barryWhiteHat commented on #431
@icemelon why did you close this issue ?

[2022-04-11 11:35] HAOYUatHZ commented on #431
I think @han0110 link #434 to this issue and says #434 can resolve this.
Once #434 is merged, this issue is automatically closed.

Because it's @icemelon who merged this, so it shows @icemelon closed this issue.

[2022-04-11 11:35] HAOYUatHZ commented on #431
I think @han0110 link #434 to this issue and says #434 can resolve this.
Once #434 is merged, this issue is automatically closed.

Because it's @icemelon who merged this, so it shows @icemelon closed this issue.

[2022-04-11 11:37] barryWhiteHat commented on #431
Ah cool. Understood :)

[2022-04-11 22:05] #343 closed

[2022-04-12 07:12] ed255 commented on #443
https://github.com/appliedzkp/zkevm-circuits/pull/449 is now merged, so I guess we can close this right?

[2022-04-12 07:16] roynalnaruto commented on #443
I am not sure if that's a typo in the title? Should that be `CODECOPY`?

Both `CALLDATACOPY` and `CALLDATALOAD` fixes are in progress (should be done by today):
- https://github.com/appliedzkp/zkevm-circuits/pull/450
- https://github.com/appliedzkp/zkevm-circuits/pull/402

[2022-04-12 12:22] #442 closed

[2022-04-12 13:02] CPerezz commented on #443
ping @han0110

[2022-04-12 13:04] han0110 commented on #443
Yes, #450 and #402 resolved this issue (not #449), big thanks to @roynalnaruto!

[2022-04-12 13:04] #443 closed

[2022-04-12 15:56] ed255 opened #455 "Extend CONTRIBUTING document"
I realized there's a rule we follow that was not included in the `CONTRIBUTING` document: When an internal contributor makes a PR, even after 2 reviews, it's the PR author that does the merge (and not a reviewer).

In other words, the author should merge their own PR except for the case where the author has no merge permission, where it will be the reviewer that merges the PR.

[2022-04-13 08:09] adria0 opened #456 "Virtual `STOP` do not pass circuits"
It seems that virtual `STOP` is not passing the circuits:

explicit `STOP` works:

[code]

but virtual `STOP` fails:

[code]

[2022-04-13 08:11] han0110 commented on #456
Yes, currently bytecodes need to have a explicitly halting opcode to pass EVM circuit. It will be implemented in #419 (will update the PR for review as soon as possible).

[2022-04-13 08:13] adria0 commented on #456
:+1: thanks @han0110

[2022-04-13 09:11] CPerezz commented on #395
ping @lispc

Do you want to give it a try?

[2022-04-13 10:20] #407 closed

[2022-04-13 11:39] lispc opened #458 "the inconsistency between benchmark::evm::TestCircuit and zkevm::evm::TestCircuit"
In zkevm_circuits, the TestCircuit of evm circuit contains 31 columns of randomness, while in benchmark, evm::TestCircuit we use 31 constants

<https://github.com/appliedzkp/zkevm-circuits/blob/29ccd5f656fed8e3f8c436ab944acad742c63cf0/circuit-benchmarks/src/evm_circuit.rs#L30>

So all the benchmark results may not indicate very accurate perf result of real evm citcuit ( Degree of circuit in benchm

[2022-04-13 14:12] han0110 commented on #458
The one in benchmark (using `Expression::Constant`) is the behavior we would like (no extra degree). The reason testing is using instance columns is a mistake (and forgot to be updated), I thought we could simulate extra challenge by just using instance column without any change to halo2, but it turns out to be too tricky.

We should just use `Expression::Constant` also for testing, then wait for

[2022-04-13 15:04] roynalnaruto commented on #444
@CPerezz I just noticed, there are a few more parts from the `zkevm-circuits` crate, specifically in its `crate::util` and `crate::evm_circuit::util` modules, for instance:
- `trait Expr`
- `mod and`
- `mod from_bytes`
- and so on...
that will be used in a few more gadgets I have added here: https://github.com/appliedzkp/zkevm-circuits/pull/460/files#diff-2138fe54a08804a5fc406434bc406d933e0b6a129f

[2022-04-13 15:13] roynalnaruto commented on #444
Should I then place the `LtChip` and `ComparatorChip` in the `zkevm-circuits` crate? Since I make use of methods from the `evm_circuit::util` module like `from_bytes`, `and`, `or`, `not` and so on in those chips.

For now I can place everything within a module `rlp_circuit` and we can later come back to it as to what's the best way to refactor those chips?

[2022-04-14 02:00] DreamWuGit commented on #400
OK to Me, I will figure out specific small doable tasks regarding this. because currently it is an overall start point idea.

[2022-04-14 07:12] lispc commented on #458
“We should just use Expression::Constant also for testing" will be a small PR. But will it worth to change now? considering we finally will replace it with Expression::Challenge after the halo2 prototype merged?

It seems the inconsistency does not block anybody's work now?

[2022-04-14 07:15] lispc commented on #395
yes you can assign to me. (But i may only do this two weeks later, although i think it is not urgent)

[2022-04-14 09:19] CPerezz opened #463 "Migrate `util` module gadgets to the gadgets workspace member"
Some generic gadgets like LTChip being worked on https://github.com/appliedzkp/zkevm-circuits/pull/460 are basically pulling other functions from `zkevm-circuits` such as `from_bytes`.

This ends up with circular dependencies.

Therefore we should migrate as many non-zkevm-circuits specific gadgets into the new workspace member added in #457

cc: @roynalnaruto

[2022-04-14 10:14] roynalnaruto commented on #463
@CPerezz I can work on this refactoring as a part of #460 if that's okay.

For the time being, I don't think this is a blocker for any other ongoing PR. What's your opinion?

[2022-04-14 10:26] han0110 opened #464 "Enable first and last step `ExecutionState` check"
Currently they are commented as TODO like:

https://github.com/appliedzkp/zkevm-circuits/blob/fbc88cbcd957dd7ae52e6fbe3458c0237982caa6/zkevm-circuits/src/evm_circuit/execution.rs#L311-L313

due to incomplete trace testing used in `COPYTOMEMORY` and `COPYCODETOMEMORY`, we should enable them after all incomplete tracea are removed.

[2022-04-14 10:28] CPerezz commented on #458
No it doesn't. But this might affect the results that we get for our circuit benchmarks.

IDK if significantlly enough to adress it now. WDYT @han0110 ?

[2022-04-14 10:30] han0110 commented on #458
I think the benchmark is running the one we expect (no extra degree), so the result should also be expected. I also don't think anything blocked by this now.

[2022-04-14 10:32] CPerezz commented on #400
Let's then try to break the task up here into pieces and create and assign issues after we agree on the development path for it.

[2022-04-14 15:13] CPerezz commented on #463
Hi @roynalnaruto .

We added in the `CONTRIBUTING.md` of the repo something about that specifically which is not merging different topics in the same PR and try to make them atomic (For ease of review).

I know this has relation. And if you want, you can take it and make a PR for it. But please, split the work on this from the work on the RLP circuit.

I'm happy to work on this or to leave it to y

[2022-04-14 15:17] CPerezz commented on #458
Adding `wontfix` since it's not a prio at all and therefore will not be addressed in the near future.

[2022-04-14 15:54] roynalnaruto commented on #463
I can take this up and create a separate PR. Will wrap it up by beginning of the coming week 👍

[2022-04-15 08:30] pinkiebell commented on #385
Closing this in favor of this resource: https://github.com/appliedzkp/zkevm-chain/tree/master/docs#layer-2---go-ethereum

[2022-04-15 08:30] #385 closed

[2022-04-15 08:33] pinkiebell commented on #195
The `coordinator` lives @ `zkevm-chain`. Should I close this issue or is it used for tracking?

[2022-04-19 06:55] DreamWuGit opened #468 "add non static call constraint for sstore"
just realize that sstore op code modifies state, so if it is executed in static call , exception will occur , need to  constrain only in non static call , refer to PR #467

[2022-04-19 15:50] ChihChengLiang opened #470 "Reviewer lottery failed"
### Problem

Reviewer lottery failed with an error message

[code]

https://github.com/appliedzkp/zkevm-circuits/runs/6080587668?check_suite_focus=true

### Solution

Might be a permission error. Investigating

[2022-04-25 04:33] lispc opened #474 "pad circuit to make selector offset fixed"
selector(q_step / q_first_step / q_last_step)  offset should be fixed so vk can be reused.

So we should implement some padding mechanism to make q_last_step not related to `witness::Block`.

I made a drat PR <https://github.com/scroll-tech/zkevm-circuits/pull/142>, so vk generated by empty circuit can be used to verify circuit constructed from real trace.  This implementation may needs much polis

[2022-04-27 11:40] ed255 opened #477 "Meta: Opcode spec + implementation status"
| opcode         | spec | circuit | bus-mapping | ExecutionState | Notes                                                                          |
| ------         | ---- | ------- | ----------- | -------------- | -----                                                                          |
| STOP           | x    | x       | x           | STOP           |

[2022-04-27 11:44] ed255 commented on #477
In https://github.com/appliedzkp/zkevm-circuits/issues/83 we kept track of opcode implementations in the bus-mapping, but I often missed quickly knowing the status of the opcode specs and circuit implementation.  I've extended the list from #83 into a table to include the spec and circuit status.

With this issue, https://github.com/appliedzkp/zkevm-circuits/issues/83 becomes redundant.  @CPerezz

[2022-04-27 13:09] CPerezz commented on #477
Ye! Makes sense to me!
Thanks for putting some effort on improve the traceability of this!

[2022-04-27 13:09] CPerezz commented on #83
Closing in deref to #477

[2022-04-27 13:09] #83 closed

[2022-04-28 11:58] ed255 commented on #204
Regarding point 2, @adria0 has been working on porting the [official ethereum tests](https://github.com/ethereum/tests) to run on our circuits in https://github.com/appliedzkp/zkevm-circuits/pull/382

The official ethereum tests are super extensive, so I think that can cover point 2 without requiring us to manually write the assembly for test cases :)

[2022-04-29 02:44] DreamWuGit commented on #470
also meet this in #481

[2022-04-29 08:39] CPerezz commented on #470
Let's remove this. After all the discussions with @ntampakas and @AronisAt79 seems that there's no way on which we can ask automatic reviews to the Scroll team.

And the solutions that popped up are quite more complex than what is needed.

Let's just ping for reviews to Scroll members and remove this workflow.

[2022-05-02 09:40] #195 closed

[2022-05-02 13:56] #470 closed

[2022-05-02 17:05] CPerezz opened #487 "Use improved unsafe_setup function for local & CI benchmarks"
Currently, there have been PR's like https://github.com/appliedzkp/halo2/pull/63 which have significantlly upgraded the performance on the setup generation when we just need it for quick testing.

It's worth to migrate to these so that we waste less time on our benchmarks inside and outside the CI. So as soon as this PR is merged it would be nice to release a new tag for our Halo2 fork and use it.

[2022-05-03 04:17] roynalnaruto commented on #477
`CODESIZE` is in progress:
- [ ] Specs: https://github.com/appliedzkp/zkevm-specs/pull/191
- [ ] Circuit and Bus Mapping: https://github.com/appliedzkp/zkevm-circuits/pull/483

[2022-05-03 07:09] #455 closed

[2022-05-03 11:29] CPerezz commented on #274
Closed via https://github.com/appliedzkp/zkevm-specs/pull/161 :tada:

[2022-05-03 11:29] #274 closed

[2022-05-03 11:48] CPerezz opened #489 "[keccak] Optimize permutation circuit"
After we discussed with the team about the permutation circuit layout. We knew that something was not entirely correct.
Seeing the 2-phase Layouter result on the printed circuit left us thinking that there had to be a way to optimize the permutation circuit more.

This are the current numbers we get for the permutation circuit:
[code]

The ideas are:
- [x] As @therealyingtong mentioned, collapse t

[2022-05-03 14:32] #487 closed

[2022-05-03 15:39] kilic commented on #375
@CPerezz I think so because there will be many breaking changes in `pairing` side

[2022-05-03 17:11] Brechtpd commented on #489
Getting the degree down of the custom constraints to `5`, and of the lookup table inputs to `2` will probably also be worth it (at the cost of some extra columns so certainly a balance to be made there) to get the extended domain to x4 instead of the current x8.

I am thinking of some other possibilities as well but I still have to look into things more to see if they can work.

[2022-05-03 19:28] CPerezz commented on #489
Are you working in any specific task for these? I'll add them to the issue as tasks.

I'm working on collapsing `Advice` columns first so that the rest is easier to follow.

[2022-05-04 10:32] ntampakas opened #495 "[Github CI]: Update cache version"
_CI Checks_ workflow uses checkout@v2 action. Recently version 3 was released, so we can update the workflow with the latest version.

File affected: _.github/workflows/ci.yml_
cache action releases: https://github.com/actions/cache/releases

Notes:
This not a prio issue at all!

[2022-05-05 01:49] DreamWuGit commented on #468
both spec and circuit pr merged . closing this !!!

[2022-05-05 01:49] #468 closed

[2022-05-05 01:52] DreamWuGit opened #498 "buss mapping chore: Try wrap read/write ops"
currently in buss mapping op codes, it is often used `state.push_op(xxx)`, which is not very much meaningful & readable,
Here try to wrap read/write ops with specific op naming, like `call_context_read` `memory_read` `stack_write` etc. Glad to know if you like it !

PR #497 is an example !

[2022-05-05 06:41] icemelon commented on #477
We currently have `SHL`, `SHR`, `SDIV` WIP.

[2022-05-06 07:30] #375 closed

[2022-05-09 13:57] DreamWuGit commented on #498
Will update all remaining types of operations in incoming PR besides https://github.com/appliedzkp/zkevm-circuits/pull/497

[2022-05-09 15:08] lispc opened #502 "proposal: set EnableMemory to false when tracing"
and "reconstruct" memory in rust side by re-interprete memory related opcodes like MSTORE/MLOAD/MSTORE8/COPYCODETOMEMORY/...

The reason for this is that  "EnableMemory: true" costs huge amount of geth server resource(cpu, mem, network). It becomes unviable to set EnableMemory:true.

More details: https://github.com/scroll-tech/go-ethereum/issues/94#issue-1229857455

[2022-05-10 08:11] CPerezz commented on #502
We benchmarked most of that stuff and it did not seem really significant compared to the proving times TBH.

Is there anything I'm missing in here?

[2022-05-10 08:17] CPerezz opened #504 "CI: Use rust-cache and cargoi-nextest"
As mentioned in #425

I'll try to also apply [`cargo nextest`](https://nexte.st) and [`rust-cache`](https://github.com/marketplace/actions/rust-cache) to see if we can squeeze some extra time savings.

_Originally posted by @CPerezz in https://github.com/appliedzkp/zkevm-circuits/issues/425#issuecomment-1120276947_

[2022-05-10 09:52] ed255 commented on #502
I have tested the same block mentioned in https://github.com/scroll-tech/go-ethereum/issues/94#issue-1229857455 both with `EnableMemory: true` and `EnableMemory: false` and can confirm the results.  With `false` it takes ~ 10 seconds; with `true` after 2m30s the geth process runs out of memory (I tried on a 32 GB memory machine).  I wonder how much memory would be needed to succeed, and how long w

[2022-05-10 10:59] lispc commented on #502
@ed255

"I wonder how much memory would be needed to succeed" I tried a 64GiB server, it also failed.
"query the trace for each tx": If your trace a tx on geth, geth will have to re-run every tx previous to the queried tx in that block. So the computing complexity will change from O(N) to O(N**2). I am afraid this is not a good idea.

[2022-05-10 11:03] lispc commented on #502
@CPerezz agree that this time is much smaller than proving time. But they are not something that can be compared and summed.

We cannot prove a 30M gas block in 13 seconds, maybe 10m is a better proving time estimation. So for a real zkrollup system, we have to setup tens of ( if not hundreds) proving server.

If geth is optimized enough so it can serve traceBlock "realtime", the final cluster wil

[2022-05-11 16:59] adria0 opened #506 "Stack underflows panics inputcircuitbuilder"
Trying to prove an `ADD STOP` circuit panics `thread 'main' panicked at 'attempt to subtract with overflow', eth-types/src/evm_types/stack.rs:114:18`. It should revert.

[2022-05-11 17:06] barryWhiteHat commented on #506
I don't think we have handled these kind of exceptional reverts yet. At the moment our circuit will not allow us ot make a proof if this happens.

The way i look at this is that its on our road to 100% evm compatibility. We will get some basic opcodes working and then add the feature that stack under flows revert.

[2022-05-11 17:15] adria0 commented on #506
Cool, I'm trying to pass as much "ethereum offical tests" as we can, disabling the ones that are still not implemented.

[2022-05-12 09:55] web3moon opened #508 "Wrong position of key and value"
https://github.com/appliedzkp/zkevm-circuits/blob/818cf2e54e5800d4bc2a88c9cb3963b5616e439e/bus-mapping/src/circuit_input_builder.rs#L96-L106

call_map define here

    /// Map call_id to (tx_index, call_index) (where tx_index is the index used
    /// in Block.txs and call_index is the index used in Transaction.
    /// calls).
   ` pub(crate) call_map: HashMap<usize, (usize, usize)>`,

[2022-05-12 14:57] ed255 commented on #506
Ah, this seems to be an underflow in Rust arithmetic, which is a bug in our code; we need to fix that.

And then I guess we need to make sure we are able to correctly calculate the circuit inputs with traces that contain error situations (like stack overflow / underflow); which it should!

[2022-05-12 15:03] ed255 commented on #508
Hi @web3moon
Could you clarify exactly what you think is wrong in the code?

The snippet you linked is doing an insert to the call_map with:
- `key`: `call_id`
- `value`: `(tx_index: eth_tx.transaction_index, call_index: 0)`
Where `call_index` is 0 because it's the first call of the tx.

[2022-05-12 18:03] pinkiebell commented on #502
this can be achieved by using custom js tracers, [example](https://github.com/ethereum/go-ethereum/blob/d8ff53dfb8a516f47db37dbc7fd7ad18a1e8a125/eth/tracers/internal/tracers/prestate_tracer.js).
And once the performance of the js tracer becomes a problem, we can add a custom native go tracer to geth.

[2022-05-13 00:36] lispc commented on #502
js tracer will be slow since we need to record stack/storage/gas etc of every step.      And for custom go tracer we need to modify geth code, which we should try to avoid unless we really have to cos it brings long term maintenance burden

[2022-05-13 00:50] web3moon commented on #508
I see that the comment on the call_map definition says that the key of the call_map is defined as tx_index not call_id

[2022-05-13 08:34] ed255 commented on #508
[code]
means that it maps from `call_id` to the tuple `(tx_index, call_index)`

[2022-05-13 08:36] web3moon commented on #508
Oh, my bad, sorry.

[2022-05-13 08:36] #508 closed

[2022-05-13 08:59] ed255 commented on #508
No problem! :smiley:

[2022-05-13 11:33] lispc commented on #502
Another method:  https://github.com/ethereum/go-ethereum/issues/24873
(I think even simple deduplication will help a lot)

[2022-05-16 00:43] lispc opened #509 "backlog: remove `fix_geth_trace_memory_size`"
After https://github.com/ethereum/go-ethereum/pull/24867 is merged & released.

[2022-05-16 08:20] CPerezz commented on #502
I think @pinkiebell has a point here.
While it's true what @lispc mentioned in the geth issue. I think it's much more realistic and fast to go for a js tracer, make sure it works, and then implement a Go one which extracts what we exactly need. As otherwise, we will always be pending on adding this to Geth, which might take time. And might even not be desired (although seems a good idea to me).

S

[2022-05-16 08:25] DreamWuGit opened #511 "fix multi copy step data index"
when doing multiple  copy step in log buss mapping ,  for `TxLogFieldTag::Data` index should start from zero and consecutively increasing in multi copy log steps.  i.e.  total copies size is 66 bytes, data index should be monotone increasing by 1 from 0 in all three copy steps.

| step      | data_start_index |copy range |
| ----------- | ----------- |------- |
| CopyStep1    | 0         | 0 --> 3

[2022-05-16 11:18] CPerezz opened #512 "[keccak] Remove unused code in keccak crate"
We still have the warnings for `dead_code` checks disabled for keccak.
See: https://github.com/appliedzkp/zkevm-circuits/blob/223b38c79bc3c615293bfe2cb7d482cf399500a7/keccak256/src/permutation.rs#L1

We should start to remove all of the `unused_code` that has been introduced.
This serves also as a follow-up for:

_Originally posted by @ChihChengLiang in https://github.com/appliedzkp/zkevm-circuits

[2022-05-16 11:40] CPerezz opened #513 "Address tech-debt left in CIB(Circuit Input Builder) refactor/split"
In https://github.com/appliedzkp/zkevm-circuits/pull/482 I left some tech-debt to address in the future. As it would make the PR at that time even more difficult to review.

Therefore, it's time to address all the things left.

- CIB Tx struct only used in tests now. Should we migrate away?
- Make all fn's in error.rs members of self (ie. attribute fns).
- Better handling of unwrapping in regular

[2022-05-16 12:46] ed255 commented on #502
While I don't have much faith on the performance when using the js tracer to obtain the memory dumps (probably differential memory dumps), I agree that the best approach is to try it and figure out how good it performs.  I can explore this and get some results.

Actually we may use the internal tracer with `EnableMemory = false` and then a custom js tracer just for the memory; or a single js trace

[2022-05-17 03:47] DreamWuGit commented on #426
@CPerezz  can this be closed as PR #482  merged ?

[2022-05-17 04:01] lispc commented on #426
Seems yes

[2022-05-17 04:01] #426 closed

[2022-05-17 09:33] ed255 commented on #502
I've done a small exploration on the js tracer and found out that it doesn't expose any method to get the memory length in a step; adding that method is very straight forward, but since it's not there it makes the exploration more difficult.  I opened a [PR in go-ethereum to add this method](https://github.com/ethereum/go-ethereum/pull/24887) but they are planning on replacing the JS engine so my

[2022-05-17 10:53] adria0 opened #517 "Be aware that `U256::as_xxxx()` panicks"
When running some ethereum tests (e.g. [bufferFiller](https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stMemoryTest/bufferFiller.yml)), code panics due the usage of [U256::as_xxx](https://docs.rs/primitive-types/latest/primitive_types/struct.U256.html#method.as_usize)

This used, e.g. in https://github.com/appliedzkp/zkevm-circuits/blob/2693c32513a4a668ce33630f69a9896e849

[2022-05-17 11:32] CPerezz commented on #517
Oh wow!! I did not see that one coming!

Thats a cool error! Thanks for finding it out!

Should we impl `as_xxxx` to return a `Result` or similar? So that we can trigger the reversion from the error unwrapping? Or instead we should check first if the number fits??

I'd go for the first option TBH. But I'm also afraid that it will cause the entire code to be full of error handling. Which in any cas

[2022-05-17 11:43] CPerezz commented on #506
There are functions to do `wrapped_sub` and similar stuff so that we can prevent underflows. But as said avobe. We can leave this kind of revert handling cases for the near future once the entire solution is built.

[2022-05-17 11:47] CPerezz commented on #498
Is there any further places where this needs to be fixed @DreamWuGit ?

Will you take care of it?

[2022-05-17 14:02] adria0 commented on #517
We can also types, for instance we already have: `Gas` at

https://github.com/appliedzkp/zkevm-circuits/blob/2693c32513a4a668ce33630f69a9896e849f3c3d/eth-types/src/evm_types.rs#L57 and implement `TryFrom<Word>`

In the case of memory, we have already have also:  https://github.com/appliedzkp/zkevm-circuits/blob/2693c32513a4a668ce33630f69a9896e849f3c3d/eth-types/src/evm_types/memory.rs#L72

I think

[2022-05-17 14:13] s1na commented on #502
This becomes a problem specially when the state is not available on disk or memory and has to be regenerated again for every tx. But if state is available the actual computing overhead shouldnt be too much. You can check that via this [script](https://github.com/s1na/geth-scripts/blob/main/block-vs-tx-tracing/index.js)

[2022-05-17 15:22] #504 closed

[2022-05-17 15:30] adria0 commented on #517
SGTM 👍

[2022-05-17 15:31] adria0 commented on #517
@CPerezz  Seems a good first issue, isn't it?

[2022-05-17 16:13] CPerezz commented on #517
Not sure about the good first issue as this also requires to implement the correct reversion. And that isn't that easy. WDYT @adria0 ?

[2022-05-17 18:35] adria0 commented on #517
Oh, not talking about implementing reversion, just to change `u64`/`usize` for a more the specific types `Gas`/`MemorySize`/etc...

[2022-05-18 06:38] DreamWuGit opened #520 "state lexicographic ordering can overlap for `tag`"
code line in https://github.com/appliedzkp/zkevm-circuits/blob/main/zkevm-circuits/src/state_circuit/lexicographic_ordering.rs#L322
`    be_bytes[0] = row.field_tag().unwrap_or_default() as u8 + ((row.tag() as u8) << 4);
`.

For `RwTableTag::CallContext ` ,  its corresponding field tag `CallContextFieldTag` consists of more than 20 items.   when current row is `CallContext` tag,  next row is tag b

[2022-05-18 07:49] #512 closed

[2022-05-19 04:26] DreamWuGit commented on #498
@CPerezz  yeah, will do it soon for the remaining

[2022-05-19 10:52] adria0 opened #521 "`MLOAD` paniks for memory positions bigger than 692224"
Works ok with `692224`

[code]

but fails with the next one...

[code]

[2022-05-20 02:22] lispc commented on #502
I analyzed(traced with mem trace enabled) every tx inside the mentioned block. There are 94 txs in total, 93 of them can be traced successfully(the biggest trace is of ~300MiB size, summing all is about ~900MiB), the failed one(always makes geth OOM) is an Arbitrum Sequencer tx, having calldata of ~100KiB. In the Arbitrum contract, the calldata are copied to memory and hashed. So snapshots of mem

[2022-05-20 14:35] ed255 commented on #502
Now that the [js tracer memory.length() method has been merged](https://github.com/ethereum/go-ethereum/pull/24887) we can access the memory snapshots nicely from within the js tracer.

I did some tests with a js tracer that returns memory diffs (so that a full memory snapshot can be reconstructed).  Here's the [tracer source](https://github.com/ed255/test-js-tracer/blob/main/tracer.js) and the [s

[2022-05-20 15:06] pinkiebell commented on #502
@ed255
You can increase the default timeout by adding a timeout property

[code]

[2022-05-20 17:17] ed255 commented on #502
Thanks.  So I've added a timeout of 60m and ran the diff memory js tracer, and well, the memory consumption is stable, but the tracer has been running for 50 minutes now and hasn't finished yet.  This tracer does a linear scan on the memory for each step; I guess that's not very efficient (I just implemented a simple diff algorithm).

I'll continue with a few more experiments, but maybe reconstruc

[2022-05-21 01:20] lispc commented on #474
The reasons using selector rather than advice are (1) avoid access the last several unavailable rows (2) some performance optimization.

In production,  selectors should be have fixed values not related to specific  circuit witness.  I am considering this "two selector design pattern":

We have a real "selector" named "q_available". It is fixed and usually long(eg: from row 0 to row 2**k-64).

The

[2022-05-23 04:51] lispc opened #526 "upgrade rust edition to 2021"
Currently 2018 and 2021 are fixed..

[code]

[2022-05-23 04:53] lispc commented on #502
@ed255 Will you plan to do this recently? If not, we planned to start this issue probably 2-3 weeks later.

[2022-05-23 10:41] CPerezz commented on #521
oh....
So I tried to write a test that interacts directly with the Memory struct.

[code]

This passes the test correctly. So basically we are indeed getting the 32 0's that we expect.
It also does for `0x620a90015100u64` or any other value like `u64::MAX`.

Extending the tests to `read_word` which calls `read_chunk` it also doesn't cause any errors on the read reporting an empty word as result:
[

[2022-05-23 13:16] DreamWuGit commented on #400
Mason is doing negative tests for StateCircuit  in #524 now.

[2022-05-23 13:18] #498 closed

[2022-05-23 13:35] ed255 commented on #502
I've done another experiment on the js tracer with a different approach.  In this approach I've used [this tracer](https://github.com/ed255/test-js-tracer/blob/main/tracer.js) which instead of diffing the memory at each step, it only reads the chunk of memory that changes based on the opcode and its arguments.  So it's actually similar to the idea of reconstructing the memory, but in this case the

[2022-05-23 13:46] CPerezz commented on #521
kk nevermind all I did.
I fixed a chain of errors which ends up at the fact that Geth retunrs an out-of-gas for the execution of this bytecode.

That's why I get now a subtraction overflow on the `end_tx` fn call.

The problem is that I don't understand why if there's an `out_of gas` error it's not seen by the code and a revert is thrown.

[2022-05-23 14:38] CPerezz commented on #521
I was wondering that. But our impl is not catching it.

The thing is that we simply simulate a 0 when indeed we need to introduce memory expansion till `offset + 32`.
I'll make a patch to fix this!

[2022-05-23 15:17] CPerezz commented on #521
As discussed with @ed255 and @adria0 the memory expansion is what is actually making the test fail.
Setting `gas()` fn to `15_000_000` in the `TestContext` actually allows the test to work.

The main issue is that the reversion for out of gas is not considered in neither the bus-mapping nor the circuits. Since, in fact is not taken into account in the spec yet.

Therefore I added the `T-revert` la

[2022-05-24 10:06] ed255 opened #528 "Merge matching structs between circuit input builder and evm circuit witness (where possible)"
The idea of having duplicate structs between circuit input builder and evm witness generation was to allow the development of the circuit input builder in parallel with the circuits while minimizing the changes that one implies to the other. But once things stabilize, I think we can merge those.

Related to https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/484#discussion_r8755906

[2022-05-24 10:53] ed255 opened #529 "Benchmark and optimize the tx circuit"
In https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/484 we have the first implementation of the tx circuit.

For each tx it requires (due to the signature verification):
- ~205 columns
- ~170k rows

- [ ] We need to run benchmarks to see the cost of calculating a proof per tx.
- [ ] There are a few optimizations that can be applied
  - [ ] Reduce the number of columns by using r

[2022-05-24 12:46] ed255 commented on #502
I really don't have a preference: I think both options are OK and once implemented can be equally clear and easy to understand.  So I'd leave it as a decision for the person who implements the solution!

@lispc I haven't planned working on this in the short term, so feel free to take this task :)

[2022-05-24 12:49] lispc commented on #502
We have started reconstruct in Rust side. Maybe we can try it two weeks later

[2022-05-24 12:50] ed255 commented on #509
https://github.com/ethereum/go-ethereum/pull/24867 has now been merged!

[2022-05-24 21:54] z2trillion commented on #520
https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/523 will fixes the TODO. 4 bits for the field tag was previously enough because none of the tests used larger field tags, but https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/476 does, so we had to fix this issue now.

[2022-05-25 01:34] DreamWuGit commented on #528
Really good idea to reduce redundant  structs !!!

[2022-05-25 03:25] lispc commented on #509
yes after [v1.10.18](https://github.com/ethereum/go-ethereum/milestone/130) is released, we can upgrade **both the in-process CGO tracer and integration test geth image**.

There are two updates in v1.10.18  related to our repo:

(1) refund added to structlog
(2) the  `fix_geth_trace_memory_size`

[2022-05-25 12:27] web3moon opened #533 "Possible errors"
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/e8cbcff2054b104b42ae7a5baa4e02baff6e9955/zkevm-circuits/src/evm_circuit/util.rs#L208

Why is the initial capacity of the Vec not set to width, but to height?

[2022-05-25 15:08] ed255 opened #534 "Extend negative tests in the state circuit"
From https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/524#discussion_r880694261

[2022-05-25 15:48] Brechtpd commented on #533
Ah yes, should be `width` indeed, thanks for catching this. Feel free to fix in a PR. :)

[2022-05-26 09:18] DreamWuGit commented on #511
closing as circuit and spec  fix merged!

[2022-05-26 09:18] #511 closed

[2022-05-26 09:41] web3moon opened #536 "Possible code optimisation"
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/ad66311c57680189cf9504012711078d31050f77/zkevm-circuits/src/evm_circuit/util.rs#L259-L264

If a suitable column is found, should the for loop be broken here ?

[2022-05-26 14:53] Brechtpd commented on #536
The goal that we try to achieve here is for an opcode to use the fewest amount of rows as possible. And so what the code here does is to try and find a cell location in a suitable column that currently has the smallest height (the column that currently has the fewest amount of cells used already). Breaking up the for loop as soon as any suitable column would be found would just put all cells in th

[2022-05-26 15:12] #536 closed

[2022-05-31 00:43] Brechtpd commented on #489
Currently `2*a + b + 3*c` is used to pack the data to calculate `a ^ (~b & c)` which packs the data in [0..6]. However I found that also using subtraction (and making sure underflows/overflows are impossible) of the different inputs often results in a tighter packing. For example `a ^ (~b & c)` can also be packed using `[3]*64 + b - 2*a - c` which packs the data in [0..4] (`[0, 1, 1, 0, 0]` is the

[2022-05-31 06:40] DreamWuGit opened #546 "implement tx log state circuit part"
currently tx log constraint has been added into Python spec repo, need to implement rust circuit side in state circuit .

[2022-05-31 06:43] DreamWuGit commented on #520
closing as #523 merged!

[2022-05-31 06:43] #520 closed

[2022-05-31 16:46] CPerezz commented on #277
Lacks keccak integration for sure(has a placeholder now).
I think nothing else aside. But @ed255 can you confirm?

[2022-06-01 10:40] ed255 commented on #277
That's correct! The Tx Circuit is done :)

As @CPerezz says, the Tx Circuit is currently not connected to the keccak; but I think this applies to all circuits that do lookups to other circuits, and I guess this will depend on the aggregation circuit.

[2022-06-01 15:11] davidnevadoc opened #547 "`MulAddWordsGadget` refactor"
Currently the `construct()` method of `MulAddWordsGadget` receives as argument only the `ConstraintBuilder`. Then it gets its `a, b, c, d` by calling `query_word()`
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/e7fd4c1f922b282cb479d571c675275e1b78534f/zkevm-circuits/src/evm_circuit/util/math_gadget.rs#L790-L795

The gadget would be easier to reuse if these were passed as argu

[2022-06-01 17:27] #534 closed

[2022-06-02 08:31] pinkiebell opened #549 "Cargo.lock: halo2_proofs points to the wrong commit"
Across the projects we reference
`halo2_proofs = { git = "https://github.com/appliedzkp/halo2.git", tag = "v2022_05_09" }`
and inside Cargo.lock it points to `tag=v2022_05_09#9992785dca35926ded74f6ec7c8dfbac507317d0`
however `v2022_05_09` is `bffb83e4d18fe81f4b998c79f9831bd380e1a961` and `9992785dca35926ded74f6ec7c8dfbac507317d0` is actually `v2022_05_06`.

depends-on: https://github.com/privacy-s

[2022-06-02 09:59] CPerezz commented on #549
I think the issue is that `halo2_wrong` depends on `halo2` `circuit` branch instead of the tag. Which might cause issues when it comes to Cargo as the Resolver2 is not set.

[2022-06-02 21:21] Brechtpd commented on #489
For `a ^ (~b & c) ^ d` it's `pack([5]*64) + c - 2*a - b - 2*d` which packs it into [0..6]. The boolean result is found with the mapping `[0, 0, 1, 1, 0, 0, 1]`. I gave the result for `a ^ (~b & c)` because I think that one can primarily be used most of the time so maybe more important eventually but yeah in the current code the version with the extra XOR is used.

With `[3]*64` and `[5]*64` I just

[2022-06-02 21:48] icemelon opened #551 "Add missing constraints to state circuit"
This is to track the missing constraints in the circuit implementation. The spec track list can be found at https://github.com/privacy-scaling-explorations/zkevm-specs/issues/203

- [ ] Account
- [ ] Account storage
- [ ] TxAccessListAccount
- [ ] TxAccessListAccountStorage
- [ ] TxRefund
- [ ] TxReceipt
- [ ] TxLog https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/552
- [ ] Call

[2022-06-03 10:40] ed255 commented on #549
I think no matter if `halo2_wrong` depends on tag or commit id, we'll always have the problem that `halo2_wrong` and `zkevm_circuits` must match on their dependency version of halo2.  And I think this will happen until we publish versions of our halo2 fork (so that semver rules apply), but I think we're still in an early stage to do that.
So I think the current solution is just bump the `halo2` de

[2022-06-04 08:38] ChihChengLiang opened #554 "[Action Required] Agreement to relicense zkevm-circuit codebase"
Dear contributors,

Thank you for your past contributions to the zkevm-circuit codebase.

We post this issue to request your approval for the relicensing of the zkevm-circuit codebase. To express your consent, please respond to this issue with "I agree."

We originally released the codebase under BOSL, and we plan to relicense it to MIT + Apache2.0 dual licenses, with which open-source developers

[2022-06-04 08:40] CPerezz commented on #554
I agree.

[2022-06-04 08:40] ChihChengLiang commented on #554
I agree with the relicensing of the zkevm-circuit codebase from BOSL to MIT + Apache2.0.

[2022-06-04 08:40] han0110 commented on #554
I agree with the relicensing of the zkevm-circuit codebase from BOSL to MIT + Apache2.0.

[2022-06-04 08:54] HAOYUatHZ commented on #554
I agree with the relicensing of the zkevm-circuit codebase from BOSL to MIT + Apache2.0.

[2022-06-04 10:09] 3for commented on #554
I agree.

HAOYUatHZ ***@***.***> 于2022年6月4日周六 16:54写道：

[2022-06-04 10:12] Lawliet-Chan commented on #554
I agree

[2022-06-04 10:36] NoCtrlZ commented on #554
I agree

[2022-06-04 11:29] silathdiir commented on #554
I agree with the relicensing of the zkevm-circuit codebase from BOSL to MIT + Apache2.0.

[2022-06-04 12:49] z2trillion commented on #554
I agree.

[2022-06-04 21:04] ed255 commented on #554
I agree.

[2022-06-05 02:32] spartucus commented on #554
I agree.

[2022-06-05 05:35] lispc commented on #554
I agree

[2022-06-05 06:31] icemelon commented on #554
I agree

[2022-06-05 06:51] ntampakas commented on #554
I agree.

[2022-06-05 09:25] pinkiebell commented on #554
I agree.

[2022-06-05 11:00] #549 closed

[2022-06-05 15:03] Brechtpd commented on #554
I agree.

[2022-06-05 23:25] scroll-dev commented on #554
I agree.

[2022-06-06 06:38] roynalnaruto commented on #554
I agree

[2022-06-06 08:50] DreamWuGit commented on #554
I agree

在 2022-06-06 14:38:47，"Rohit Narurkar" ***@***.***> 写道：

I agree

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-06-06 09:06] AronisAt79 commented on #554
I agree

[2022-06-06 11:16] miha-stopar commented on #554
I agree.

[2022-06-06 12:58] bchyl commented on #554
I agree.

[2022-06-06 13:27] therealyingtong commented on #554
I agree.

[2022-06-06 16:26] barryWhiteHat commented on #554
I agree with the relicensing of the zkevm-circuit codebase from BOSL to MIT + Apache2.0.

[2022-06-07 02:28] lispc opened #557 "rw table: add committed_value to Rw::Account"
both bus-mapping and evm circuit according to spec https://github.com/appliedzkp/zkevm-specs/blob/master/specs/tables.md

[2022-06-07 07:27] #547 closed

[2022-06-07 07:50] kilic commented on #554
I agree

[2022-06-08 01:12] DreamWuGit commented on #376
closing as PR #476  merged!

[2022-06-08 01:12] #376 closed

[2022-06-08 08:26] ed255 commented on #509
Resolved in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/540

[2022-06-08 08:26] #509 closed

[2022-06-08 09:44] DreamWuGit opened #561 "fix state circuit order and packing issue"
current state circuit sorts RW as following order :
[code]

correct order should put `field_tag` after `id` & `address` & `storage_key` . current order will encounter errors when RW records consist of multiple `id` or `address` , for example:
TxLog:
| tag         | field_tag    |      tx_id |   value |
| -----      | ---------   |   -----   | -----|
| TxLog    | Address    |    1          |      .

[2022-06-08 11:33] ChihChengLiang commented on #489
So the original base conversion from 9 [0..8], now packs into base 7 [0..6]. Assuming 2^16 rows, we can still only look up 5 chunks at a time.
`16/ log2(9) =  5.04`
`16/log2(7) = 5.7`
Assuming we can improve to 6 chunks, we can reduce the lookup and the running sums from 13 rows to 11 rows.
`64/5 = 12.8 ~= 13`
`64/6 = 10.6666 ~= 11`
Assuming we stack everything together and use minimal gates in #5

[2022-06-08 14:33] ed255 commented on #440
TxLogs in bus-mapping is now merged :)  So I guess this task is now unlocked?

[2022-06-09 05:05] lispc commented on #440
yes. I currently have two implementations

(1) the one i mentioned above, so we can add `sha3_gadget: DummyGadget<F, 2, 1, { ExecutionState::SHA3 }>,` to give it a dummy implementation. Using this method, even the state circuit can pass.

(2) add ExecutionState::DUMMY. In witness.rs, convert all unimplemented opcodes to this state. In execution.rs, just skip DUMMY and place no constraints. Using t

[2022-06-09 09:18] ed255 commented on #440
I personally prefer option 1 because it handles the push and pops from the stack, and this allows us to test the integration with the state circuit as you mention :)  Also we can use the `DummyGadget` for other execution states as needed as a placeholder until we have a proper implementation.

[2022-06-09 09:22] lispc commented on #440
OK btw as far as i can remember adding sha3 dummy like this will help integration tests pass with oz erc20 multi transfer

[2022-06-10 02:07] ripwu commented on #554
I agree.

[2022-06-13 22:23] ChihChengLiang commented on #554
Hi @DavidCai1111, we're still waiting for your reply and keep reaching out to you. Within 7 days, we will assume you agree and proceed with the license change.

[2022-06-14 09:22] ed255 opened #567 "Implement the PublicInputs circuit"
Spec: https://github.com/privacy-scaling-explorations/zkevm-specs/pull/219

[2022-06-14 20:49] z2trillion opened #568 "State Circuit Tracker"
- [x] https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/558

### BinaryNumberChip for simplifying code and lowering degree
- [x] https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/550
- [x] https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/566 - fixes https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/561

### General constrai

[2022-06-15 15:21] ed255 opened #573 "`RETURN` opcode"
Implement the RETURN execution state for the RETURN opcode.

This opcode uses dynamic length memory copy so it may depend on the Copy Circuit.

Depends on spec: https://github.com/privacy-scaling-explorations/zkevm-specs/pull/229

[2022-06-15 15:22] ed255 opened #574 "`SHA3` opcode"
Implement the SHA3 execution state for the SHA3 opcode.

This opcode uses dynamic length memory copy so it may depend on the Copy Circuit.

Depends on spec: https://github.com/privacy-scaling-explorations/zkevm-specs/issues/223

[2022-06-15 15:28] ed255 opened #575 "Implement EndBlock execution state"
Currently we have an EndBlock gadget that is dummy (it doesn't have any constraints).

The EndBlock state was specified here https://github.com/privacy-scaling-explorations/zkevm-specs/pull/88 , nevertheless there are a few details that may be missing from the spec:
[code]
- Constraint that the number of tx processed in the EVM is the same as the number of txs in the tx table
- Constraint that the

[2022-06-15 17:14] han0110 commented on #575
Since currently we have variable step height for each `ExecutionState`, using `EndBlock` to pad all remaining rows might not always work because it's not single row, it could possibly go into blinding factors regions (zk) or wrap around (non-zk) and break some constraint.

One approach to make it `EndBlock` single row (and repeating `EndBlock` until last enabled `q_step`) is to turn off zk and gai

[2022-06-20 06:33] CPerezz opened #579 "Keccak hashing impl proposal"
# Bus mapping Keccak-hashing accountant

## Rationale
During witness generation, we will need to prepare a list that contains all the keccak hashes performed during an entire block and that need to be proven inside of the ZKEVM circuits.

That, is required since is easier to collect all them from a centralized source like we do with the [`Operations`](https://github.com/privacy-scaling-exploration

[2022-06-20 12:40] CPerezz commented on #489
@ChihChengLiang let's benchmark once you have that as I'm curious on how the 9 col lookup will perform (also count the range, bool and special chunks checks).

[2022-06-20 14:11] DreamWuGit opened #582 "Run cargo test without --release flag failed"
I often use  "rust-analyzer" plugin via VSCode to run test ,  and found the previously  cmd working well failed with latest main branch.
i.e.
![image](https://user-images.githubusercontent.com/16850793/174619162-6970ebfd-0794-4061-8591-3b450636ef0c.png)

the cmd can be :` cargo test --package zkevm-circuits --lib -- evm_circuit::execution::is_zero::test::is_zero_gadget --exact --nocapture`

but th

[2022-06-20 15:01] #275 closed

[2022-06-21 13:11] ed255 opened #586 "Add unit tests for math gadgets"
In `src/evm_circuit/util/math_gadget.rs` we have several math gadgets that are used in opcode gadgets.  While the opcode gadgets have unit tests (which indirectly test the math gadgets), we don't have unit tests for the math gadgets.  Adding these unit tests would be very useful because it will allow us to test the math gadgets individually with their own edge cases.

Doing these unit tests may re

[2022-06-21 21:58] z2trillion opened #587 "Add lookups to EVM circuit to constrain number of padding and active rows"
Once  #322 is done, we need to do add two lookups to the EVM circuit to prove that there exactly `n` active rows and `N_ROWS-n` padding rows in the rw table:
1. lookup(Start, rwc=1)
2. lookup(Start, rwc=N_ROWS-n)

See https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/558#issuecomment-1160765938 for context.

[2022-06-22 14:47] #554 closed

[2022-06-23 17:40] icemelon commented on #551
close this tracker and move to https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/568

[2022-06-23 17:40] #551 closed

[2022-06-27 09:41] #561 closed

[2022-06-27 15:29] HAOYUatHZ commented on #582
configuring the opt-level should fix this problem

in Cargo.toml
[code]

[2022-06-29 16:30] lispc opened #592 "bug: value_assignment of Rw::Account Nonce is inconsistent"
in witness.rs, it is RLCed, https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/6e49a1ad71692f532f1de461083e0926804b0f1b/zkevm-circuits/src/evm_circuit/witness.rs#L830

but in begin_tx, it is not RLCed, https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/6e49a1ad71692f532f1de461083e0926804b0f1b/zkevm-circuits/src/evm_circuit/execution/begin_tx.rs#L80 and https://git

[2022-06-29 16:42] han0110 commented on #592
I thought nonce is already defined to be u64 in yellowpaper, so it could be just represented as raw value instead of RLCed. But for witness assignment it's updated to use RLCed value in #462 ([ref](https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/462/files#diff-09bf944a4f9216c1053a271fea0ff2f7a985380789b990f8e4ac530159214df2)), is this change intended @z2trillion?

[2022-06-30 06:04] z2trillion commented on #592
It wasn't intentional. Made a PR for fix this.

https://eips.ethereum.org/EIPS/eip-2681 made ths change to u64's for nonces.

[2022-06-30 09:27] ChihChengLiang commented on #582
@CPerezz any updates on this one?

[2022-06-30 11:34] CPerezz commented on #582
Yes, basically some of these tests require now to have one more row avaliable in the EVM circuit which therefore extends the proving time.

Closing this then. @DreamWuGit feel free to reopen in case you still find some errors.

[2022-06-30 11:34] #582 closed

[2022-06-30 12:15] han0110 commented on #61
Yes, I think so. Sorry that I just noticed this now...

[2022-06-30 12:15] #61 closed

[2022-06-30 13:12] DreamWuGit commented on #546
closing by #552  merged!

[2022-06-30 13:12] #546 closed

[2022-07-01 04:10] DreamWuGit commented on #582
Won't happen for me now , thanks @CPerezz !!

[2022-07-01 10:00] #592 closed

[2022-07-04 04:11] DreamWuGit opened #597 "Handle evm error cases in circuit"
currently evm circuit defines the error types as following. in [step.rs](https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/zkevm-circuits/src/evm_circuit/step.rs#L94) to represents evm execution possible errors:

// Error cases:

- [ ] ErrorInvalidOpcode
- [ ] ErrorStackOverflow
- [ ] ErrorStackUnderflow
- [ ] ErrorWriteProtection
- [ ] ErrorDepth
- [ ] ErrorInsufficientBala

[2022-07-04 08:42] #464 closed

[2022-07-04 10:13] pinkiebell opened #598 "evm_circuit/RestoreContextGadget: index out of bounds"
After running cargo test w/ prover enabled on latest zkevm-chain I encounter:
`thread 'tokio-runtime-worker' panicked at 'index out of bounds: the len is 3 but the index is 3', /zkevm-circuits/zkevm-circuits/src/evm_circuit/util/common_gadget.rs:196:21`

Here is a standard block trace for that block: https://bafybeidmdglhpbv7fkvslh7sh4mpjqtwl2k4lagkkogqaesuiwacgvoeri.ipfs.infura-ipfs.io/TRACE

[2022-07-04 11:04] pinkiebell commented on #598
this a side effect of using STOP for unimplemented opcodes. Sorry for the noise!

[2022-07-04 11:21] pinkiebell commented on #598
A local modification here: https://github.com/pinkiebell/zkevm-circuits/commit/d535c52c4d2a8f7289ac38c6db821c161777531f

[2022-07-04 11:24] han0110 commented on #598
Ah I see, replacing it with `RETURN` should fix this.

[2022-07-04 11:27] pinkiebell commented on #598
Does it make sense to implement a DummyGadget for them instead of using RETURN?

[2022-07-04 11:48] han0110 commented on #598
Yeah it makes totally sense, then we don't need to update that again if `RETURN` is implemented someday.

`DummyGadget` is actually implemented [here](https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/zkevm-circuits/src/evm_circuit/execution/dummy.rs), but seems not "dummy" enough for all unimplemented cases. @lispc Do you think it's okay to remove those stack operation chec

[2022-07-04 11:53] pinkiebell commented on #598
I'm adding the missing opcodes at the moment :)

[2022-07-04 12:08] pinkiebell commented on #598
I'm getting an error for `EXTCODESIZE`: `index out of bounds: the len is 0 but the index is 0`
where `extcodesize_gadget: DummyGadget<F, 1, 1, { ExecutionState::EXTCODESIZE }>,` .

Could this error originate from somewhere else higher up the callchain?

[2022-07-04 12:17] han0110 commented on #598
That's because all unimplemented opcodes in crate `bus-mapping` are using `dummy_gen_associated_ops` like:

https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/d59be68cb23ed5fbd7439f1a4d36535db21ed894/bus-mapping/src/evm/opcodes.rs#L83-L88

So no stack operations are generated :(

A naive approach to disable the stack operation check in `DummyGadget`, otherwise we need to implement

[2022-07-04 12:21] pinkiebell commented on #598
Thanks for the pointer! Was missing this one :)

[2022-07-04 15:59] ed255 opened #600 "Define a circuit that contains all circuits"
For the [first milestone](https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/277) we will try to put all the circuits together and verify them under a single aggregation circuit (in order to make verification viable in a smart contract).

Currently we have all the circuits defined as independent circuits, where each circuit has copies of the tables used between circuits.  Such t

[2022-07-04 15:59] ed255 commented on #600
I have started working on integrating the EVM Circuit with the Tx Circuit (tx table), and Bytecode Circuit (bytecode table).  My progress is in this branch: https://github.com/privacy-scaling-explorations/zkevm-circuits/tree/feature/super-circuit

An initial test with a Super Circuit containing the EVM Circuit and Tx Circuit leads to long testing times.  I used the MockProver with verify all rows

[2022-07-05 02:31] DreamWuGit commented on #597
@ed255  thanks ! I am starting working on out of gas errors now, I have seen you mentioned issue, will try fix :）

[2022-07-05 03:21] z2trillion commented on #557
I'm planning to add an `initial_value` advice column (which will be the commited value at the beginning of the block for `Rw::Account` rows and the commited value at the start of the transaction for `Rw::AccountStorage` rows ) to the state circuit in this PR: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/591. As part of that, I looked into adding a `committed_value` field to

[2022-07-05 03:25] z2trillion opened #602 "Read-write inconsistency in CallDataLoad and CallDataCopy"
My understanding of read-write consistency is that non-first access reads should not change row.value, but the following tests fail when I make the changes in this PR https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/601:

---- evm_circuit::execution::calldatacopy::test::calldatacopy_gadget_multi_step stdout ----
thread 'evm_circuit::execution::calldatacopy::test::calldatacopy_ga

[2022-07-05 03:27] han0110 commented on #602
It's a bug in `CALL` implementation, I will fix this soon. PR #601 looks good, sorry for confusing.

[2022-07-05 03:31] z2trillion commented on #602
thanks for the quick reply!

I've also noticed that the initial values for some Rw::CallContext rows are not 0. E.g. in begin_tx, CallerAddress is read from the rw_table and not written: https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/zkevm-circuits/src/evm_circuit/execution/begin_tx.rs#L64. Should those instead be writes?

[2022-07-05 03:37] lispc commented on #602
btw i'd like to share some tips debugging rw lookup here

(1) I fetched the values from stored_expression and then compared them with rw in step witness. https://github.com/scroll-tech/zkevm-circuits/blob/158ae144f6a72f993c07be090dc98a0133a1d6ec/zkevm-circuits/src/evm_circuit/execution.rs#L1015

(2) i use 0x1000 as rand value for RLC so only looking at the hex RLCed value i can know which field is

[2022-07-05 03:42] han0110 commented on #602
For immutable part of `CallContext`, there will never be write to them, then we can read it from air. In `BeginTx` it will make sure most fields make sense (copied from `TxContext` or initialized properly), except that `IsSuccess`, `IsPersistent` and `RwCounterEndOfReversion` will be checked in the end of a call, still read but **might not be the first read**, and this is the reason I chose to alw

[2022-07-05 04:09] z2trillion commented on #602
for consistency, i'd prefer that every rw row have a defined initial value, but it won't cause implementation problems if that's not the case for rw::callcontext rows.

so the reason the state circuit  doesn't need to constrain the initial values for rw::callcontext rows is that the begintx gadget ensures that the initial values match the values in the tx table?

[2022-07-05 04:12] han0110 commented on #602
Exactly, and technically these fields don't have a fixed initial values, they are context decided by their creator (tx or call family opcodes).

[2022-07-06 04:50] #602 closed

[2022-07-06 19:40] z2trillion commented on #557
I'm planning to go with `initial_value` in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/591.

Right now, the only witness information that is passed into the state circuit is `rows: Vec<Rw>`. Rather than append the mpt update information onto the existing `Rw` type, I'm planning to pass in another struct `mpt_updates: Map<(address, field_tag) | (tx_id, address, storage_key),

[2022-07-07 09:27] miha-stopar opened #607 "State circuit - MPT circuit integration"
Besides lookups that are enabled in the MPT, I think there are two other things need to be considered.

1. Address // Key

Address or key gets hashed before it’s inserted into the trie. So the position of the node in the trie is determined by the hashed value.

For example, let the address be `B0 … B31`. Let’s say:
`hash(B0 … B31) = b0 … b31`

If the node is stored in the second level, we split `b

[2022-07-07 22:32] z2trillion commented on #607
What lookups are enabled in the MPT circuit at the moment?

Regarding 1:
The MPT lookups the state circuit does from https://github.com/privacy-scaling-explorations/zkevm-specs/issues/217#issuecomment-1170338113 look like
[code]
and
[code]
Are you proposing that instead they should look
[code]
and
[code]
?
I don't think it makes sense to add keccak lookups to the state circuit for this, especially

[2022-07-07 23:01] ed255 opened #608 "Implement CopyCircuit"
The CopyCircuit may benefit from new functionality (yet to be specified and developed) added to the CircuitInputBuilder that helps generate the CopyCircuit witness from the execution trace.

[2022-07-08 07:49] ed255 commented on #608
Thanks!

Oh sorry I think I wasn't clear; I'm not referring about something that already exist; but something new that may be developed inside the Circuit Input Builder.

[2022-07-08 07:50] miha-stopar commented on #607
Exactly. Yes, it makes sense to make this check in the MPT circuit.

[2022-07-08 08:04] ed255 commented on #607
I agree with @z2trillion on point 1: Currently the state circuit is not doing any keccak lookups; and it would be good if we don't need to introduce a new inter-circuit dependency.  Since the MPT already does keccak lookups, maybe the MPT can receive the unhashed address and unhashed RLC(key), and do the hashing itself?

About point 2: I see your point about what a malicious prover can do if the t

[2022-07-11 03:34] DreamWuGit opened #612 "begin_tx test with 'RETURN' will cause error case (stack underflow )"
for code line https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/ca56d448634d89f5e3aeced804d040a1c74bc37c/zkevm-circuits/src/evm_circuit/execution/begin_tx.rs#L382
current `RETURN`  somewhat dummy op code handles it and let the test pass, it is not a problem.
From my side , current unit tests are always positive test for evm circuit, so not sure if it is by design .  open this iss

[2022-07-11 03:41] han0110 commented on #612
I think it should have 2 `PUSH` before `RETURN` or using `STOP` instead, seems to be be a mistake.

[2022-07-11 03:46] DreamWuGit commented on #612
@han0110  yeah, I change to STOP resulting in success . will fix it then.

[2022-07-11 15:30] ChihChengLiang commented on #612
fixed in #613

[2022-07-11 15:30] #612 closed

[2022-07-12 05:29] chonghaozhang1998 opened #615 "No such file or directory Error while running './run.sh' command"
I ran the following command
`./run.sh`
in the following path
`zkevm-circuits/integration-tests`
And I met with the following Error!
[code]

How can I solve this problem?

[2022-07-12 06:48] chonghaozhang1998 commented on #615
I solved this problem by installing `solc`

[2022-07-12 06:48] #615 closed

[2022-07-12 16:26] #463 closed

[2022-07-13 15:52] ed255 opened #618 "Add TxCircuit and BytecodeCircuit to the integration test"
Add those two circuits here https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/integration-tests/tests/circuits.rs

[2022-07-14 18:02] z2trillion commented on #607
I made a draft pr that adds (faked) mpt update lookups to the state circuit: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/621/files#diff-3c34e18842d60643d37a4c79494077f57237418db3eb5b2539827baa23859d60R484

The biggest issue with it is the format of the lookups from the state circuit into the mpt circuit. https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/62

[2022-07-15 14:24] ed255 commented on #607
I also have the impression that doing RLC of values that are already RLC'ed (where both RLCs use the same randomness) is unsafe because it may allow the prover to swap values.  For example, if we have:
[code]

I think using a second randomness as you suggest is a possible solution.  I think this randomness should be derived from a transcript that includes the commitments to the first layer RLC'ed

[2022-07-18 16:14] ed255 opened #624 "Use `RangeInstructions::decompose` in Tx Circuit for field to bytes decomposition"
Halo2 now contains the functionality to decompose fields into an arbitrary number of limbs given a base.  This can be used to efficiently decompose the limbs in the WrongInteger into bytes, to reduce the number of rows of the Tx Circuit.  See https://github.com/privacy-scaling-explorations/halo2wrong/pull/34#pullrequestreview-1023409613

This is an improvement issue.

[2022-07-18 16:17] ed255 opened #625 "Reduce the number of columns in the Tx Circuit"
Currently the Tx Circuit uses more than 200 columns, but it could easily be reduced by using rotations.

This is an improvement issue.

[2022-07-19 00:48] roynalnaruto commented on #608
@ed255 can we close this?

[2022-07-19 07:55] lispc opened #626 "comments on main CI failure and bytecode unrolling"
the `is_code` bool tag is introduced in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/170   it is used initially in bytecode unrolling. Unrolled bytecode is a "runtime" concept, and may change from tx to tx. In unrolled bytecode , is_code makes sense to be used to distinguish and constrain push data and normal opcode.

But now is_code is used to in a "static analysis " https:

[2022-07-19 07:58] #626 closed

[2022-07-19 08:35] #608 closed

[2022-07-21 01:39] DreamWuGit opened #629 "get_step_err for successful call gets "call failure without return""
add a new test `tracer_call_success` which results in error message as title describes, test in  https://github.com/scroll-tech/zkevm-circuits/pull/175/files

the root cause is next step stack is empty , which is considered as failed result .

[2022-07-25 15:18] adria0 opened #632 "`LOG` reverts on memory limits"
check

[code]

[code]
panics with
`Execution result is : Err([ConstraintNotSatisfied { constraint: Constraint { gate: Gate { index: 116, name: "LOG" }, index: 124, name: "State transition constraint of log_id" }, location: InRegion { region: Region { index: 6, name: "Execution step" }, offset: 51 }, cell_values: [(VirtualCell { name: "", column: Column { column_type: Advice, index: 23 }, rotation:

[2022-07-25 16:06] han0110 opened #633 "Fully implement `PUSHn`"
Currently `PUSHn` is not fully implemented, the case "push out of code range" is not taken care. It should first lookup the bytecode's length and have the data selectors summing to `min(length - program_counter, n)`.

[2022-07-25 16:37] ed255 commented on #629
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/630

[2022-07-25 16:37] #629 closed

[2022-07-26 17:49] adria0 opened #636 "Failing `CALL` when sending value"
`test_with_value` fails

[code]
when `test_without_value` works for the following code:

[code]

note: this has been detected by running the `InternlCallStoreClearsSuccesFiller.json` test

[2022-07-27 07:17] han0110 commented on #636
Thanks for reporting the issue with reproducible code, it's really convenient for me to do trouble shooting!

It takes me some time to realize the issue, so in [`InternlCallStoreClearsSuccesFiller.json` ](https://github.com/ethereum/tests/blob/27721a74131ccb6e2fa99b8a76740849d3d13fc7/GeneralStateTests/stTransactionTest/InternlCallStoreClearsSucces.json) we can find that account `0x000...000` has `

[2022-07-27 08:27] ChihChengLiang opened #637 "Update Rust version"
### Problem

Our rust version is lagging behind 8 months.

The latest nightly version is `1.64.0-nightly (4d6d601c8 2022-07-26)`

Note: need to be careful of the Clippy compatibility.

[2022-07-27 14:45] ed255 opened #641 "Use a non-random "randomness" value for testing"
Currently we are using a different random value on each test run for the randomness used for the RLC in the circuits:
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/46dd697dbf855b252e50b08543ac0f9eb4bc4010/zkevm-circuits/src/evm_circuit/witness.rs#L1361

I believe it's better for tests to use always the same "random" value to get reproducible executions and run the test always