[2022-07-28 11:16] #637 closed

[2022-07-28 15:02] pinkiebell opened #644 "Support for fixed selectors/rows at runtime for all circuits"
At the moment, the `synthesize` step for example in the `evm circuit` depends on `Block`. If we want to precompute fixed verifier and prover keys then we need a way to synthesize the constrains based on `K`. This will be required for contracts as well of making it possible to the cache the prover keys in the `proverd`.

The operations that influence the keys can be viewed [here](https://github.com

[2022-07-28 15:29] #600 closed

[2022-07-28 16:09] #636 closed, assigned to nobody

[2022-07-28 16:19] adria0 opened #645 "Panicking `CALL` with value when there is not enough caller balance"
The code that panics `panicked at 'arithmetic operation overflow'` is in:

https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/4bdb2a2e70b6137ec0905bede725f5750fe4caf7/bus-mapping/src/circuit_input_builder/input_state_ref.rs#L415

**code to reproduce**

[code]

[2022-07-29 02:26] lispc commented on #645
I think @DreamWuGit is handing this. PR soon

[2022-07-29 06:16] DreamWuGit commented on #645
@adria0  it is the so called `ErrorInsufficientBalance` , I am making dummy gadget to make it pass circuit .

[2022-08-02 03:36] lispc opened #650 "backlog: unify circuits naming"
Sometimes we use "XXCircuitConfig" as the struct containing columns and "XXCircuit" as the struct to containing witness(block), while sometime we use "XXCircuit" as the struct containing columns.

There are more inconsistency. Eg: EvmCircuit is the "proper" circuit without shared tables, and "TestCircuit" in evm_circuit.rs is the  "full(runnable)" circuit.   While for StateCircuit there is no "pro

[2022-08-04 07:13] han0110 commented on #2
Close since all of them are taken care in State circuit now

[2022-08-04 07:13] #2 closed

[2022-08-04 07:17] han0110 commented on #165
Closed by #292

[2022-08-04 07:17] #165 closed

[2022-08-04 07:21] han0110 commented on #200
Close since we split large value into chunks for range check now

[2022-08-04 07:21] #200 closed

[2022-08-04 07:25] han0110 commented on #284
Closed by #292

[2022-08-04 07:25] #284 closed

[2022-08-04 07:28] han0110 commented on #456
Closed by #419

[2022-08-04 07:28] #456 closed

[2022-08-04 07:32] han0110 commented on #386
Close in favor of #573

[2022-08-04 07:32] #386 closed

[2022-08-04 07:36] han0110 commented on #122
Closed by #484

[2022-08-04 07:36] #122 closed

[2022-08-04 16:02] #574 closed

[2022-08-05 07:40] adria0 opened #657 "Circuit verification failing due low k"
When doing benchmark tests on the SuperCircuit https://github.com/privacy-scaling-explorations/zkevm-circuits/tree/feature/super_circuit_2 happens that the circuit verification https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/b0cd131325dd03b4b042473743e84e01de218aa8/circuit-benchmarks/src/super_circuit.rs#L104-L110 fails the assertion `assert!(bases.len() >= size);` located in

[2022-08-05 07:46] lispc commented on #657
I guess it is due to incorrect public input size used to generated ParamsVerifier.. i talked this issue with Edu before.. Let me check more

[2022-08-05 07:47] lispc commented on #657
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/b0cd131325dd03b4b042473743e84e01de218aa8/circuit-benchmarks/src/super_circuit.rs#L74    I think it is incorrect. This is the public input size. Degree * 2 makes no sense

[2022-08-06 08:20] ed255 commented on #632
Does this bytecode create an exception in the EVM execution?

[2022-08-06 08:22] ed255 commented on #618
Will be resolved by https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/654

[2022-08-06 08:27] ed255 commented on #587
This should be resolved once EndBlock state is completed.  Spec PR: https://github.com/privacy-scaling-explorations/zkevm-specs/pull/243

[2022-08-06 08:30] ed255 commented on #579
In the SuperCircuit PR I added some functions to the TxCircuit and BytecodeCircuit that return the list of keccak inputs that they need.  We could do a similar thing for the rest of the circuits.
See: https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/7b711b1e32a6338d0bc6daf24cbea015ca195bf1/zkevm-circuits/src/tx_circuit.rs#L88-L101

[2022-08-06 08:33] ed255 commented on #567
Will be resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/595

[2022-08-06 08:37] ed255 commented on #502
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/614

[2022-08-06 08:37] #502 closed

[2022-08-06 08:50] ed255 commented on #440
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/563

[2022-08-06 08:50] #440 closed

[2022-08-06 08:54] ed255 commented on #356
Currently the specs and impl match (or mostly match), so I'll close this issue :)

[2022-08-06 08:54] #356 closed

[2022-08-06 09:00] ed255 opened #658 "Official ethereum/tests StateTests execution"
@adria0 has been working on this for a while in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/382

[2022-08-06 09:00] ed255 commented on #204
Closing this issue and creating a new one focused on the ethereum tests at https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/658

[2022-08-06 09:00] #204 closed

[2022-08-06 09:01] ed255 commented on #153
The ECDSA verifier is implemented in the halo2wrong repository.

[2022-08-06 09:01] #153 closed

[2022-08-06 09:44] ed255 opened #659 "Meta: Refactor circuits to get randomness via challenge API"
Depends on https://github.com/privacy-scaling-explorations/halo2/issues/90

- [x] Bytecode Circuit https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/753
- [x] Tx Circuit https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/752
- [x] Keccak Circuit https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/751
- [x] EVM Circuit https://github.com/priv

[2022-08-06 09:55] ed255 opened #660 "Implement constraints for TxRefund in State circuit"
Depends on https://github.com/privacy-scaling-explorations/zkevm-specs/issues/244

[2022-08-06 09:57] ed255 opened #661 "SuperCircuit: Add CopyCircuit"

[2022-08-06 09:57] ed255 opened #662 "SuperCircuit: Add StateCircuit"
Depends on integration between EVM Circuit and State Circuit

[2022-08-06 09:57] ed255 opened #663 "SuperCircuit: Add PublicInputsCircuit"

[2022-08-06 10:03] ed255 opened #664 "Define and implement the Root Circuit"
The Root circuit is in charge of

* Passing the public inputs to super circuit
* Aggregating Super Circuit proof

[2022-08-06 10:14] ed255 opened #665 "Generate a halo2 verifier for the Root circuit in EVM"
Han has already written code that generates a halo2 verifier in EVM bytecode in https://github.com/han0110/plonk-verifier/

[2022-08-06 10:53] ed255 commented on #474
@lispc we're wondering if you have worked on this in the scroll-tech fork?  If not, would you be interested in working on a fix to this issue?

[2022-08-06 10:56] ed255 opened #666 "Add missing circuits to benchmarks"
We have benchmark tests defined here:
https://github.com/privacy-scaling-explorations/zkevm-circuits/tree/main/circuit-benchmarks/src

We need to include the following circuits:
- [x] PublicInputs #830
- [x] Bytecode https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/807
- [x] Copy #899
- [x] full Keccak #634
- [ ] Exp Circuit https://github.com/privacy-scaling-explorations/zkevm-

[2022-08-06 10:58] ed255 opened #667 "Get benchmark results for each circuit"

[2022-08-08 13:14] pinkiebell commented on #657
That should be `1 << DEGREE`.

[2022-08-09 01:25] lispc commented on #657
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/b0cd131325dd03b4b042473743e84e01de218aa8/zkevm-circuits/src/super_circuit.rs#L278

seems `(1 << DEGREE) - 64`

[2022-08-09 02:17] DreamWuGit commented on #645
after dummy handling error cases in #647, this should not panic now.

[2022-08-09 07:55] #657 closed, assigned to adria0

[2022-08-09 09:20] lispc commented on #474
@ed255
i fixed it for evm circuit in scroll fork. I added another column and degree.

q_usable(selector, but not fixed in fact..) becomes q_usable(fixed column, fixed len) and q_used(advice column, not fixed len)

(i think this method is sub optimal for performance.. Would you like this simple but not efficient solution as a PR, or we'd better design a new/more complex/more efficient mechanism lik

[2022-08-09 10:48] #645 closed, assigned to nobody

[2022-08-10 07:16] CPerezz commented on #641
I would suggest to use `SeededableRng`. See: [SeedableRng](https://docs.rs/rand/latest/rand/trait.SeedableRng.html#)

[2022-08-10 14:35] DreamWuGit opened #673 "Fix oog error in call handling"
@lispc  found if oog(out of gas) error occurs in `Call`,  circuit will fail unexpectedly.   after investigation, for  oog and stack related error cases(stack overflow& underflow) don't need push call in the buss mapping.

[2022-08-10 15:35] adria0 opened #675 "Find a way to get information about circuit testing costs"
We have to run a lot of tests, some in the CI pipeline but a bunch of other tests (eth, benches, etc...) that will be really interesting to have a way to get an estimate about how

- much CPU and
- how much GB of RAM

will take running a specific circuit.

This will allow us to:

- estimate how much resources in terms of cost we need to execute a set of tests
- better optimize the parallelisation

[2022-08-10 15:41] lispc commented on #675
https://github.com/scroll-tech/halo2/pull/14 sonething like this？

[2022-08-11 06:57] #632 closed, assigned to adria0

[2022-08-12 02:30] #662 closed

[2022-08-12 06:28] barryWhiteHat commented on #474
@lispc are yall planning to submit a PR for this ?

[2022-08-12 06:39] lispc commented on #474
no problem! So you think my solution(add another column and degree) is ok?

[2022-08-12 06:44] barryWhiteHat commented on #658
@adria0 when you get to this could you also check the currently open issues found during official state test execution and see which ones have been resolved :)

[2022-08-12 07:37] han0110 commented on #474
In the short term I think we can increase `1` degree (leads `extended_k = 3` but seems fine [^if-with-optional-zk]) to halve the `ExecutionState` (with a bit prefixed with ~50 cells instead of ~100 cells) to make `EndBlock` single row as padding. Then we can assign `q_usable` all the way down to the static height to create static pk/vk. Then we can also keep `q_step_last` fixed position without re

[2022-08-12 07:45] lispc commented on #474
@han0110  ok i will move my codes (add 1 degree, add 1 col , to make vk/pk fixed) as a PR here soon

[2022-08-12 07:46] han0110 commented on #474
Thanks a lot!

[2022-08-12 07:52] CPerezz opened #677 "Move mock_tx creation to `mock` crate"
After checking #641 I saw that the generation for random Txs is not using the mock crate for testing purposes. Which was specifically designed for this.

I think it would be nice to try to see if we could move all the Tx/Block generation into the `mock` crate and so fave  a unique place where we define all of the mocking/testing utilites for the different components.

[2022-08-12 08:34] DreamWuGit commented on #673
close this as #674 merged!

[2022-08-12 08:34] #673 closed

[2022-08-15 13:47] CPerezz commented on #641
Well I was working on this but makes sense to use a fixed randomness value as basically it's for debugging purposes. And also, we don't have any Rng traits associated anywhere. So we're much more free in that regard.

Aside from that, even using in `0x1000` can be a solution now, we should keep an eye on this so that we have a solution that can scale with the codebase.

[2022-08-16 11:49] CPerezz commented on #641
I think we can close this and open a new issue regarding the implementation of a global randomness solution for our testing.

[2022-08-16 11:57] CPerezz opened #684 "Unify testing-randomness usage across the entire workspace"
I'd really consider to use testing setup/teardown to reduce the verbosity and redundancy in the tests.
Also, I think it would be benefitial to setup a final solution that unifies ALL the randomness used across all the tests so that we don't do different things on each PR/test.
See: #641
_Originally posted by @CPerezz in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/654#pullre

[2022-08-16 11:58] CPerezz commented on #684
Would like to know your takes on that @ChihChengLiang @han0110

[2022-08-16 12:13] CPerezz opened #685 "Use testing setup/teardown to load things like DEGREE or Randomness"
Instead of doing this on each test, why don't we use a crate like: https://github.com/markhildreth/test-context to do test setup/teardown?

_Originally posted by @CPerezz in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/654#discussion_r946674477_

The usage of testing setup/teardown is nothing new at all and we could reduce quite a lot the amount of code that we have and will

[2022-08-16 12:14] CPerezz commented on #685
@ChihChengLiang @han0110 do you think this makes sense??

[2022-08-16 12:24] CPerezz commented on #641
Closing this in favour of #684

[2022-08-16 12:24] #641 closed

[2022-08-16 12:24] CPerezz commented on #677
How does it sound @ChihChengLiang @han0110 ?

[2022-08-16 12:33] ChihChengLiang commented on #685
What's inside the setup step and the teardown step in our cases?

[2022-08-16 12:34] ChihChengLiang commented on #677
Sounds like a good idea

[2022-08-16 12:38] ChihChengLiang commented on #684
I'd say keep it simple before we get the challenge API.

[2022-08-16 12:54] CPerezz commented on #685
The obtention of the DEGREE and the randomness as well as the generation of a setup (if needed) or any other thin that is shared cross tests and repeated over and over.

[2022-08-17 09:55] ed255 commented on #684
I believe we have 2 cases of randomness in tests:
1. The randomness value for RLC.  I think we could have a fixed constant for this used across all tests.  This could be `0x1000`
2. Deterministic but random-looking values to generate inputs for tests.  For this I think the easiest way is a seedable rng with a fixed seed.

The idea of getting the fixed random constant from an env var sounds good to

[2022-08-17 10:06] CPerezz commented on #684
Thanks for the feedback @ed255

Regarding 1. Not going to make a PR as this will be superset by the new halo2 version removing the randomness requirements.
As per 2. I like too the idea of using a seedable rng with a fixed seed passed via env or set as default.
NOTE that this will make it a bit more difficult to see randomness-related values (the seed will derive in a consistent but likely large a

[2022-08-17 10:27] CPerezz opened #688 "Logs show errors for ADDMOD lookups while tests pass"
While running inside of the `zkevm-circuits` workspace member `cargo test --release --all-features addmod` we obtain:
[code]

The issue is that the tests are passing independently of the fact that there are ERRORS saying the lookups are wrong in the logs.
This was introduced in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/676 and we should try to see if:
1. lookups are wrong

[2022-08-17 10:53] lispc commented on #688
The lookup is indeed incorrect. In fact these tests are deliberately constructed to be negative tests to check error is indeed error

[2022-08-17 11:35] pinkiebell opened #689 "prover/rpc: Add the ability to abort a running prover task"
Context:
I haven't yet looked for a way to interrupt a busy thread - especially one inside the tokyo worker pool without breaking some stuff. Because the prover code will eventually run long inside a synchronous context and I don't know yet if interrupting threads like this will lead to memory leaks or similar.

[2022-08-17 14:41] ed255 opened #690 "Add circuit helpers to calculate min k"
For each circuit, based on specific inputs we want to use a minimum `k` value is required.
It would be nice to have uniform function helpers for each circuit to calculate this minimum k.

As an example, here's how the SuperCircuit calculates the `k` value for tests by using hard-coded formulas that could be moved to each circuit:
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/

[2022-08-17 15:09] han0110 commented on #690
Recently I got a satisfied solution for myself (while refactoring `halo2wrong`), here is the helper implementation:

First we implement trait `Assignment` to count maximum offset of each kind of column of circuit, and output the dimension:

[code]

Next we can wrap `MockProver` like:

[code]

Then we never need to estimate the `k` manually anymore!

[2022-08-18 09:45] aguzmant103 opened #692 "Build keccak circuit without table connection"
The implementation will be done using the bit approach from Brecth

PR #542  is in progress but doesn't have this approach. Feel free to leverage the content of this PR to help you on how to proceed.

[2022-08-18 09:48] aguzmant103 opened #693 "Build MPT Circuit"

[2022-08-18 09:48] aguzmant103 opened #694 "Add keccak circuit with supercircuit"

[2022-08-18 09:49] aguzmant103 opened #695 "Add MPT circuit with supercircuit"

[2022-08-18 10:11] aguzmant103 opened #696 "Keccak hashing impl proposal fom Circuit Input Builder (1) from MPT"

[2022-08-18 10:11] aguzmant103 opened #697 "Keccak hashing impl proposal fom Circuit Input Builder (2) not from MPT"

[2022-08-18 10:37] aguzmant103 commented on #697
Dependencies:
- Specify MPT circuit inputs

Useful link: https://github.com/privacy-scaling-explorations/mpt-witness-generator

[2022-08-18 11:14] ChihChengLiang commented on #276
close in favor of #692

[2022-08-18 11:14] #276 closed

[2022-08-18 11:30] ed255 commented on #567
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/595

[2022-08-18 11:30] #567 closed

[2022-08-18 15:00] Brechtpd opened #698 "Implement RETURNDATASIZE"

[2022-08-19 03:34] barryWhiteHat commented on #698
@xiaodino and @smtmfft are gonna work on this one

[2022-08-19 04:05] silathdiir opened #699 "Implement opcode `STATICCALL` in Circuit"
Please help assign this issue to me if no one is working on this opcode. Thanks.

Related Spec issue - https://github.com/privacy-scaling-explorations/zkevm-specs/issues/252

[2022-08-19 09:44] ed255 commented on #661
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/671

[2022-08-19 09:44] #661 closed

[2022-08-19 09:45] ed255 commented on #696
Dependencies:
- Specify MPT circuit inputs

Useful link: https://github.com/privacy-scaling-explorations/mpt-witness-generator

[2022-08-19 09:46] ed255 commented on #697
Actually this note belongs here https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/696 :P (I just copied it there)

[2022-08-19 10:30] CPerezz commented on #685
After discussing with @ed255 we're closing this as there's not enough code repeatead across tests so that it's really worth it to use setup/teardown infra.

[2022-08-19 10:30] #685 closed

[2022-08-22 15:20] ed255 opened #702 "Upgrade halo2 dependency to latest release"
Upgrade `halo2_proofs` dependency to use tag `v2022_08_19`.

Also update `halo2wrong` dependency to the latest tag.

Depends on https://github.com/privacy-scaling-explorations/halo2wrong/issues/39

[2022-08-23 15:48] ed255 opened #707 "Run integration tests in self hosted runner"
Recently we added a self hosted runner in order to accelerate the testing times from the github actions that are required for the PRs.

We have another github action that is only run after a commit is merged into main that runs the Integration Tests: https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/.github/workflows/integration.yml
Lately these tests reach the memory limits

[2022-08-23 16:41] #677 closed

[2022-08-24 02:24] lispc opened #708 "refactor: move witness.rs and BaseConstraintBuilder out of evm_circuit dir"
orignally they are used for evm circuit only. But later other circuits use them too. So it will be cleaner to move to a more common location

[2022-08-25 08:35] DreamWuGit opened #710 "evm circuit encounter "CellNotAssigned" when handle empty block"
we found evm circuit for empty block in MockProver reports "CellNotAssigned" error,  the error is like following :

`result: Err([CellNotAssigned { gate: Gate { index: 5, name: "Constrain execution state" }, region: Region { index: 8, name: "Execution step" }, column: Column { index: 6, column_type: Fixed }, offset: 0 }, CellNotAssigned { gate: Gate { index: 5, name: "Constrain execution state" },

[2022-08-25 09:22] aguzmant103 commented on #663
Comments from David: will focus on the spec first and after the Halo2 upgrade is done, retake this task.

Comment from CPerezz: don't think Halo2 upgrade will change the full codebase but will still to work out on some merge conflicts.

[2022-08-25 09:47] aguzmant103 opened #711 "Make the minimum state height = 1"
Currently the minimum height is = 2. To facilitate the padding with the end block will require the minimum height = 1. This can be achieved by reducing the cells used for the selector of the state.

[2022-08-25 09:48] aguzmant103 commented on #575
Sub-tasks:
[] [#711](https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/711)

[2022-08-25 09:54] aguzmant103 commented on #692
Dividing this into two tasks:
- Make the connections with permutations
- Work on integration of keccak table with the circuit

[2022-08-25 09:55] aguzmant103 opened #712 "Lookup table addition to keccak circuit"
Depends on #692

[2022-08-29 08:03] #697 closed

[2022-08-29 10:54] ChihChengLiang commented on #712
@CPerezz Can you give some clarification for this task? IIUC, we want to complete the following listed items.

- Enshrine one of the keccak circuits, specifically `KeccakBitConfig`.
- Currently,...
  - SuperCircuit has keccak_inputs built from the Circuit Input Builder.
  - SuperCircuit then use `keccak_table.load()` to load KeccakTable with all keccak_inputs.
  - We want to replace `keccak_table.

[2022-08-29 10:56] ed255 opened #716 "In Circuit Input Builder, store the block hashes in expected order"
See: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/709#pullrequestreview-1088202123

In the block table we keep the list of the last 256 block hashes https://github.com/privacy-scaling-explorations/zkevm-specs/blob/master/specs/tables.md#block_table with an index
The Circuit Input Builder should return the list of block hashes sorted by their indexes, so that we don't need to

[2022-08-29 10:56] CPerezz commented on #712
This issue exists due to the fact that we wanted to split the Keccak Circuit impl task into smaller ones.

1. We have #692 which will connect the permutations between themseleves.
2. We have this issue which will include a lookup table which will be loaded with the circuit inputs.
3. Any Supercircuit stuff comes after 1 and 2.

[2022-08-29 11:02] ChihChengLiang commented on #712
It looks like we already have the lookup table loading logic in two places

1. This one is in keccak circuit https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/d16ac9b8bda39c45c82a41d2d59054c85abbc9a1/zkevm-circuits/src/keccak_circuit/keccak_bit.rs#L648
2. This one is in the super circuit https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/38aca326857287a9e7a2d7503

[2022-08-29 12:52] CPerezz commented on #712
Ohh you're right! I wonder how this is possible if the permutations aren't connected entirely AFAIK.

[2022-08-29 13:11] ChihChengLiang commented on #712
So they are not connected. I can connect them together. Let me create a demo PR.

[2022-08-29 15:02] AronisAt79 opened #723 "Keccak lookup error causes real prover to panic in testnet"
During proof generation (block consisting of a single deposit Tx):

[2022-08-29T12:52:09Z INFO  prover::shared_state] ProvingKey: generated and cached key=/testnet/21.bin944750200000596662096896
[2022-08-29T14:05:32Z INFO  prover::shared_state] task_result: Err(
        "The constraint system is not satisfied",
    )

commit: 2887314434c1fe52e88a7176385c2db09fadae8d

[2022-08-29 15:58] Brechtpd commented on #573
Hey @z2trillion, are you working on this? `RETURNDATASIZE` has a small dependency on `RETURN`, we were wondering if it would make sense for us to implement `RETURN` as well (busmapping + maybe circuit).

[2022-08-29 16:14] z2trillion commented on #573
I am. I have WIP PR which handles the memory copy parts of RETURN, but not the contract creation parts: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/719

[2022-08-30 07:41] DreamWuGit opened #721 "Check end_block's rw_counter when block contains only one tx"
@ed255 find that end_block state 's  `rw_counter` assigning depends on if the tx is the last tx. if there is only one tx, such tx is both the first and the last , it is likely to have problems. refer to [comment](https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/713#issuecomment-1228628123)

[code]

[2022-08-30 10:16] ChihChengLiang commented on #708
Sounds like a good idea to me. @CPerezz or @ed255, comment on this?

[2022-08-30 16:23] CPerezz commented on #708
Makes sense if we can reuse it! Are you planning to work on this @lispc ? Or should we take this?

[2022-08-31 09:43] DreamWuGit commented on #710
close in favor of #713 merged!

[2022-08-31 09:43] #710 closed

[2022-08-31 13:39] AronisAt79 commented on #723
@CPerezz pretty much. But simpler :). No extra service//container created. Once a proof_request fails, mockProver is activated on the same container. @pinkiebell said that  we could also implement a proof_request option to control whether a real or mock prover is engaged per proof_request. I think that would be an awesome debug tool to consider.

[2022-09-01 11:25] #711 closed

[2022-09-01 12:06] aguzmant103 commented on #664
Useful ref> https://github.com/privacy-scaling-explorations/plonk-verifier

[2022-09-01 14:38] ntampakas commented on #707
I launched a self hosted runner (36VCPUs and 72G of RAM.

[2022-09-01 14:40] ntampakas commented on #707
Just a note regarding the the memory consumption during the tests execution. (the instance that was used has 36VCPUs and 72G of RAM)

![image](https://user-images.githubusercontent.com/9750541/187941787-533dca40-bcd9-40be-92ff-f5c6d357c162.png)

[2022-09-01 17:36] #702 closed

[2022-09-02 07:30] CPerezz commented on #688
Still unsure on which is the correct way of doing this...

[2022-09-05 00:14] zeroxaa opened #732 "newbie question regarding how zkevm works"
hey, I understand one usecase of zkevm circuit project is to generate the proof offchain and verify it onchain via solidity code, that means the circuit itself should be independent of specific block data, in that way we can generate the vk from the circuit and put the vk in verifying contract. While i am looking at some implementation for example pi_circuit.rs, it contains public block data as pa

[2022-09-06 07:14] CPerezz commented on #732
Best I can provide is some intro docs I made that I have pending to be published.

See: https://hackmd.io/SJ0e7p_dS9y3ZIq-MmXm4Q?view

[2022-09-06 09:53] adria0 opened #733 "Ecdsa chip verification lookup errors in supercircuit after HALO2 update"
In 72649e3ef3277d568e2cdb53b7f6dd16a385f2f1 [supercircuit](https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/zkevm-circuits/src/super_circuit.rs) works ok, but after HALO2 update  2783eba338274a52036bf3db7fbc29575e24aa9f it fails, this has not been detected by CI due the circuit unit test is ignored by default.

[code]

[2022-09-07 07:29] ChihChengLiang commented on #712
closed by #717

[2022-09-07 07:29] #712 closed

[2022-09-07 09:42] ed255 commented on #707
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/731

[2022-09-07 09:42] #707 closed

[2022-09-07 10:06] ed255 commented on #689
Now that the prover is no longer in this repo after https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/714 maybe this issue should be transferred to the `zkevm-chain` repository?

[2022-09-07 10:27] leolara commented on #533
please assign to me, I don't have the rights to assign it to me

[2022-09-07 11:18] #708 closed

[2022-09-07 13:21] aguzmant103 opened #737 "MPT: Storage Leaves Constraints Documentation & General Refactoring of storage leaves"
- File by file, explaining gates and constraints
- This is both, comments in the files and in specs PR
- In parallel a bit of refactoring (macro, not micro)
- Need feedback on documentation and structure of the circuit

[2022-09-07 13:22] aguzmant103 opened #738 "MPT: Branch Related Code Documentation & General Refactoring of Branch Code"
- File by file, explaining gates and constraints
- This is both, comments in the files and in specs PR
- In parallel a bit of refactoring (macro, not micro)
- Need feedback on documentation and structure of the circuit

[2022-09-07 13:24] aguzmant103 opened #739 "MPT: Micro Refactoring"
- Will check clippy warnings, etc.

[2022-09-07 13:25] aguzmant103 opened #740 "MPT: Add MPT to Main"
Proposal:
- Get it merge as fast as possible
- Do a very quick review (like tests taking too long)
- Then find the gaps with the spec and address them in another task
- A proper review pending in the future once the specs are ready

[2022-09-07 13:25] aguzmant103 opened #741 "MPT Integration into the super-circuit"

[2022-09-07 13:25] aguzmant103 opened #742 "MPT: Optimize number of columns and rotations"

[2022-09-07 13:25] aguzmant103 opened #743 "MPT: Integration with Keccak circuit"
- Keccak circuit is done
- Carlos could take it after the specs are done
- Depends on: Independant

[2022-09-07 13:25] aguzmant103 opened #744 "MPT: Integration with State circuit"
- State circuit is done
- We have an in progress PR for this
- Depends on: Independent

[2022-09-07 14:58] ed255 commented on #744
Remove as duplicate with https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/607

[2022-09-07 14:58] #744 closed

[2022-09-07 14:59] #695 closed

[2022-09-07 15:42] #163 closed

[2022-09-08 11:39] aguzmant103 commented on #663
Immediate task: fix the integration challenges (new task), then putting the public input circuit, then the spec will be almost written.

[2022-09-08 11:41] andyguzmaneth opened #747 "SuperCircuit: Integration of Tables and Subcircuits"
Currently the SuperCircuit contains the State and Copy circuits, but it seems that the rw_table and copy_table are duplicate.  The tables should be de-duplicated and reused between the EVM and State Circuit (for rw_table), and EVM and Copy Circuit (for copy_table)

[2022-09-08 11:41] #692 closed

[2022-09-08 11:41] aguzmant103 commented on #663
Depends on  #747

[2022-09-08 12:00] ed255 opened #749 "Add the Super Circuit to the set of integration tests"
Add the Super Circuit to the integration test macro here https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/6abc33eeb81ffd64ff73f2a84c04203f33c161eb/integration-tests/tests/circuits.rs#L176

[2022-09-08 12:05] #694 closed

[2022-09-08 12:06] ed255 commented on #694
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/717

[2022-09-08 12:10] aguzmant103 opened #750 "Refactor EVM circuit with challenge API"

[2022-09-08 12:14] aguzmant103 opened #751 "Refactor Keccak circuit with challenge API"
Using the challenge API instead of the instance value for randomness in Keccak circuit

Notes:
- The randomness will be provided from the super circuit instead of being queried from within the Keccak circuit. This applies to all the sub circuits
- Treat the randomness as an expression, need a small test.
- The circuit needs to be divided into 2 phases: one with the commitments that don't use the r

[2022-09-08 12:17] aguzmant103 opened #752 "Refactor Tx circuit with challenge API"
Using the challenge API instead of the instance value for randomness in Tx circuit

Notes:

- The randomness will be provided from the super circuit instead of being queried from within the Keccak circuit. This applies to all the sub circuits
- Treat the randomness as an expression, need a small test.
- The circuit needs to be divided into 2 phases: one with the commitments that don't use the rand

[2022-09-08 12:17] aguzmant103 opened #753 "Refactor Bytecode circuit with challenge API"
Using the challenge API instead of the instance value for randomness in Bytecode circuit

Notes:

- The randomness will be provided from the super circuit instead of being queried from within the Keccak circuit. This applies to all the sub circuits
- Treat the randomness as an expression, need a small test.
- The circuit needs to be divided into 2 phases: one with the commitments that don't use th

[2022-09-08 12:23] aguzmant103 commented on #751
The randomness will be provided from the super circuit instead of being queried from within the Keccak circuit.

[2022-09-08 12:25] aguzmant103 commented on #751
Comments: treat the randomness as an expression, need a small test.

[2022-09-08 12:41] CPerezz opened #754 "Update halo2 & halo2wrong to be able to implement the Challenge API refactors"
Depends on:
- [x] https://github.com/privacy-scaling-explorations/halo2/issues/98
- [x] https://github.com/privacy-scaling-explorations/halo2wrong/issues/42

[2022-09-09 10:20] pinkiebell opened #757 "Consider upgrading the ethers-* crates"
Lately, I encountered many dependency errors because bus-mapping and friends are using rather old versions of ethers-* packages. Maybe it's time to upgrade them 🙂

[2022-09-09 13:26] #757 closed

[2022-09-12 08:35] #754 closed

[2022-09-12 10:00] ChihChengLiang commented on #723
@AronisAt79 @CPerezz @pinkiebell do we know what's the pre-state for the block?

[2022-09-12 11:24] AronisAt79 commented on #723
Hi @ChihChengLiang. Unfortunately not. I will need to repeat the test since the environment has been redeployed. How do i collect the block pre_state info?

[2022-09-12 14:07] xiaodino commented on #666
We are working on it.

[2022-09-12 14:07] xiaodino commented on #749
We are working on it.

[2022-09-12 14:12] ChihChengLiang commented on #723
I have no idea currently. Maybe @pinkiebell has some info. I can look into the prover code.

[2022-09-12 15:27] pinkiebell commented on #723
The `prestateTracer`
[code]
Returns for example:
[code]

[2022-09-12 17:54] CPerezz commented on #723
I think this should do @ChihChengLiang right? Since the failure is inside the `MSTORE` checks, this should allow to debug the entire thing. Specially since we already know the randomness.

[2022-09-12 21:44] AronisAt79 commented on #723
thanks @pinkiebell!
@ChihChengLiang i am attaching debug trace for block4 with  prestate tracer enabled, plus debug traces for block4 transactions.
[Block4_preStateTrace.zip](https://github.com/privacy-scaling-explorations/zkevm-circuits/files/9552007/Block4_preStateTrace.zip)
Mockprover log turned out huge, in case it is needed please let me know

[2022-09-13 08:39] ed255 commented on #750
Reference example: https://github.com/han0110/halo2/blob/feature%2Fchallenge-api/halo2_proofs/examples/shuffle.rs

[2022-09-13 08:39] ed255 commented on #751
Reference example: https://github.com/han0110/halo2/blob/feature%2Fchallenge-api/halo2_proofs/examples/shuffle.rs

[2022-09-13 08:40] ed255 commented on #752
Reference example: https://github.com/han0110/halo2/blob/feature%2Fchallenge-api/halo2_proofs/examples/shuffle.rs

[2022-09-13 08:40] ed255 commented on #753
Reference example: https://github.com/han0110/halo2/blob/feature%2Fchallenge-api/halo2_proofs/examples/shuffle.rs

[2022-09-13 14:54] miha-stopar commented on #738
Branch and extension node files are now documented and refactored.

[2022-09-13 14:54] #738 closed

[2022-09-14 12:21] miha-stopar opened #765 "MPT: add IsNonExistingStorageProof"
Support proving that a specific key is not stored in the storage leaf.

[2022-09-15 05:38] z2trillion opened #767 "Re-add negative tests for CopyCircuit"
Existing perturbation tests were commented out in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/762, because it's now harder to provide `CopyEvent` that leads to incorrect assignments.

[2022-09-15 08:31] ed255 opened #768 "Add a helper function to calculate TxLog address key"
In the RwTable, for the TxLog entries we're packing several values into the "address" key like `index | field_tag | log_id`.
In several places we have code like this to calculate this key:
[code]
This appears in
- zkevm-circuits/src/witness/rw.rs
- zkevm-circuits/src/table.rs
- zkevm-circuits/src/copy_circuit.rs

It also appears in the form of expression in
- zkevm-circuits/src/evm_circuit/executi

[2022-09-15 11:41] ChihChengLiang commented on #489
I think this is outdated as we now use implementations from #634

[2022-09-15 11:41] #489 closed

[2022-09-15 14:24] #533 closed

[2022-09-16 06:18] ChihChengLiang opened #771 "Integration Test CI error failing for the recent 3 commits"
Looks like we are missing the go installation in the CI configuration
[code]

[2022-09-16 06:20] ChihChengLiang commented on #771
I think adding this in the ci could fix it.

[code]

[2022-09-16 08:24] ed255 opened #772 "Reduce State Circuite expressions degree"
After https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/766 the max degree expression in the State Circuit will be 12.  This implies a bump in the extended `k` from 3 to 4, which will increase the proving time.

We may consider applying some optimizations to bring the max degree down in the future for a faster proving time.

Related discussion: https://github.com/privacy-scaling-

[2022-09-16 13:54] ChihChengLiang commented on #723
Thank you @AronisAt79 for the prestate. Is there a chance we can get the block info? It would have the content of the block header and the transactions inside it.

[2022-09-16 15:00] #607 closed

[2022-09-17 06:38] pinkiebell commented on #723
@ChihChengLiang I looked your PR. I think the error must have something todo with not having the proper block/tx setup. So the data of the block is needed and (easier) to reproduce anyway.

I think it's best to pull-in a script that:
i) get the block data w/ full transactions
ii) fetches all history hashes
Iii) fetches prestate for the block in question

[2022-09-17 07:52] pinkiebell commented on #723
I added a helper script: https://github.com/privacy-scaling-explorations/zkevm-chain/commit/0dc460a454e90167084e96c676206b48d8c7debb

@AronisAt79 You have to retry this again. Sorry for the inconvenience 🙏

[2022-09-17 22:30] maschad commented on #768
I could take a look into this if @leolara isn't already working on it.

[2022-09-17 23:09] leolara commented on #768
@maschad I am already starting with it, sorry :-(

[2022-09-17 23:11] maschad commented on #768
No worries! Thanks for the heads up

[2022-09-18 21:38] AronisAt79 commented on #723
Hello,

@pinkiebell thanks for the script. I will add a debug option into our test tool to fetch that info. Can you please explain why you go back specifically 255 blocks in history?

[block27.zip](https://github.com/privacy-scaling-explorations/zkevm-circuits/files/9595272/block27.zip)

@ChihChengLiang i am attaching fresh set of info plus tx traces. Will you need the prover log as well?

[2022-09-19 06:42] #771 closed

[2022-09-19 11:03] ChihChengLiang commented on #723
@AronisAt79 thanks for the data. Yeah prover log might help if it's not too much trouble for you.

[2022-09-20 03:14] jonathanpwang opened #781 "circuit-benchmarks does not compile"
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/673f5fe6e9e76ce3796a3f5b1d15d7c49ced66cd/circuit-benchmarks/src/tx_circuit.rs#L89

I think the hardcoded `<_, 2, 1024>` needs to be changed to `<_, MAX_TXS, MAX_CALLDATA>`

[2022-09-20 04:35] AronisAt79 opened #782 "Integrate Ethereum Test Tool with Jenkins in TA environment"
Integration of eth Test Tool (in self hosted runners) with Jenkins, to allow ad hoc execution of test sets with increased coverage, without having to worry about excessive run duration/increased system requirements. A set of filters will be also available.

[2022-09-20 04:41] AronisAt79 opened #783 "Define subset of eth test-tool tests for sanity checks during CI."

[2022-09-20 04:44] AronisAt79 commented on #783
We need to select a set of tests out of the full ethereum suit, to integrate as part of the CI pipelines. This set should run in regression mode, and provide sufficient coverage, enough to mark a release as healthy.

[2022-09-20 04:45] AronisAt79 opened #784 "Investigate: how to implement custom execution profiles for ethereum test-tool"

[2022-09-20 05:39] ChihChengLiang commented on #723
@pinkiebell the bug seems to be fixed on main. Can you try the zkevm-main on zkevm-chain prover?

[2022-09-20 08:54] ed255 opened #785 "Reuse type deserializers for json and yaml parsing in testool"
Currently in testool we have repeated code to parse types holding words, addresses, etc. for json and yaml:
- https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/673f5fe6e9e76ce3796a3f5b1d15d7c49ced66cd/testool/src/statetest/json.rs#L298
- https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/673f5fe6e9e76ce3796a3f5b1d15d7c49ced66cd/testool/src/statetest/yaml.rs#L292

[2022-09-20 09:09] pinkiebell commented on #723
Will do.

[2022-09-20 10:38] pinkiebell commented on #723
@AronisAt79 Can we do a run with https://github.com/privacy-scaling-explorations/zkevm-chain/commit/d01a5c0b2816fd27c062903a9accfea328c07974 and see if it goes trough without errors?

[2022-09-20 10:47] AronisAt79 commented on #723
sure! on it

[2022-09-20 17:14] #716 closed

[2022-09-21 13:17] #753 closed

[2022-09-21 13:20] pinkiebell opened #788 "Integration tests are failing"
See [commit history](https://github.com/privacy-scaling-explorations/zkevm-circuits/commits/main)
It first failed after #748 because of missing golang in CI. After that was fixed, these tests are failing:
- serial_test_copy_circuit_erc20_openzeppelin_transfer_succeed
- serial_test_copy_circuit_multiple_erc20_openzeppelin_transfers

A few commits in between could been the source of the errors...

[2022-09-21 13:42] ed255 opened #789 "Add real prover tests for the integration tests"
Currently we have 4 kinds of tests in this repository:
1. unit tests, using the mock prover.  Run for every PR
2. integration tests (using real blocks from geth), using the mock prover.  Run for every commit merged to main
3. benchmarks, using mock data and the real prover.  Run on demand via PR labels
4. testool, (using official Ethereum test vectors) using the mock prover.  Plan to run them dail

[2022-09-21 14:02] ChihChengLiang opened #790 "Prover test failure"
- zkevm-circuit commit hash >> acf2c0b967ee3c073ce9195ef165d966666cecfa
- zkevm-chain commit hash  >> 68982510b93fd34e06f5d2f444a3807b90668b40

Reproducible examples: https://github.com/pinkiebell/tmp

[code]

glance of circuit bug
[code]

[2022-09-21 14:03] ChihChengLiang commented on #790
@pinkiebell @AronisAt79 can you update the zkevm-chain commit hash and zkevm-circuit commit hash on the description?

[2022-09-21 14:10] han0110 commented on #789
An idea to save the resource for real prover is to fill the fixed table with only necessary values, to make the necessary `k` smaller.

[2022-09-21 14:10] ChihChengLiang opened #791 "Create CLI to reproduce prover circuit error"
Initial discussions here https://hackmd.io/THeVDmIkRSSqyb-lHXkRmQ

Functionalities similar to #775

[2022-09-21 14:11] AronisAt79 commented on #790
done inline

[2022-09-22 08:15] ChihChengLiang commented on #723
Close in favor of #790

[2022-09-22 08:15] #723 closed

[2022-09-22 10:06] ed255 commented on #789
I think we could start with the following steps:
- 1a. Duplicate the integration tests defined in https://github.com/privacy-scaling-explorations/zkevm-circuits/tree/main/integration-tests but using the real prover.
- 1b. Alternatively define some realistic setting and block data for tests.  This would require some thought, but would allow testing more special cases
- 2. Figure out the resources n

[2022-09-22 10:14] han0110 commented on #789
Tx circuit should also need a large `k` I think, due to the lookup table required by `RangeChip`, but I think it's not so costly as EVM circuit to prove, so perhaps we can focus on EVM circuit if we'd like to reduce the real prover integration test time.

[2022-09-22 10:19] pinkiebell commented on #789
For smaller blocks, the transaction circuit actually dominates all other circuits regarding the consumption of rows ℹ️

[2022-09-22 10:29] han0110 commented on #789
Ah that's true, a single ecdsa verification already cost more than `2<sup>16</sup>` rows, so we can't actually reduce Tx circuit's `k` by reducing its table.

[2022-09-22 11:49] aguzmant103 opened #794 "Add Unit tests of the super circuit to the CI pipeline"
- Run the unit tests of the super circuit using the mock prover.
- If it has faults, address them.
- Add it to the CI pipeline.
  - We need to decide whether this unit test will run for every PR update, or only when merged to main.

[2022-09-22 12:02] ed255 commented on #788
Here's the log from the CI:
[code]

[2022-09-22 12:08] pinkiebell commented on #790
Another note, a proving an empty block also has resulted in a `ConstraintSystemFailure`, that was with the real prover

[2022-09-22 14:14] ChihChengLiang commented on #788
Confirm that tests pass before #762 but failed after.

[2022-09-22 14:23] #737 closed

[2022-09-23 05:01] z2trillion commented on #788
Would it be possible to run the integration tests for the CI?

[2022-09-23 06:53] #788 closed

[2022-09-23 07:21] ed255 commented on #788
I think we can do that!  We originally moved them outside of the PR requirements because it was taking a long time, but since we've added our own workers the integration test doesn't take long.  For example, the last run finished in 4m 26s: https://github.com/privacy-scaling-explorations/zkevm-circuits/actions/runs/3110892852/jobs/5042567839

[2022-09-23 07:49] ChihChengLiang commented on #790
@ed255 do we need endblock to prove an empty block?

[2022-09-23 07:51] ChihChengLiang commented on #788
Oh, @z2trillion do you mean to run the integration tests on every pr instead of `main` branch only?

[2022-09-23 09:21] pinkiebell commented on #790
This time I have some debug information:
[code]

[2022-09-23 10:07] han0110 commented on #790
Ah I just checked again and found that the table of `RangeChip` used in `TxCircuit` is not loaded in `SuperCircuit`, it's only loaded in test circuits (the `SignVerifyConfig::load_range`).

Could you try call `config.tx_circuit.sign_verify.load_table(&mut layouter)?` in `SuperCircuit::synthesize` to see if it resolves the problem? (might need to make `sign_verify` in `TxCircuitConfig` `pub` first)

[2022-09-23 11:05] ed255 commented on #790
I'm not sure if the `SuperCircuit` tests are passing, as we're not running them (we disabled them because they take so much memory and time).  We have this issue to address this https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/794

[2022-09-24 04:46] maschad commented on #785
Good idea, I am working on a PR for this

[2022-09-24 05:46] #781 closed

[2022-09-25 04:37] yi-sun opened #799 "`keccak_bit.rs` computes `data_rlc` and `hash_rlc` in different ways"
The RLC formulas for `data_rlc` and `hash_rlc` implemented in the `keccak` function in `keccak_bit.rs` appear not to be consistent.

For `data_rlc`, the accumulation formula in: https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/77c5b62ee6c29ec4a2ae811a18fc81a6a64a0c2e/zkevm-circuits/src/keccak_circuit/keccak_bit.rs#L876

computes
[code]
For `hash_rlc`, the call https://github.com

[2022-09-26 12:16] lispc commented on #277
contract deployment will be in next milestone?

[2022-09-26 13:11] AronisAt79 commented on #790
Thanks @pinkiebell ! I am on it

[2022-09-26 13:56] ed255 commented on #277
We haven't defined a next milestone yet, but that could be included considering that we're not too far from having that feature.

[2022-09-26 15:47] ChihChengLiang commented on #799
Good catch.
`data_rlc` in the codebase looks incorrect to me. `bytes[0] + bytes[1] * r + ... + bytes[N - 1] * r^{N - 1}` (commit array) should be the correct one.

I scanned the current circuits that use keccak lookup in the super circuit. Especially the data_rlc parts.

- keccak table: commit the reverse array
- bytecode circuit: commit the reverse array https://github.com/privacy-scaling-explora

[2022-09-26 15:47] ChihChengLiang opened #802 "keccak_table_lookup in the evm circuit is missing an @@"
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/77c93c1016c672fe51b2a63713d45d17946eb20f/zkevm-circuits/src/evm_circuit/util/constraint_builder.rs#L1133-L1147

[2022-09-26 15:50] AronisAt79 commented on #790
@pinkiebell @ed255 @han0110

retested proof generation on
https://github.com/privacy-scaling-explorations/zkevm-chain/commit/7138394739bbe9166422fb5f461a330217603046

...still fails.

[2022-09-26 15:50] ChihChengLiang commented on #790
If that doesn't fix it. The data_rlc disagreement between different circuits might be the next possible place to investigate #799.

[2022-09-26 15:56] Brechtpd commented on #799
It was intentional that for `hash_rlc` it didn't reverse, but I'm not really sure if that is indeed correct. I believe for `data_rlc` it is currently done as expected by the spec because it makes calculating the rlc value sometimes a bit easier (I remember it being discussed here somewhere for the bytecode circuit but I can't find it).

I actually thought for the hash we wouldn't reverse the order

[2022-09-26 17:48] han0110 commented on #799
Just revisited about this and I now feel the difference between `RLC(word_bytes_le)` and `RLC(reversed(word_bytes_le))` could actually be not much, cause for `RLC(reversed(word_bytes_le))` we could still ask the prover to only witness the least significant bit or byte (single cell) for those checks, then call `rlc::expr` with descending powers of challenge as expression for lookup later.

It's ind

[2022-09-27 09:31] ChihChengLiang commented on #799
I created a note to figure out and summarize the discussions above https://hackmd.io/u5gDhD0lSt2kFg2OT0d5KQ.

The tldr is that `RLC(reverse(array))` has simlier circuit implementation but works better with big-endianess.
I agree to @han0110 that we should unite all circuits to use `RLC(reverse(array))`. Take keccak circuit for example, it takes both dynamic and constant size byte arrays as inputs.

[2022-09-27 10:55] han0110 commented on #790
@AronisAt79 Is there a mock prover error log for this? I found log like https://github.com/pinkiebell/tmp/blob/master/PROVER_LOG.txt.xz is very helpful for me to debug.

[2022-09-27 11:40] AronisAt79 commented on #790
@han0110  sure, here it is:
[3ce88515fbc2b312536592a6aff5b2139b2418828537c0d52f06ca05efdae0f6-json.log](https://github.com/privacy-scaling-explorations/zkevm-circuits/files/9655035/3ce88515fbc2b312536592a6aff5b2139b2418828537c0d52f06ca05efdae0f6-json.log)

[2022-09-27 13:21] han0110 commented on #790
The failed constraints and lookups from [3ce88515fbc2b312536592a6aff5b2139b2418828537c0d52f06ca05efdae0f6-json.log](https://github.com/privacy-scaling-explorations/zkevm-circuits/files/9655035/3ce88515fbc2b312536592a6aff5b2139b2418828537c0d52f06ca05efdae0f6-json.log) are:

- `bytecode_circuit::Config`
    - `assign bytecode`
    - `keccak` (lookup)
- `KeccakBitConfig`
    - `assign keccak rounds`

[2022-09-27 14:07] AronisAt79 commented on #790
@han0110 the tx you refer to is not associated to the failed case represented in the latest mock prover log. I will share the tx traces later today.

[2022-09-27 17:11] z2trillion commented on #788
I think any time the the main branch changes would be enough. I think it would be useful to catch integration test failures sooner.

[2022-09-27 19:26] AronisAt79 commented on #790
@han0110 attaching transaction trace plus block hash history, prestate, and block info
[block14.zip](https://github.com/privacy-scaling-explorations/zkevm-circuits/files/9659044/block14.zip)

[2022-09-28 04:54] han0110 commented on #790
@AronisAt79 Checked again with [block14.zip](https://github.com/privacy-scaling-explorations/zkevm-circuits/files/9659044/block14.zip) and Tx circuit still passing.

I believe the lookup failure is caused by different randomness used in Keccak circuit, which should be fixed by #806. Could you run again the same block with latest `main` and see if errors have become less?

[2022-09-28 05:50] AronisAt79 commented on #790
Thank you Han!

@leolara @pinkiebell would you please update circuits' revision dependency for zkevm-chain?

[2022-09-28 06:43] ChihChengLiang opened #808 "Run the integration tests per pull request"
This is brought up from #788.
Currently, the integration tests only run on the main branch when a pull request is merged because integration tests used to take a long time to run.

Now the testing time has been reduced to 4m, which is feasible to run on the pull request branches to be merged to the main. So that we could catch the test regression early.

[2022-09-28 06:58] ChihChengLiang opened #809 "Replace keccak_bit.rs with keccak_packed_multi.rs"
This is an issue brought up by @lispc

The TLDR is keccak_packed_multi works better with the current aggregation circuit.

The keccak_bit use ~1700 columns. It was based on the assumption that the column or curve point is only multiplied with a 1-bit scalar so that we have cheap multi-scalar multiplication(MSM) operations. It is assumed the MSM is performed on bare metal.

But the cheap MSM was no

[2022-09-28 07:14] ChihChengLiang commented on #809
@Brechtpd or is there a way to configure keccak_bit to trade columns into rows?

[2022-09-28 09:00] pinkiebell commented on #790
@han0110 I'm curious, any idea why the [simple keccak test](https://github.com/pinkiebell/tmp) passed before the randomness fix?

[2022-09-28 09:04] lispc opened #810 ""make bit_keccak_bench" fails"
DEGREE=19 make bit_keccak_bench:

[code]

git commit: 6be1d7fd6c48d534ec72194e7c93d8a015e84163 ( fix: use same randomness for keccak circuit in super circuit (#806)
 )

[2022-09-28 09:22] han0110 commented on #790
Ah so current main is passing [simple keccak test](https://github.com/pinkiebell/tmp), after restarting chain with current main it can prove some block until the 14-th one? Is this understanding correct?

If so, I have no idea why it was passing the simple keccak test.. Let me dig into more to see.

[2022-09-28 09:33] han0110 commented on #790
Hey @pinkiebell, I just realized there is more stuff to be updated in Keccak circuit for Super circuit (it's getting weirder why it was passing), please let me submit another patch and then let's decide if it's ready to start another test (repeatedly restart the chain seems annoying).

[2022-09-28 10:05] AronisAt79 commented on #790
@han0110 not exactly; when the chain is deployed, we configure the coordinator with dummy_proof=true. Therefore no proof request is sent to the prover service unless it is explicitly invoked. Usually the first blocks contain env setup Txs, ie fund deposits to l2, contract deployments and so on, which are blocks we only want to retest in regression. In this specific case, we only sent proof_request

[2022-09-28 10:27] han0110 commented on #790
@AronisAt79 I see now, thanks for explaining all the details!

[2022-09-28 12:17] aguzmant103 commented on #739
@miha-stopar  currently working on this, fixing small problems

[2022-09-28 12:24] aguzmant103 commented on #740
This task:
- Prepare PR (unit tests, lints, checks passing)
- Quick Review

[2022-09-28 12:36] aguzmant103 opened #811 "MPT: Connect Witness generation to zkEVM circuits"

[2022-09-28 12:43] aguzmant103 opened #812 "MPT: Review the witness generation"
Description:

- https://github.com/privacy-scaling-explorations/mpt-witness-generator

[2022-09-28 14:18] Brechtpd commented on #809
Currently no option to do so no, but it's pretty easy to add so can implement this if needed.

[2022-09-28 14:45] #739 closed

[2022-09-29 05:56] ChihChengLiang commented on #809
@Brechtpd thanks for the update. From #813 it looks like swapping to different implementations is easy. No need to add a configurable keccak bit for now.

[2022-09-29 09:30] ed255 commented on #474
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/728

NOTE that in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/795 I also made some updates regarding evm circuit padding, but this issue will remain resolved.

[2022-09-29 09:30] #474 closed

[2022-09-29 09:39] ed255 commented on #721
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/728

[2022-09-29 09:39] #721 closed

[2022-09-29 10:30] AronisAt79 commented on #782
Call with @adria0 needed to finalize some details and proceed

[2022-09-29 11:22] aguzmant103 commented on #747
Likely need to split this task into further ones.

[2022-09-29 11:36] aguzmant103 commented on #790
Possible approach:
- Focus on fixing possible issues in the Super Circuit to make sure it works as expected.
- Restart the chain again and see if it works.

[2022-09-29 11:43] aguzmant103 commented on #794
Suggestion:
- Split the current test and add more than 1.
- How to split it?
- Option A: Selectively disable some circuits and test the integration of a set of subcircuits.
- Option B: temp shrink some fix tables.
- Option C: make tests that ensure circuits are coherent with the LOAD function of that table to mock the behavior. If those test pass, in the super circuit can take subcircuits and repl

[2022-09-29 11:59] lispc commented on #810
find the reason. Blindings rows. Fixing

[2022-09-29 14:59] #810 closed

[2022-09-30 03:20] #809 closed

[2022-09-30 04:04] lispc opened #814 "proposal: using Block<Fr> returned by witness::block_convert as the only single source of witness"
currently different circuits needs witness from different sources/structs. Eg: https://github.com/privacy-scaling-explorations/zkevm-chain/blob/68982510b93fd34e06f5d2f444a3807b90668b40/prover/src/compute_proof.rs#L122

witness::Block and geth_types::{Transaction, Block} are all needed. I think we'd better unify all the procedure, so we post-process geth trace uniformly, and all the information nee

[2022-09-30 05:28] han0110 opened #815 "Unnecessary to check `IsPersistent` in the end of a call"
We only need to check `IsSuccess` to in the end of a call, since `IsPersistent`'s value is always derived from `IsSuccess` and caller's `IsPersistent`, and the root `IsPersistent` is just `IsSuccess`.

Currently `STOP` or other implemented errors could be improved to remove this unnecessary check.

[2022-10-04 10:26] #752 closed

[2022-10-04 10:57] ed255 commented on #815
The `IsPersistent` derivation you mention is this one right?
https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/f0a83024820923fedb3371c55f164470c844d29b/zkevm-circuits/src/evm_circuit/execution/call.rs#L137-L142

[2022-10-04 13:12] han0110 commented on #815
Yes, and this in `BeginTx`:

https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/f0a83024820923fedb3371c55f164470c844d29b/zkevm-circuits/src/evm_circuit/execution/begin_tx.rs#L60-L65

[2022-10-05 09:37] #794 closed

[2022-10-05 14:15] pinkiebell commented on #790
Some new witness errors after to latest zkevm-circuits,
snippet:
[code]

Full log + block fixtures can be found [here](https://github.com/pinkiebell/tmp/tree/master/36)

[2022-10-06 03:15] #573 closed

[2022-10-06 05:44] #568 closed

[2022-10-06 10:48] leolara opened #822 "refactor: encapsulate OpcodeId arithmetics"
In several places some OpcodeId are converted to u8 and arithmetics done for serveral reasons, this causes coupling, low encapsulation and code repetition. For example:

[code]

[code]

[code]

[code]

These operations can be encapsulated in operations on the OpcodeId type.

[2022-10-06 14:54] pinkiebell commented on #790
There is now a github workflow that executes the chain tests with the prover and uploads failures into a new branch. For example: https://github.com/privacy-scaling-explorations/zkevm-chain/commit/e01e60ec08c9bc71cb7a1e43271459330c184cd9
This one is also a rw witness related error. I hope that it makes future testing easier 🙏

[2022-10-09 05:54] xiaodino commented on #586
We are working on it.

[2022-10-11 14:52] roynalnaruto commented on #586
Some of the math gadgets that were also re-defined in the `gadgets` crate already have unit tests:
https://github.com/privacy-scaling-explorations/zkevm-circuits/tree/main/gadgets/src

So @xiaodino can refer them :)

[2022-10-13 06:30] DreamWuGit opened #832 "failed to resolve: use of undeclared crate or module `mock` in `rust-analyzer ` test"
Just found after this PR https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/786/files making mock as optional compile , run test by `rust-analyzer ` will encounter error as title describes.  it is inconvenient for developers to debug.

<img width="1038" alt="image" src="https://user-images.githubusercontent.com/16850793/195518835-b084a9e4-6a04-4085-bedd-06a53f19fd8d.png">

I would

[2022-10-13 07:09] #832 closed

[2022-10-13 07:47] DreamWuGit commented on #815
I agree, will update Stop & Error gadget !

[2022-10-14 13:54] #743 closed

[2022-10-15 15:57] #733 closed, assigned to nobody

[2022-10-19 23:20] #699 closed

[2022-10-20 00:22] silathdiir opened #840 "Implement opcode `DELEGATECALL` in Circuit"
Please help assign this issue to me if no one is working on this opcode. Thanks.

Related spec PR - https://github.com/privacy-scaling-explorations/zkevm-specs/pull/294

[2022-10-21 14:14] themighty1 opened #844 "is_zero gadget strange constraint"
Seems like even if the value is not zero, the returned expression will always be zero. This doesn't seem right:

https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/cbce4db203fef44d7f86383b79917394092902a5/gadgets/src/is_zero.rs#L83-L89

If `value` is e.g. 2,  then `is_zero_expression` is 0 and the returned expression is 0, which is not correct.
Or am I reading this incorrectly?

[2022-10-22 02:22] roynalnaruto commented on #844
The returned expression is the constraint that needs to be satisfied, i.e. it has to be `0`.

The expression `is_zero_expression` tells you whether or not the value assigned to the gadget was `0` or not.

So we satisfy the constraint `value * is_zero_expression` for the two cases below, that is:
1. `value == 0 && is_zero_expression == 1`
2. `value != 0 && is_zero_expression == 0`

[2022-10-22 02:22] #844 closed

[2022-10-22 04:54] themighty1 commented on #844
@roynalnaruto , is the purpose of this gate to constrain the `value` to be zero?

If so, then why is the constraint satisfied when the value != 0 :

[2022-10-22 05:36] roynalnaruto commented on #844
Hi @themighty1

The purpose is to create constraints for the gadget `is_zero`. So for both cases where `value == 0` and `value != 0`, that specific gate should resolve to `0`.

[2022-10-23 00:40] #822 closed

[2022-10-24 03:39] DreamWuGit opened #849 "`callop_recursive` test encounter invalid jump error"
after `callop_recursive` test imports static call, jump dest will not be fixed value, current test meet `InvalidJump`

[2022-10-24 12:20] adria0 opened #850 "PR's with CI integration tests errors should not be able to be merged"
Last push in main (https://github.com/privacy-scaling-explorations/zkevm-circuits/commit/842d8044e022ec99c3f0be800046b9687d3c3eba) was not passing the integration tests (https://github.com/privacy-scaling-explorations/zkevm-circuits/actions/runs/3305256805/jobs/5455228605), this is fixed in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/846, but we have to check what's wrong.

[2022-10-24 15:11] davidnevadoc opened #851 "Refactor PublicInput Circuit with challenge API"
The Public Input Circuit uses 2 random values which are currently provided from the Super Circuit:
 1. `randomness`: Used  for word RLC encoding
 2. `rand_rpi`: Used to RLC encode the raw public inputs column.

 The second random value `rand_rpi` must be derived at a later phase, once raw public inputs column has been commited to. See the [Public Input spec diagram](https://github.com/privacy-scal

[2022-10-24 15:28] #747 closed, assigned to davidnevadoc

[2022-10-24 23:54] #849 closed

[2022-10-27 08:25] #815 closed

[2022-10-27 11:27] aguzmant103 commented on #575
Still in progress, missing one review.

[2022-10-27 11:34] aguzmant103 commented on #790
@han0110 is working on this. Needs to confirm with @pinkiebell that this is not a blocker for https://github.com/privacy-scaling-explorations/zkevm-chain/issues/18

[2022-10-27 11:38] aguzmant103 commented on #664
Pending: Pinkie has done part of this work, pending to review how this was implemented in zkevm-chain repo.

[2022-10-27 11:43] aguzmant103 opened #853 "Refactor Super circuit with challenge API"

[2022-10-27 11:44] aguzmant103 opened #854 "Refactor PublicInput circuit with challenge API"

[2022-10-27 11:44] andyguzmaneth opened #855 "Refactor State circuit with challenge API"

[2022-10-27 11:58] aguzmant103 commented on #750
Notes: update the abstraction done in the EVM circuit to support challenge API. Need to refactor the opcodes.

[2022-10-27 12:01] aguzmant103 commented on #854
Public input circuit has less columns and logic that Keccak and State circuit

[2022-10-27 12:12] aguzmant103 opened #856 "Public Inputs Circuit: have a sound randomness"

[2022-10-27 12:13] aguzmant103 commented on #856
How to obtain the randomness to compress the inputs. Is this part of the challenge API?

[2022-10-27 13:33] ed255 commented on #789
@leolara is currently working on adding integration tests that use the real prover.

[2022-10-27 13:50] pinkiebell commented on #790
I will upgrade zkevm-circuits and run the SuperCircuit test again 👌
Right now, we have support for the halo2 verifier for the PI circuit. So this issue only bocks the integration of the super circuit

[2022-10-28 04:02] han0110 opened #859 "Helper function `assert_no_unnecessary_queries` to avoid unnecessary queires"
To automatically do refactor like https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/852.

We can do this by configure the circuit and collect every polynomial used in gates/lookups, and assert that there are no unused queries.

[2022-10-28 04:31] pinkiebell commented on #790
The witness related errors are gone and new stuff popped up 🙂
[complete log and fixtures](https://github.com/privacy-scaling-explorations/zkevm-chain/tree/prover-error-7423f8ad5b8c60984fb0892a78b53eaf53a43562/errors)
<details>

[code]

[2022-10-28 04:55] pinkiebell commented on #665
closing this as duplicate for https://github.com/privacy-scaling-explorations/zkevm-chain/issues/18

[2022-10-28 04:55] #665 closed

[2022-10-28 05:57] #575 closed

[2022-10-28 05:57] #587 closed

[2022-10-28 08:36] lispc opened #860 "keccak soundness bug"
considering this patch:

[code]

Tests still pass after this patch. I think it is not the expected behavior.

the tuples in keccak table is (is_enabled, input_rlc, input_len, output_rlc) while in keccak multi pack implementation, we set

[code]

Other the other hand, for the final round of final chunk, the `get_num_rows_per_round` rows can all have `is_final == 1`. Then we just inject some incorre

[2022-10-28 08:37] lispc commented on #860
@Brechtpd @han0110

[2022-10-28 15:01] #765 closed

[2022-10-28 19:41] naure commented on #859
I have started something to that effect in PR #863

There certainly are unused queries due to the rectangular shape of the cell manager. This PR focuses on analytics and suggesting adjustments to the column counts per column type.

[2022-10-29 02:55] han0110 commented on #860
Make sense, there should only be single row that outputs to table. Tho I don't follow why with the above patch the tests still pass.

[2022-10-30 05:59] xiaodino commented on #698
Completed in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/703

[2022-10-31 05:58] lispc opened #866 "soundness problem of advice lookup"
here is an example of soundness bug

https://github.com/scroll-tech/zkevm-circuits/pull/212

let me explain, usually we use advice columns as lookup table, but it is difficult if not impossible to constrain that there is no evil row after the region where selectors are applied.

In the above example, all state circuit constraints are gated by a selector, but if we usually the selector be true on r

[2022-10-31 05:59] lispc commented on #866
btw in the original zcash/halo2, only fixed columns are allowed to be lookup table. So there are no this type of problem in their circuits.

[2022-10-31 06:17] roynalnaruto commented on #586
@smtmfft IMO we should also refactor the `math_gadget` module into modules per gadget in it, mainly to lower the lines-of-code in the entire module. What do others think about this? If yes, I'm happy to do this in a separate PR, or this can be done within #865 as well.

[2022-10-31 07:59] han0110 commented on #866
I think the first solution should be the originally expected one, but the second one sounds even easier to implement without too much overhead. I think it should be fine to adopt either one.

[2022-10-31 10:41] naure commented on #866
(1) Clearly all rows should be constrained. There should not be a concept of _selector_, meaning a flag that disables rules. Instead, there can be case flags, meaning a flag that chooses between _either_ this rule _or_ that rule. In the example given, the cases are `data` or `padding`, and the second rule enforces padding values, e.g. `tag == padding`.

(2) A fixed column sounds exactly like the m

[2022-11-01 01:30] JSnobody opened #867 "circuit_benches benchmark failed"
When I run "make circuit_benches DEGREE=18", or "DEGREE=18 make evm_bench", I get an error:

thread 'evm_circuit::evm_circ_benches::bench_evm_circuit_prover' panicked at 'could not find current environment's bytecode', xxxxxxxxxxxx/zkevm-circuits/src/evm_circuit/execution/stop.rs:97:20
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
test evm_circuit::evm_circ_benches:

[2022-11-01 03:11] smtmfft commented on #586
Hi, @roynalnaruto You mean make each math gadget has its own file?? I think that's better structure, If the code does not change too much, I think this test would still works for them and I can add them to those files later on.

[2022-11-01 03:24] smtmfft commented on #586
Hi, @roynalnaruto Which branch are you working on? Maybe I could create PRs to that one if necessary.

[2022-11-01 05:23] #850 closed

[2022-11-01 08:02] lispc opened #868 "bug: padding not work in evm circuit"
reproduce:

set evm_circuit_pad_to to 2000, then

[code]

it will reports ""evm circuit offset larger than padding: 2000 > 2000"

@ed255

[2022-11-01 11:40] pinkiebell commented on #868
https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/795#pullrequestreview-1160065011

[2022-11-01 12:58] lispc commented on #866
do you think end_block can handle this? or this is indeed a problem? @ed255

[2022-11-01 20:44] icemelon commented on #866
Another alternative solution is that we include the selector column in the lookup argument such that we only look up into the rows with the selector set to 1.

[2022-11-02 00:12] lispc commented on #866
Yes that is my second proposal it is more robust / intuitive than first proposal. 2**k-blinding_rows may be a bit complex and error-prone dealing with multi subcircuits?

[2022-11-02 02:13] icemelon commented on #866
This selector column doesn't need to be a fixed column. The only requirement is that constraints are enabled when the selector is set to 1.

[2022-11-02 06:58] han0110 commented on #790
[complete log and fixtures](https://github.com/privacy-scaling-explorations/zkevm-chain/tree/prover-error-7423f8ad5b8c60984fb0892a78b53eaf53a43562/errors)

@pinkiebell PR #872 should make this block provable, tho I couldn't reproduce the keccak errors shown in the log.

[2022-11-02 10:20] pinkiebell commented on #664
At the moment, it's using the `evm-verifier-with-accumulator` example and only aggregates a single proof. Does it make sense to test a different setup where it aggregates all zkevm sub-circuits instead of just the super circuit?

[link to aggregation circuit](https://github.com/privacy-scaling-explorations/zkevm-chain/blob/master/prover/src/aggregation_circuit.rs)

[2022-11-02 10:35] ChihChengLiang commented on #867
I can confirm this is reproducible on my device.

[2022-11-02 10:43] ChihChengLiang commented on #698
Thanks for the contribution @xiaodino!

[2022-11-02 10:43] #698 closed

[2022-11-02 10:46] ed255 commented on #856
We had a meeting with Han, David and me to discuss this.  Here are the notes: https://hackmd.io/0Vj4K1_BR6GX7UV5HSaWsg?view
These were the conclusions:
- We need to remove the blinding factors to implement either shortcut 1 or KZG
- Until we don’t do it, we will have an unsound system (for example, we could implement shortcut 1 with a fixed rand_rpi that doesn’t depend on the raw_public_inputs com

[2022-11-02 15:37] ed255 commented on #868
@lispc thanks for reporting this!  I think there are a few things I missed in the EndBlock PR related to fixed size evm circuit.  I'll try to work on top of @pinkiebell PR to address them

[2022-11-02 16:18] pinkiebell opened #875 "Integration tests failing"
[See workflow](https://github.com/privacy-scaling-explorations/zkevm-circuits/actions/runs/3377880208/jobs/5607397059#step:13:219)

[2022-11-03 06:11] pinkiebell commented on #875
[Another workflow with the same error but more information](https://github.com/privacy-scaling-explorations/zkevm-circuits/actions/runs/3381189420/jobs/5614830134#step:13:247) 🤔

[2022-11-03 06:32] han0110 commented on #664
Do you mean to prove each sub-circuit separately then aggregate and connect them inside the Root circuit? If so I think we'd have an issue for now because currently most shared lookup tables contain RLC values, which doesn't follow the fiat-shamir process.

To make this happen, we have 2 approach:

1. Share transcript among sub-provers:
  Refactor all sub-circuits with challenge API first, then wh

[2022-11-03 16:04] ed255 commented on #749
Resolved by https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/829

[2022-11-03 16:04] #749 closed

[2022-11-03 16:24] ed255 commented on #875
oh, the super circuit integration test takes a long time (like 50 minutes)... I think we'll have to disable it for PRs (a part from fixing the issue), and only let it run once the commit is merged to main.

[2022-11-03 16:54] ed255 commented on #875
I noticed that we're not using the `verify_par()` function from the mock prover!  That should give a significant speed-up on the integration tests when using the super circuit.

[2022-11-04 06:56] ntampakas opened #880 "Implement Testool enhancements in Jenkins"
Suggested be Andria

[2022-11-04 07:20] ntampakas opened #881 "Integration tests workflow: self hosted runner wakeup script is being triggered, but instance does not pick up jobs in some cases"
Due to high memory consumption from integration tests, OOM killer was triggered.
Apart from circuits process, also GH action runner service was killed.

Adjusted on svc: restart=on-failure

[2022-11-04 07:24] ntampakas opened #882 "Testool troubleshooting in jenkins"

[2022-11-04 14:39] #868 closed

[2022-11-04 14:39] #875 closed

[2022-11-04 14:46] ed255 opened #883 "Add more super circuit unit tests"
- multiple txs == MAX_TXS
 - multiple txs < MAX_TXS
 - max_rws padding
 - evm_rows padding

[2022-11-07 04:44] xiaowheat commented on #883
We are working on it.

[2022-11-07 04:44] xiaodino commented on #883
We are working on it.

[2022-11-07 08:51] ChihChengLiang commented on #808
Resolved in #879

[2022-11-07 08:51] #808 closed

[2022-11-07 16:46] JSnobody commented on #867
@ChihChengLiang How to solve it? Do you have any good suggestion?
Thank you!

[2022-11-08 03:47] JSnobody commented on #867
Today, I check the records of recent code submissions, and find some modification about opcode.
So, I roll the code back to half a month ago and try to run. It works OK with committing information as
`commit cbce4db203fef44d7f86383b79917394092902a5 (HEAD)
Author: z2trillion <z2trillion@users.noreply.github.com>
Date:   Wed Oct 19 20:23:33 2022 -0400`

Thus, I think there is a bug about opcode or b

[2022-11-08 04:57] ChihChengLiang commented on #867
Hi @JSnobody,
Thanks for tracking down the bug!

Is it the last commit that successfully passes the check? Is that a result of `git bisect`?
Are you interested in contributing and fixing this bug?

I'm currently busy with some other tasks so still couldn't look into this for some days.

[2022-11-08 06:51] hero78119 commented on #867
Based on `git bisect`, the first commit introducing the bug is
https://github.com/privacy-scaling-explorations/zkevm-circuits/commit/f0c1cf8d4f6e6189cd94838658cd410f482694e5

attach code diff link https://github.com/privacy-scaling-explorations/zkevm-circuits/compare/5549e71...f0c1cf8d

[2022-11-08 09:49] ed255 opened #886 "Review usage of geth API calls"
- Currently we're using the geth API `debug_traceBlockByHash` to get execution traces (with memory disabled, which we reconstruct on our side)
- We're generating a trace of accessed data in the state trie + storage trie on our side currently: https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/93abf023f061c719d8737478b2d87539c517431a/bus-mapping/src/circuit_input_builder/access.rs#

[2022-11-09 02:06] hero78119 commented on #867
`ConstraintSystemFailure` might related to this https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/790#issuecomment-1254931794

[2022-11-09 09:22] ChihChengLiang commented on #815
Let me try to give a quick summary of this issue, after talking to @han0110.

Here's the `call` diagram from the [zkevm-docs](https://privacy-scaling-explorations.github.io/zkevm-docs/design/reversible-write-reversion2.html). A parent call can invoke a child call, and when the child call is completed we go back to the parent call.
![](https://privacy-scaling-explorations.github.io/zkevm-docs/desig

[2022-11-09 10:45] AronisAt79 opened #888 "Create Infra for integration tests with real prover"
devops support for #789

[2022-11-09 17:01] ed255 opened #891 "Review missing parts to make ETH transfers works"
The scope of the current milestone includes supporting ETH transfers.
Currently the integration tests for single and multiple ETH transfers in a block don't pass: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/890

[2022-11-09 19:26] drewstone opened #892 "Example / insight into doing a MPT proof verification for existing state"
Hi,

I'm looking to find (if any) circuits that would be useful in verifying a proof of data in the MPT. I don't want to verify updates to any MPT rather just read data and verify existence. This would ideally be paired with `eth_getProof` in spirit. Is there any insight or examples of verifying state in this repo?

[2022-11-10 00:40] smtmfft commented on #586
Hi, @roynalnaruto , I might misunderstood sth. Is there already a math gadget refactory task which is being done by someone else, or I can do that one by one just like https://github.com/privacy-scaling-explorations/zkevm-circuits/tree/main/gadgets/src??

[2022-11-10 10:26] ed255 commented on #892
Hi @drewstone
We have an MPT circuit in the works, but it isn't ready yet.  You can track it's progress via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/398

Once the MPT circuit is ready it should serve your purpose of proving existence of account fields and storage keys.  You can check the API that the MPT circuit exposes (via a lookup table) here to see the kind of proofs

[2022-11-10 10:56] ed255 commented on #856
Let's keep this issue to track the sound implementation of the Public Inputs Circuit.
Depends on:
- https://github.com/privacy-scaling-explorations/halo2/issues/105

[2022-11-10 12:44] aguzmant103 commented on #790
Next steps: after PR is review, need to merge, need to run the integration tests and check if this issue can be closed.

[2022-11-10 13:10] aguzmant103 commented on #891
- Currently we have integration tests that automatically check on every PR.
- The block doing transfers is disabled on this test.
- The transfers is failing.
- The scope of this issue is reviewing the missing parts and fixing them.

[2022-11-10 13:12] aguzmant103 commented on #891
@han0110  has a PR to fix disables to empty accounts.

[2022-11-10 18:34] #855 closed, assigned to adria0

[2022-11-11 08:52] silathdiir opened #895 "Support non-existing proofs in RwTable for circuit"
Since @ed255 has already implemented it in Spec PR https://github.com/privacy-scaling-explorations/zkevm-specs/pull/291 👍. I suppose if I could try to move it to our Circuit code if no one is working on this (then update the `BALANCE` PR https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/683). Thanks.

[2022-11-11 11:05] ed255 opened #897 "Make the TxTable Tag column fixed (instead of advice)"
See https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/764#issuecomment-1310185413 for reference

[2022-11-11 14:03] smtmfft commented on #586
Cool, I will create a task issue and self assign if no body else has concern :)

[2022-11-12 06:05] smtmfft opened #900 "math gadgets refactory, for better code structure and unit test coverage."
The unit test task was initialized by #586, and we already created a unit test framework PR #865 .
However, as the comment tells.

_Originally posted by @roynalnaruto in https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/586#issuecomment-1296590176_

Now, the math gadgets part should be refactoryed for better code structure. So I create this task issue.

[2022-11-12 06:07] smtmfft commented on #900
To avoid conflict, if nobody else is now working on the refactory, we will do that as we already implemented the math gadget unit test. Otherwise, we can merge the unit test into the refactory branch.

[2022-11-12 10:09] AronisAt79 commented on #790
Hello @Han, @pinkiebell,

i am running a simple l1>l2 deposit Tx and proof generation for the submitted block with following options:

[code]
is now successful.
On the other hand, with circuit:"super", proof fails with:

[code]

I understand the proof failure for circuit:super is known issue right?

Also, when 'aggregate' is set to true (with circuit:pi), proof fails with `Err` value: NotEnoughRow

[2022-11-12 11:07] AronisAt79 opened #901 "Proof generation fails when "aggregate:true" for simple l1>l2 deposit Tx"

[2022-11-12 11:37] pinkiebell commented on #790
Excerpt for the latest prover failure:
[code]

Branch: [prover-error-super-50316653b44b17ea3430258d8877197d9a3467dd](https://github.com/privacy-scaling-explorations/zkevm-chain/tree/prover-error-super-50316653b44b17ea3430258d8877197d9a3467dd)
zkevm-circuits: https://github.com/privacy-scaling-explorations/zkevm-circuits/commit/32166f6a4536107479f9c8bd37d7864f06e7debf

[2022-11-12 11:42] pinkiebell commented on #901
It's a known TODO with the aggregation circuit. Belongs to backlog 👌

[2022-11-12 11:47] AronisAt79 commented on #901
thanks!

[2022-11-13 06:19] xiaodino commented on #897
We are working on it.

[2022-11-13 06:20] xiaodino commented on #897
We are working on it.

[2022-11-14 05:38] Lawliet-Chan opened #904 "Upgrade geth-utils go1.16 to go1.18"
Shall we upgrade go version of [geth-utils](https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/geth-utils/go.mod#L3) to 1.18? Like https://github.com/ethereum/go-ethereum/blob/master/go.mod#L3

[2022-11-14 12:44] lispc commented on #904
no.   We are using geth 1.10.18, which uses go 1.16.    https://github.com/ethereum/go-ethereum/blob/de23cf910b814867d5c5d1ad6164835d79069638/go.mod#L3

If in the future we upgrade geth version, we can recheck go version

[2022-11-15 08:37] #860 closed

[2022-11-15 14:43] #891 closed

[2022-11-16 02:05] lispc commented on #886
another issue is to check whether it is possible to fetch 256 block hashes using one graphQL rather than 256 normal rpcs..

[2022-11-16 09:29] AronisAt79 commented on #790
Hello @ChihChengLiang @han0110 @ed255 @pinkiebell ,

adding here proof test results for EVM & STATE worst case blocks.

[code]

[2022-11-16 15:26] ed255 commented on #785
Hi @maschad, do you have any update on this task?

[2022-11-16 16:57] maschad commented on #785
Hey @ed255 sorry I've been pretty swamped over the last few months, perhaps I should pass this task on to someone else.

[2022-11-16 17:05] ed255 commented on #785
No problem! Thanks for the update, I'll unassign the task for now to signal that no one is currently working on it :)

[2022-11-17 03:58] DreamWuGit opened #909 "implement invalid jump error state circuit"
PR #841 targets this issue !

[2022-11-17 03:59] DreamWuGit opened #910 "implement stack error(overflow & underflow) circuit"
PR #873 targets this issue .

[2022-11-17 04:01] DreamWuGit opened #911 "implement OOG Call error state circuit"
PR #827 targets it.

[2022-11-17 07:02] ntampakas opened #912 "Add diff from previous commit to Jenkins Testool under Reports"

[2022-11-17 07:06] ntampakas opened #913 "Add diff from previous commit to Jenkins Testool under Reports"

[2022-11-17 07:07] #912 closed

[2022-11-17 12:37] aguzmant103 commented on #664
Currently blocked/dependant by #790

[2022-11-17 12:44] aguzmant103 commented on #856
Possible idea: have a local Halo2 but comment ~3 lines of code in the device column. It should unblock

[2022-11-17 12:48] han0110 commented on #856
In case #105 takes too much time to be merged, one can comment out [this line](https://github.com/privacy-scaling-explorations/halo2/blob/5fc8ce89ef3235d8eefeb8994173ac706e89e4ec/halo2_proofs/src/plonk/prover.rs#LL344) to remove the blinding factors in advice columns, and the commitment of advice column should be predictable.

[2022-11-17 13:09] aguzmant103 commented on #650
Besides the above, also unify the name of the functions for how a circuit is configured and assigned. This is helpful to simplify the testnet.

[2022-11-17 15:29] ed255 commented on #650
Here's a summary of the current status:

| circuit  | columns struct     | witness struct      | config constructor            | assign fn                                                      | instance build        |
| ---      | ---                | ---                 | ---                           | ---                                                            | ---                   |
| EVM

[2022-11-18 01:44] lispc commented on #650
another issue is the capacity/size/padding_to/max_rws of circuits.

[2022-11-18 11:01] pinkiebell opened #915 "QA: PI circuit"
The following points need clarification regarding the zkevm-specs and the pi circuit implementation.
- In the zkevm-specs we encode each value with `FQ(v) = v % 0x30644e72e131a029b85045b68181585d97816a916871ca8d3c208c16d87cfd47` to fit into the field.
  In circuits we take the raw value for values that fit safely and otherwise doing `rlc(value, randomness)`.
  Which is king?
  * This issue also ap

[2022-11-18 15:38] ed255 opened #916 "LtChip is missing byte range checks"
The `LtChip` defined in `gadgets/src/less_than.rs` uses this constrain:
`lhs - rhs = diff - lt * 2.pow(8*N)`
where `diff = from_bytes(diff_bytes)` and `diff_bytes: [Column<Advice>; N],`

This constrain is only useful if `diff` is constrained to be between `0` and `2^{8*N}`.  This can be achieved by constraining each element in `diff_bytes` to be between `0` and `2^8`.  Nevertheless this is not con

[2022-11-22 05:56] CPerezz commented on #342
Hey!!! That's nice!! Ping in case you need any help!! 😁😁

[2022-11-22 06:01] ChengYueJia commented on #342
Seems like there some println! are used in test mod. Does it still need to be replaced? @CPerezz

[2022-11-22 06:55] ChengYueJia commented on #342
I've finished. Please have a view if it's fix this issue. @CPerezz

[2022-11-22 11:24] pinkiebell opened #922 "keccak/plain: incremental update() broken"
Using  `keccak256::plain::Keccak` yields different hashes if `update()` is used multiple times for the same data vs updating once with one large vector(same data). Is this indented?

[2022-11-22 12:18] han0110 commented on #922
I think it's a bug, so this padding logic

https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/3b06585106417a398a0af37422dc1fcadf5a614c/keccak256/src/plain.rs#L26-L32

needs to be moved to [`Sponge::squeeze`](https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/3b06585106417a398a0af37422dc1fcadf5a614c/keccak256/src/plain.rs#L151).

[2022-11-23 09:35] #909 closed

[2022-11-23 10:20] han0110 commented on #915
For the first bullet, I think we should not encode values that don't fit in field with `rlc(value, randomness)`, since it just adds more complexity :(  Perhaps what we should do is to split these 256-bits values into hi and lo as input of `rlc_rpi`.

I think it's just for convenience, but @ed255 might know better.

The `randomness` is a challenge inside PLONK to do RLC for EVM words. `rand_rpi` is

[2022-11-23 11:19] ed255 commented on #915
I'm responsible for this and I'm sorry about it!  When I was writing the spec of the public inputs circuit, we had talked about not using the RLC for word and instead splitting words into 2 values (hi and lo).  See https://github.com/privacy-scaling-explorations/zkevm-specs/issues/216 .  So I thought we would soon have that, so as a shortcut I just took words that are used as public inputs and did

[2022-11-23 12:19] pinkiebell commented on #915
Thanks! I will take a chance with option 1 first. That means I first have to adapt the yul code to do the rlc dance 👍

[2022-11-23 13:52] ChihChengLiang opened #924 "Meta: Precompiles"
- [ ] 0x01 ecRecover
- [ ] 0x02 SHA2-256
- [ ] 0x03 RIPEMD-160
- [ ] 0x04 identity
- [ ] 0x05 modexp
- [ ] 0x06 ecAdd
- [ ] 0x07 ecMul
- [ ] 0x08 ecPairing
- [ ] 0x09 blake2f

Playground https://www.evm.codes/precompiled

[2022-11-23 15:03] ed255 commented on #650
I've come up with these two traits that would be used to unify all circuits:
[code]

[2022-11-23 20:19] CPerezz opened #926 "Undesired behaviour of Challenges::mock for testing multi-challenge circuits"
The issue with `Challenges::mock` is that both challenges have the same associated `F` value. This means that you end up using the same randomness everywhere. And so there's no way to know if you placed both challenges in the correct places or not.
Even you distiguish between the different randomness challenges you assign/use to compute witness generation, since the values are the same, it does no

[2022-11-23 21:45] CPerezz commented on #926
Found other weird behaviours. Now that we have different values for both `Challege`s, when the circuit tests are passing for them, when we swap to `Challenges::construct` and we store them in the Config with a tuple containing Config + Challenges (like in BytecodeCircuit), the tests fail again.

[2022-11-24 08:08] ntampakas opened #928 "GH Actions: Integration tests workflow not working as expected"

[2022-11-24 12:11] aguzmant103 commented on #790
@pinkiebell there was a proposal in the scrum meeting to close this task and reopen a new one for the latest error so the description is a bit cleaner of where we are. Are you ok with that?
@han0110  is ok either way

[2022-11-24 12:23] CPerezz commented on #926
This is kinda blocking #925

[2022-11-24 12:26] aguzmant103 commented on #751
Semi blocked by https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/926

[2022-11-24 12:28] aguzmant103 commented on #751
Notes: there are 3 Keccak implementations
- Already migrated bit implementation
- going to do the multi keccak.
- Ignore the 3rd keccak implementation

[2022-11-24 12:35] aguzmant103 commented on #750
Notes: in progress.

While checking the errors there's a poltergeist there. The problem how to assign cells no "advised" columns on phase 1 and phase 2. Can do it manually but t's a nightmare, not very maintainable. Find a way for a solution that is more maintainable.

Discussed some time ago how to stop using the word RLC, we could remove it and split the words into HIGH and LOW. Not sure the cur

[2022-11-24 12:40] aguzmant103 commented on #750
Pending Discussion Notes:

- Remove RLC and change everything to HIGH and LOW?

Future question, if splitting the circuit to different proofs, removing the challenge API has it's benefits.
The challenge API one
- is for word but
- also using it for Keccak inputs, and we have never discussed removing that.
- We also use the challenge API for lookups and haven't discussed removing that.
- We might a

[2022-11-24 12:45] aguzmant103 commented on #664
Basically done but can't test it due to #790

[2022-11-24 12:47] aguzmant103 commented on #854
Transaction table - done
Block table - requires challenges on the EVM circuit.

[2022-11-24 12:54] aguzmant103 commented on #659
Pending:
- Copy circuit
-
- Root circuit?

[2022-11-24 12:58] aguzmant103 commented on #886
Scope: just review it and afterwards create the task needed for implementations.

[2022-11-24 13:27] #840 closed

[2022-11-24 13:28] ChihChengLiang opened #931 "Create structs to avoid manual number increment"
I'd pro ably try to abstract this as would be tough to mantain..
Why don't we have some kind of struct which deals with the complexity and just gives us directly access to all of the fields we're getting.

[code]

Maybe not in this PR, but I belive something like this will make all our stuff much more auditable and mantainable.

_Originally posted by @CPerezz in https://github.com/privacy-scaling-

[2022-11-24 13:40] silathdiir opened #932 "Implement opcode `CALLCODE` in Circuit"
Please help assign this issue to me. Thanks.

Related spec PR has been merged - https://github.com/privacy-scaling-explorations/zkevm-specs/pull/309

Draft circuit PR was sent in forked repository (will refactor and rebase on latest main branch) - https://github.com/scroll-tech/zkevm-circuits/pull/218

[2022-11-24 13:53] #790 closed

[2022-11-24 15:34] kunxian-xia commented on #915
@ed255 Why don't we just use the challenge generated when we finished the synthesize of first phase columns(word bytes) and second phase columns (Word RLC) as the `rand_rpi` ? And there might be some issue with the current pi circuit which does not make the `randomness` for word RLC public, since the contract needs to use it to get the full `raw_public_inputs`.

[2022-11-24 15:38] kunxian-xia commented on #851
The `rand_rpi` must be generated after these words have been synthesized. Therefore, the `rpi_rlc_acc` column will be allocated in third phase, using code like this `let rpi_rlc_acc = meta.advice_column_in(ThirdPhase)`?

[2022-11-24 16:13] ed255 commented on #915
That would be ideal, but from a conversation with Han, I learned that the halo2 proving system first writes the instance (public inputs) to the transcript, and then commits the advice columns which are also written to the transcript.  To calculate the public inputs we need the randomness, which is taken by hashing the transcript after the advice columns have been committed.  So this creates a circ

[2022-11-24 16:54] #926 closed

[2022-11-24 19:55] CPerezz opened #933 "Remove the custom CellManager API defined for Keccak MultiPacked impl"
While migrating `KeccakMultiPacked` circuit  to support the Challenge API, I came across the custom `CellManager` type as well as `CellColumn` and `Cell`, `KeccakRegion` etc...

After chatting with @Brechtpd a bit about that, we belive that even the functionallity is not exactly the same one, we should try to find a way on which we can better abstract the `CellManager` so that we don't have differ

[2022-11-26 01:08] kunxian-xia commented on #851
Are you going to make the `randomness` for Word RLC public? As the smart contract verifier need it to calculate the RLC(word) for tx fields. But there will be some circular dependency, as having `randomness` become the public instance of the pi circuit implies that we need to first send it to transcript.

[2022-11-28 12:27] adria0 opened #940 "`CALL` & `CALL` OOG refactor"
Currently `callop.rs` and `error_oog_call.rs` (and probably more to come) are sharing an important amount of code.
It will be nice to refactor both.

[2022-11-28 17:18] CPerezz opened #941 "Benchmark and decide which keccak implementation variant we keep"
After @Brechtpd implemented the three keccak variants that work with bits and a single region, we run some benchmarks to figure out what would we prefer to keep and what not.

As far as I remember, the `bit` and the `multi-packed` approaches were the most performant ones. But while working on https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/925 I've seen that we use the `packed-

[2022-11-28 17:25] CPerezz opened #942 "Migrate multi-packed keccak witness assignment to `Value<F>` API"
I made an effort to migrate `Part<F>` and `PartValue<F>` and the witness assignment/generation in general  to use the `Value<F>`  struct from halo2 API in https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/925.
During the process, I found several problems on the path that discouraged me from continuing with the task although I think is doable without changes to the Halo2 `Value` A

[2022-11-28 19:13] CPerezz opened #943 "Add benchmarks support for SuperCircuit"
We currently don't have a label that triggers only `SuperCircuit` benchmarks. And this is required in order of for example, accomplish tasks like https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/941.

Therefore, this functionality should be added.

cc: @ntampakas @AronisAt79  I guess the functioning will still be the same as for all other benchmarks right? Do we need to have a

[2022-11-28 23:40] lispc commented on #941
https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/809    Also related to aggregation circuit

[2022-11-29 01:55] lispc opened #945 "discussion: a consistent way to pad circuit rows"
Currently state circuit prepads some "Start" rows **before** "real rows", while evm circuit pads "EndBlock" **after** "real rows".

We did some benchmarks on witness assignment recently, and finds evm circuit witness assignment a bit expensive( when k = 20, it takes ~100s). So we are considering following state circuit design, we also use "prepad Start rows" method to deal with evm circuit, we gue

[2022-11-29 02:07] lispc opened #946 "discussion: how to reconstruct memory for precompiles?"
Previously we remove memory in geth trace since tracing memory can easily result gigabytes of trace json and even hang geth.

But there is one piece still missing: precompile.   We did memory reconstruction for all opcodes but did not handle with precompiles.

I am considering two solutions:

(1) re-compute precompile results locally using crates like https://docs.rs/pallet-evm/latest/pallet_evm/t

[2022-11-29 03:21] ChengYueJia opened #947 "Add units tests for StackOnlyOp in bus-mapping"
There are a lot of stack-only opcodes in bus-mapping.  Meanwhile, the unit tests are few.

As @CPerezz mentioned in #939. Some StackOnly opcodes, like COINBASE,  have been tested associated.
So, we have to specify the stack-only opcodes which need unit tests first.

I  specify them by checking whether they have related Gadget in evm-circuit.
* ones associated with Gadget
  They don't need the unit

[2022-11-29 07:24] CPerezz commented on #947
I'd suggest you to just include in the table the ones that need testing. Also, specify in the issue that you are referring to bus-mapping tests.

[2022-11-29 08:35] AronisAt79 commented on #943
@Carlos Hi Carlos! Yes, the machine is still dedicated to those tests. The super circuit bench profile is implemented in the workflow scripts. I think we re only missing a label of the form "benchmarks: Super", is that correct? Can you try to create the label for your PR of interest?

[2022-11-29 08:43] CPerezz commented on #941
It's weird @lispc as after #813 the current SuperCircuit uses the `packed` not the `multi-packed` which I also agree should be the good one.

Let me run the benchmarks for the SuperCircuit with the three different keccaks to see indeed which is the best one now that the CHallengeAPI is already in. And so, decide finally with that.

[2022-11-29 09:26] lispc commented on #941
wait i think we are using multi_pack now in super circuit? https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/1de7903619dd9fb70d7791de277c5747ebfe953c/zkevm-circuits/src/super_circuit.rs#L60

[2022-11-29 09:36] CPerezz commented on #941
Ohhh yeyeye nevermind... I confused myself. Thanks for pointing this out @lispc !!

[2022-11-29 11:17] CPerezz commented on #867
Isn't this solved by https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/887 already? I think we should close the issue.

cc: @ed255

[2022-11-29 17:14] ed255 opened #949 "Avoid magic numbers for unusable rows"
See https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/937#discussion_r1032758128

We should find a way to avoid hardcoding magic numbers for unusable rows, and instead use the halo2 API to get those numbers for a given circuit.

[2022-11-30 07:32] ChengYueJia commented on #947
Thanks for your suggestion. I've edited them.

[2022-11-30 10:54] han0110 opened #953 "Hide `Circuit` implementation of sub-circuits behind `test` feature"
After https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/937 we no longer need the implementation `Circuit` for sub-circuits in production, it's only required for test and crates `circuit-benchmarks` to benchmark individual sub-circuit, so we should move current implementation into `#[cfg(any(feature = "test", test))] mod test { ... }` to avoid further consumers to use them accide

[2022-11-30 11:36] #751 closed

[2022-11-30 11:47] CPerezz commented on #947
Thanks @ChengYueJia !!
And thanks for picking up this work BTW!! Just ping me when you are done and want a review or if you need some help with anything!

[2022-11-30 12:39] ChengYueJia commented on #947
@CPerezz Hi, there are done. please have a view.

[2022-11-30 14:48] CPerezz commented on #943
The label has been created and it's being used in #941 successfully.

[2022-11-30 14:48] #943 closed

[2022-11-30 14:49] CPerezz commented on #953
I'm totally in favor of that change!

[2022-11-30 14:56] CPerezz commented on #946
I think @ashWhiteHat started the work on the first pre-compile. He's working on the specs now, but could be nice to also check this.

Important questions:
- Will we have type conversion issues? (ie. implementing 1000 type conversions between pallet_evm and our repos types).
- Does the pre-compile memory re-computation process actually return all the things we need? Will we need extra tricks? And i

[2022-11-30 15:05] CPerezz commented on #684
We have now the CHallenge-API. Are we still considering this an issue? Or should I close it?? cc: @ed255 @ChihChengLiang

[2022-11-30 15:32] aguzmant103 commented on #784
@adria0  is this task complete through #804?

[2022-11-30 16:25] ed255 opened #954 "Unify parametrization of circuit sizes"
See https://github.com/privacy-scaling-explorations/zkevm-circuits/issues/650#issuecomment-1319441372

Our current circuits can be parametrized with a maximum number of operations supported:
- TxCircuit: max number of txs
- CopyCircuit: max number of copied bytes
- StateCircuit: max number of rw entries
- ExpCircuit: ?
- EvmCircuit: max number of rows (Evm Steps take a dynamic number of rows)
- MP

[2022-11-30 16:25] ed255 commented on #650
Resolved via https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/937

[2022-11-30 16:26] #650 closed

[2022-11-30 16:27] ed255 opened #955 "Refactor Copy Circuit with challenge API"
Reference example: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/803

[2022-11-30 16:28] ed255 opened #956 "Refactor Exp Circuit with challenge API"
Reference example: https://github.com/privacy-scaling-explorations/zkevm-circuits/pull/803

[2022-11-30 20:29] AronisAt79 opened #957 "Implement multiple ci-runners (self hosted) for parallel ci-actions execution"
Volume of ci-check jobs is greatly increasing. having a single runner instance causes great delays. We need to implement a ci environment consisting of multiple nodes.

[2022-11-30 23:50] d1onys1us opened #958 "feat(all): add license to project"
## Issue description
To quote from https://choosealicense.com/no-permission/:

## Proposed solution
1. Remove the GPL library https://github.com/privacy-scaling-explorations/zkevm-circuits/blob/main/integration-tests/contracts/greeter/Greeter.sol
2. Add a LICENSE to ~/LICENSE.md (ie. MIT, The Unlicense, GPL, CC0)